<div class="clr-row">
  <div class="clr-col-sm-12">
    <div class="card">
      <div class="card-block">
        <div class="card-text">
          <p> Ce sont plus de 300km de pistes et de bandes cyclables qui permettent aux cyclistes de se
            déplacer chaque jour dans Grenoble et son agglomération.</p>
          <p>Pour un trajet de 5km ou moins en ville, le vélo est le moyen de transport le plus
            rapide !</p>
          <p>Vous pouvez télécharger <a href="http://www.metrovelo.fr/551-les-itineraires-cyclables.htm"
              class="lien_externe">les
              plans des pistes cyclables de l'agglomération</a> pour préparer vos itinéraires.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<h3>Location de vélos</h3>
<p><strong>Pour pouvoir circuler, pourquoi ne pas louer un vélo ?<br><br></strong></p><strong>Métrovélo</strong>,
reconnaissable entre tous, il est possible de louer un vélo jaune (tarif – de 25 ans), à la journée (3€), au mois
(15€), au trimestre (36€) ou à l’année (72€). <br><br>Un tarif solidaire est également possible pour les abonnés dont
le quotient familial est inférieur ou égal à 661.<br><br>
<p><strong>Les agences<br><br></strong></p>
<ul>
  <li><strong>Métrovélo Gare - Grenoble</strong></li>
</ul>
Gare SNCF
<ul>
  <li><strong>Métrovélo Campus</strong></li>
</ul>
Tram B, C station Bibliothèques Universitaires
<ul>
  <li><strong>MétrovéloBOX</strong></li>
</ul>
Des consignes individuelles sur 30 sites de la métropole grenobloise<br><br>
<ul>
  <li><strong>En savoir plus :&nbsp;</strong><a href="http://www.metrovelo.fr/" class="lien_externe">Métrovélo<br>
    </a></li>
</ul>
<br>
<h3>Achat de vélo</h3>Hormis les circuits commerciaux classiques d'achat de vélo (grandes surfaces, magasins de
sport), les petites annonces sont une alternative adaptée aux petits budgets des étudiants pour s'équiper d'un nouveau
vélo. <br><br>L'association <strong>Cycles &amp; Go</strong> propose également la vente de vélo remis à neuf dans le
cadre de chantiers d'Insertion.&nbsp;<br><br>
<ul>
  <li><strong>En savoir plus :</strong>&nbsp;<a href="http://www.cycles-go.com"
      class="lien_externe">www.cycles-go.com</a></li>
</ul>
<br><strong>Sur le campus</strong> l'association uN p'Tit véLo dAnS La Tête&nbsp;propose un atelier pour entretenir
son vélo ou la remise en état avec mise à disposition d'outils et conseils pour les adhérents. <br><br>
<ul>
  <li><strong>En savoir plus :&nbsp;</strong><a href="http://www.ptitvelo.net/" class="lien_externe">uN p'Tit véLo
      dAnS La Tête</a></li>
</ul>
<br>
<h3>Parcourir l'Isère à vélo</h3>Idées balades et randonnées, bons plans, infos hébergement, cartes et itinéraires à
télécharger... Le Comité départemental du Tourisme ALPES IS(H)ERE propose sur son site dédié toutes les infos pour
découvrir l'Isère en pédalant.<br><br>
<ul>
  <li><strong>En savoir plus : <a href="http://www.cyclo-alpes.com/" class="lien_externe">Cyclo-Alpes</a></strong>
  </li>
</ul>
<br>
<h3>Rouler en toute sécurité</h3>La Fédération Française des Usagers de la Bicyclette prodigue sur son site tous les
bons conseils pour bien circuler à vélo.<br><br>
<ul>
  <li><strong>En savoir plus : <a href="https://www.fub.fr/" class="lien_externe">FUB</a></strong></li>
</ul>