<div class="clr-row">
  <div class="clr-col-sm-12">
    <div class="card">
      <div class="card-block">
        <div class="card-text">
          <p> Retrouvez tous les services et outils mis à votre disposition pour faciliter vos
            déplacements au sein des campus et dans l'agglomération.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<h1>Les services mobilité sur le campus</h1>

<div class="toolbox fiche__description">
  <h3>MetroVélo</h3>Votre agence de proximité pour louer son vélo à la journée, au
  mois ou l'année !<br><br>
  <ul>
    <li><strong>Lieu</strong></li>
  </ul>
  Avenue Centrale Domaine Universitaire<br>Tram B, C station Bibliothèques Universitaires<br><br>
  <ul>
    <li><strong>Horaires d'ouverture</strong></li>
  </ul>
  du lundi au vendredi de 11h30 à 18h30<br><br>
  <ul>
    <li><strong>En savoir plus :&nbsp;</strong><a
        href="https://campus.univ-grenoble-alpes.fr/fr/menu-principal/installation/transport/a-velo/a-bicyclette--777785.htm?RH=1529486826706"
        class="lien_interne">À vélo</a> / <a href="http://www.metrovelo.fr/" class="lien_externe">Métrovélo</a></li>
  </ul>
  <br>
  <h3>Tabac du campus, relais TAG - Transisère</h3>Pour gérer et votre abonnement et acheter des titres de transport,
  rendez-vous au Tabac du campus.<br><br>
  <ul>
    <li><strong>Lieu</strong></li>
  </ul>
  442 avenue de la Bibliothèque <br>Domaine Universitaire<br>Tram B, C station Bibliothèques Universitaires<br><br>
  <ul>
    <li><strong>Contact</strong></li>
  </ul>
  04 76 63 19 21<br><br>
  <ul>
    <li><strong>Horaires d'ouverture</strong></li>
  </ul>
  du lundi au vendredi de 7h à 19h<br><br>
  <ul>
    <li><strong>En savoir plus :</strong> <a
        href="https://campus.univ-grenoble-alpes.fr/fr/menu-principal/installation/transport/les-transports-en-commun/les-transports-en-commun-dans-la-metropole-grenoble-alpes-777770.htm?RH=1529486826706"
        class="lien_interne">Les transports en commun</a> / <a href="https://www.tag.fr/" class="lien_externe">TAG </a>/
      <a href="https://www.transisere.fr/" class="lien_externe">Transisère</a></li>
  </ul>
  <br>
  <h3>uN p'Tit véLo dAnS La Tête</h3>Sur le campus l'association uN p'Tit véLo dAnS La Tête propose un atelier pour
  entretenir son vélo ou la remise en état avec mise à disposition d'outils et conseils pour les adhérents.<br><br>
  <ul>
    <li><strong>Lieu</strong></li>
  </ul>
  921 rue des résidences<br>Domaine Universitaire<br>Tram B, C stations Gabriel Fauré, Bibliothèques
  Universitaires<br><br>
  <ul>
    <li><strong>Contact</strong></li>
  </ul>
  04 76 54 61 09<br><br>
  <ul>
    <li><strong>Horaires d'ouverture</strong></li>
  </ul>
  mardi : 18h00 à 20h00 : permanences atelier<br>Jeudi : 18h00 à 20h00 : permanences atelier<br><br>
  <ul>
    <li><strong>En savoir plus :&nbsp;</strong><a
        href="https://campus.univ-grenoble-alpes.fr/fr/menu-principal/installation/transport/a-velo/a-bicyclette--777785.htm?RH=1529486826706"
        class="lien_interne">À vélo</a> /&nbsp;<a href="http://www.ptitvelo.net/" class="lien_externe">uN p'Tit véLo
        dAnS
        La Tête</a></li>
  </ul>
  <br class="separateur">
</div>

<h1>Les outils pour vous repérer</h1>

<div class="toolbox fiche__description">
  <h3>Plan des Campus</h3><br>
  <ul>
    <li>Télécharger&nbsp;<a
        href="https://campus.univ-grenoble-alpes.fr/fr/menu-principal/outils/les-outils-pour-vous-reperer/plan-des-campus/"
        class="type_rubrique_0001 lien_interne">les plans des campus</a></li>
  </ul>
  <br>
  <h3>Plan de l'agglomération</h3>
  <p>Chaque station de bus et tramway comporte un plan, il est facile de se repérer à partir de ce lieu pour définir sa
    destination.&nbsp;<br><br>Des plans gratuits de la ville et des transports sont également disponibles dans
    différents points d'information : Gare SNCF, Office de Tourisme, ADIIJ, Agences de mobilité et Points TAG et le
    Welcome center du domaine universitaire.<br>&nbsp;</p>
  <h3>Métromobilité</h3>
  <p style="text-align:justify">C’est l’incontournable pour se déplacer malin et rapide dans l’agglo&nbsp;! Via le web
    ou l’application mobile, vous pouvez connaitre le trafic en temps réel, calculer votre temps de trajets et trouver
    le bon itinéraire quel que soit votre mode de transport.</p><br>
  <ul>
    <li><strong>En savoir plus :</strong> <a href="https://www.metromobilite.fr/" class="lien_externe">Métromobilité</a>
    </li>
  </ul>
  <p style="text-align:justify">&nbsp;</p>
  <h3>WeGoTo</h3>
  <p style="text-align:justify">Développée sur le Domaine Universitaire, <a
      href="http://www.wegoto.eu/index_wegoto.php?lang=fr" class="lien_externe">WeGoTo</a> permet de trouver un
    itinéraire
    adapté en fonction de son profil : mobilité réduite, cycliste, piéton (...) et d’obtenir des informations concernant
    l’accessibilité des lieux.</p><br>
  <ul>
    <li><strong>En savoir plus :</strong>&nbsp;<a href="http://www.wegoto.eu/index_wegoto.php?lang=fr"
        class="lien_externe">WeGoTo</a></li>
  </ul>
  <p style="text-align:justify">&nbsp;</p><br>
  <br class="separateur">
</div>