<div class="clr-row">
    <div class="clr-col-sm-12">
        <div class="card">
            <div class="card-block">
                <div class="card-text">
                    <div class="paragraphe__contenu--0 toolbox">
                        <img src="https://campus.univ-grenoble-alpes.fr/medias/photo/budget-banniere_1557152845976-jpg?ID_FICHE=72249"
                            style="margin : 5px;" alt="" title="Le budget">
                        <div class="fiche__resume">De nombreuses associations et dispositifs sont mis en place sur les
                            campus et dans l'agglomération pour vous apporter un soutien financier.</div>
                        <p>Les solutions en cas de petit budget :</p>
                        <ul>
                            <li>Des dispositifs d'aide pour les&nbsp;<strong>difficultés passagères</strong> ;</li>
                            <li>L'exonération des <strong>frais d'inscription</strong> ;</li>
                            <li>Des abonnements de <strong>transports</strong> adaptés ;</li>
                            <li>Des aides pour la <strong>restauration </strong>et l'achat de denrées ;</li>
                            <li>Des ressourceries pour <strong>se meubler et se vêtir</strong> moins cher.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="article__description" class="toolbox fiche__description">
        <h3><b>L’aide ponctuelle</b></h3>L’aide ponctuelle peut être versée à des&nbsp;étudiants rencontrant des
        <strong>problèmes financiers importants et urgents</strong>&nbsp;afin de leur&nbsp;permettre de
        <strong>poursuivre leurs études</strong>. La gravité de la situation doit être attestée par une évaluation
        sociale. <br><br>Cette aide est cumulable avec une bourse sur critères sociaux, une allocation annuelle, une
        aide à la mobilité internationale, une aide au mérite.&nbsp; <br><br>
        <h5>Qui peut en bénéficier ?&nbsp;</h5>Tout étudiant inscrit en formation initiale auprès d’un établissement ou
        d’une section d’établissement ouvrant droit au régime de sécurité sociale étudiante peut solliciter une aide
        ponctuelle. Si la situation de l’étudiant le justifie, plusieurs aides ponctuelles peuvent exceptionnellement
        être accordées au cours d’une même année universitaire. <br><br>
        <h5>Modalités de versement de l’aide ponctuelle</h5>L’aide ponctuelle est <strong>versée en une seule
            fois</strong>. Le montant maximal d’une aide ponctuelle correspond au montant annuel de l’échelon 1 des
        bourses d’enseignement supérieur sur critères sociaux (soit <strong>1669€ </strong>en 2018/2019). <br><br>Dans
        le cas où plusieurs aides ponctuelles sont accordées au titre de la même année universitaire, le montant cumulé
        des aides ne peut excéder deux fois le montant annuel de l’échelon 1 (soit <strong>3338€)</strong>. Si la
        situation de l’étudiant le justifie, le directeur du CROUS peut autoriser un versement anticipé de l’aide
        ponctuelle sans examen du dossier par la commission mais après une évaluation sociale. <br type="_moz"><br
            type="_moz">
        <h5>Comment faire une demande d’aide d’urgence ponctuelle ?</h5>
        <ul>
            <li>Prise de <strong>rendez-vous</strong> avec l’Assistant Social référent de votre secteur d’études</li>
            <li>Renseignement et transmission au CROUS d’un <strong>dossier avec les justificatifs demandés</strong>
            </li>
            <li><strong>Instruction du dossier </strong>par un assistant social du CROUS référente de votre secteur
                d’études</li>
            <li>Présentation en <strong>commission restreinte</strong></li>
        </ul>
        <br class="separateur">
    </div>

    <div id="article__description" class="toolbox fiche__description">
        <h3>L’allocation annuelle</h3>L'allocation annuelle est une <strong>bourse versée mensuellement</strong> pour
        les publics <strong>hors des critères du Dossier Social Etudiant.&nbsp;</strong><br><br>
        <h5>Qui peut en bénéficier ?</h5>
        <ul>
            <li>les étudiants en situation de <strong>rupture familiale</strong>, élevés par un membre de leur famille
                sans décision judiciaire (autre que les parents),</li>
            <li>les étudiants en situation d’<strong>autonomie avérée</strong> (fiscalement indépendant et sans aide
                parentale),</li>
            <li>les étudiants de plus de <strong>28 ans en reprise d’études</strong> n’ayant pas de ressources,</li>
            <li>les étudiants <strong>français ou ressortissants d’un Etat membre de l’Union Européenne autre que la
                    France, d’un Etat faisant partie de l’Espace économique européen ou de la Confédération Suisse
                    demeurant seul sur le territoire français</strong> et dont les revenus déclarés de la famille
                résidant à l’étranger ne permettent pas d’apprécier le droit à bourse&nbsp;</li>
        </ul>
        <h5><strong><br></strong>Modalités de versement de l'aide&nbsp;</h5>L’attribution<strong> dépend du budget
            mensuel global de l’étudiant</strong> (revenus/dépenses).&nbsp;Cette aide est versée mensuellement<strong>
            pendant 10 mois</strong>. Les montants attribués sont établis selon les mêmes échelons que ceux de la bourse
        sur critères sociaux en procédure classique.<br><br>
        <h5>Comment faire une demande d’aide d’allocation annuelle ?</h5>Pour bénéficier de cette aide, vous devez
        remplir les conditions de diplôme, d’études, de nationalité et ne pas relever des <a
            href="http://www.etudiant.gouv.fr/cid96330/en-bref-les-bourses-sur-criteres-sociaux.html#acc-4-8568-6"
            class="lien_externe">cas d’exclusion prévus par la réglementation</a> relative aux bourses d’enseignement
        supérieur sur critères sociaux.<br><br>Vous devez également remplir les <strong>mêmes conditions
            d’assiduité</strong> qu’un étudiant boursier.<br><br>
        <div class="paragraphe__fond__colore"><strong>Vous devez constituer un</strong><a
                href="https://www.crous-grenoble.fr/demanderunebourse/constituer-votre-dossier-social-etudiant/"
                class="lien_externe"><strong> dossier de bourse</strong></a><strong>&nbsp;pour faire une demande
                d'allocation annuelle.</strong></div>
        <br class="separateur">
    </div>

    <div class="paragraphe__contenu--0 toolbox">
        <div class="fiche__resume">Les différents établissements universitaires de Grenoble proposent des dispositifs
            d'aide et de soutien aux étudiants. En fonction de votre établissement, consultez les aides.</div>
        <h3>Les dispositifs d'aide aux étudiants</h3>
        <h5>Grenoble INP</h5>Grenoble INP propose une aide exceptionnelle d'études. Ces aides, sont attribuées une fois
        par an et leur montant, prélevés sur les fonds de l’établissement, est déterminé chaque année en fonction du
        volume de dossiers présentés, et de l’enveloppe prévue à cet effet dans le budget des services
        d’établissement.<br><br>Ces aides s’adressent aux étudiants en grande difficulté financière, inscrits en école
        d’ingénieur - formation ingénieur et master à Grenoble INP, qui en font la demande.<br><br>
        <ul>
            <li><strong>En savoir plus :</strong> <a
                    href="http://www.grenoble-inp.fr/fr/vie-etudiante/le-financement-des-etudes" class="lien_externe">Le
                    financement des études - Grenoble INP</a></li>
        </ul><br type="_moz">
        <h5>Sciences Po Grenoble</h5>Le Conseil d’Administration de Sciences Po Grenoble a créé en 2001 un fonds de
        solidarité, c’est-à-dire une aide financière pour les boursiers et les non boursiers.<br><br>Ce fonds a pour
        vocation d’accorder une aide à des étudiants en réelles difficultés financières bien que ne bénéficiant pas
        d’une bourse du CROUS, bourse au mérite, bourse Région Rhône-Alpes, bourse d’un département, d’une ville. Les
        boursiers en grandes difficultés peuvent également faire une demande exceptionnelle.<br><br>
        <ul>
            <li><strong>En savoir plus :</strong> <a
                    href="http://www.sciencespo-grenoble.fr/vie-etudiante/accompagnement-etudiants-en-difficulte/"
                    class="lien_externe">Fonds de solidarité - Sciences Po Grenoble</a></li>
        </ul><br type="_moz">
        <h5>ENSAG</h5>L’ENSAG a mis en place un dispositif d’aide d’urgence : les étudiants en difficulté sont orientés
        vers l’assistante sociale du CROUS, laquelle peut transmettre à l’école une proposition d’attribution d’une aide
        de 100, 150 ou 200 €. Cette aide, qui n’est pas récurrente, n’a pas vocation à se substituer à une bourse. Une
        trentaine d’étudiants en bénéficient chaque année.<br><br>Le Ministère de la Culture a mis en place le Fonds
        National d’Aide d’Urgence Annuelle Culture dit FNAUAC. Sont éligibles des demandeurs de bourses CROUS dont la
        demande a été rejetée. Le circuit de la demande inclut le passage par l'assistante sociale du Crous qui donne
        son avis. Peu d'étudiants ENSAG sont concernés.<br><br>
        <ul>
            <li><strong>En savoir plus :</strong> <a href="http://www.grenoble.archi.fr/index.php"
                    class="lien_externe">Contacter l'ENSAG</a></li>
        </ul><br>
        <div class="paragraphe__fond__colore"><strong>Voir aussi</strong> : L'association "<a
                href="http://www.grenoble.archi.fr/vie-etudiante/vie-associative.php#+la-coop" class="lien_externe">La
                Coop</a>", gérée par des étudiants, propose sur place du petit matériel au meilleur prix. L'<a
                href="http://www.grenoble.archi.fr/documentation/actualites-doc.php" class="lien_externe">espace
                documentation</a> avec ses 16 500 ouvrages et 386 périodiques permet de réduire au minimum ce budget
            documentation.</div>
    </div>

    <div class="paragraphe__contenu--0 toolbox">
        <div class="fiche__resume">Des dispositifs d'aide au financement des droits d'inscription et d'exonération des
            frais sont prévus dans la plupart des établissements de l'enseignement supérieur. Consultez les critères
            d'application de ces dispositifs.</div>
        <h3>Financement des droits d’inscription</h3>
        <h5>Paiement en plusieurs fois</h5>
        <p>Certaines scolarités peuvent proposer un règlement des frais d’inscription en plusieurs fois, il faut se
            renseigner auprès du service de scolarité de votre&nbsp;<a
                href="https://campus.univ-grenoble-alpes.fr/fr/menu-principal/outils/les-composantes-universitaires/les-composantes-des-universites-de-grenoble-791373.htm?RH=1555489361016"
                class="lien_interne">établissement</a>.</p>
        <h5>Exonération</h5>
        <p>Si vous êtes dans une <strong>situation financière délicate</strong>, une exonération des droits peut être
            étudiée par l’établissement par une commission spécifique.&nbsp;<br><br>Cette exonération peut également
            s'appliquer au cas des <strong>étudiants réfugiés et demandeurs d'asile</strong>.<br><br>Pour connaître les
            <strong>critères d'application de l'exonération</strong> des frais de scolarité, vous pouvez trouver des
            informations auprès de votre établissement :<br>&nbsp;</p>
        <ul>
            <li><a href="https://www.univ-grenoble-alpes.fr/candidater-et-s-inscrire/etape-3-inscription-administrative/les-autres-demarches-administratives/demander-l-exoneration-de-vos-droits-d-inscription/demander-l-exoneration-de-vos-droits-d-inscription-521297.kjsp?RH=1531488096146"
                    class="lien_externe">Université Grenoble Alpes</a></li>
            <li><a href="http://www.grenoble-inp.fr/fr/formation/2018-informations-relatives-aux-exonerations-des-droits-de-scolarite"
                    class="lien_externe">Grenoble INP</a></li>
            <li><a href="http://www.sciencespo.fr/students/fr/financer/droits-scolarite/situations-particulieres/dispositions-derogatoires"
                    class="lien_externe">Sciences Po Grenoble</a></li>
            <li><a href="http://www.grenoble.archi.fr/etudes/conditions-admission.php#+recours"
                    class="lien_externe">ENSAG</a></li>
        </ul><br>Si vous ne trouvez pas les informations que vous cherchez, vous pouvez contacter votre <a
            href="https://campus.univ-grenoble-alpes.fr/fr/menu-principal/outils/les-composantes-universitaires/les-composantes-des-universites-de-grenoble-791373.htm?RH=1555489361016"
            class="lien_interne">établissement </a>ou venir nous voir au <a
            href="https://campus.univ-grenoble-alpes.fr/fr/menu-principal/services/icampus-welcome-center/des-engagements-pour-toujours-mieux-repondre-aux-attentes-et-aux-besoins-des-etudiants-782959.htm?RH=1555489361016&amp;RF=1550656792406"
            class="lien_interne">Welcome Center</a> pour obtenir de l'aide.<br><br type="_moz">
    </div>

    <div id="article__description" class="toolbox fiche__description">
        <h3>Tarification solidaire - TAG</h3>Le réseau <a
            href="https://campus.univ-grenoble-alpes.fr/fr/menu-principal/services/les-partenaires-icampus/tag-transports-de-l-agglomeration-grenobloise-780542.htm?RH=1555489391676"
            class="lien_interne">TAG&nbsp;</a>applique une tarification solidaire en fonction du quotient familial des
        usagers du réseau.<br><br>Cette tarification vous permet d'acheter <strong>mensuellement </strong>votre
        abonnement à un tarif adapté à vos ressources.<br>
        <h5>Qui peut en bénéficier ?</h5>Toute personne peut prétendre à cette tarification.<br><br>Pour en bénéficier,
        vous devez avoir un quotient familial Caf inférieur ou égal à 675. <br><br>En fonction de la tranche dans
        laquelle vous vous situez le coût de votre abonnement mensuel peut être de <strong>2,50€</strong> par mois à
        <strong>19,70€</strong>.<br><br>
        <h5>Quelles sont les démarches pour en bénéficier ?</h5>
        <ul>
            <li><strong>Si vous êtes allocataire Caf&nbsp;</strong></li>
        </ul><br type="_moz">Présentez-vous en <a
            href="https://campus.univ-grenoble-alpes.fr/fr/menu-principal/services/les-partenaires-icampus/metromobilite-780578.htm?RH=1555489391676"
            class="lien_interne">agence de Mobilité</a> muni des pièces justificatives suivantes :<br>
        <ol>
            <li>l'attestation de paiement CAF du mois en cours ou précédent ;</li>
            <li>une pièce d'identité ;</li>
            <li>votre carte OùRA! si vous en possédez une ;</li>
            <li>pour les moins de 25 ans uniquement : l’original du dernier avis d'imposition sur le revenu à votre nom
                et le livret de famille.</li>
        </ol>
        <div class="paragraphe__fond__colore"><strong>Etudiants internationaux<br></strong>Les étudiants internationaux
            de moins de 25 ans logés au CROUS peuvent s'adresser au <a
                href="https://campus.univ-grenoble-alpes.fr/fr/menu-principal/services/les-lieux-de-service/service-social-782931.htm?RH=1555489391676"
                class="lien_interne">service social</a> afin de faire une demande de tarification solidaire. La
            déclaration d'impôt est nécessaire, par conséquent la demande ne pourra se faire que la deuxième année de
            résidence en France.<br>Les étudiants internationaux de plus de 25 ans peuvent se présenter directement en
            agence mobilité munis de leur justificatifs CAF.</div><br type="_moz">
        <ul>
            <li><strong>Si vous n'êtes pas allocataire Caf</strong></li>
        </ul><br type="_moz">Rapprochez-vous de la mairie ou du CCAS de votre commune, afin que votre quotient familial
        soit calculé, muni des pièces justificatives suivantes :<br>
        <ol>
            <li>une pièce d'identité ;</li>
            <li>votre livret de famille ;</li>
            <li>un justificatif de domicile de moins de 3 mois ;</li>
            <li>l’original du dernier avis d'imposition sur le revenu à votre nom.</li>
        </ol><br type="_moz">
        <ul>
            <li><strong><strong>Pour les personnes de moins de 25 ans fiscalement rattachées à leurs
                        parents&nbsp;</strong></strong></li>
        </ul><br>Si vos parents sont allocataires Caf et bénéficient de prestations : rendez-vous en&nbsp;<a
            href="https://campus.univ-grenoble-alpes.fr/fr/menu-principal/services/les-partenaires-icampus/metromobilite-780578.htm?RH=1555489391676"
            class="lien_interne">agence de Mobilité</a>&nbsp;avec l’attestation de paiement Caf de vos parents et votre
        pièce d’identité ;<br><br>Si votre nom ne figure pas sur l’attestation Caf de vos parents : vous devez fournir
        l’original du dernier avis d’imposition sur le revenu de vos parents et votre livret de famille ;<br><br>Si vous
        ou vos parents n’êtes pas allocataire Caf : rendez-vous dans votre mairie ou au CCAS de votre lieu de résidence
        afin que le calcul de votre quotient familial soit effectué, muni de l’original du dernier avis d’imposition sur
        le revenu de vos parents, votre livret de famille et votre pièce d’identité.
        <br class="separateur">
    </div>

    <div id="article__description" class="toolbox fiche__description">
        <h3>Métrovélo</h3>Les agences métrovélo vous proposent de <strong>louer un vélo</strong> pour une durée pouvant
        aller d’1 jour à 1 an.<br><br>Selon la durée de votre location et de votre situation, les tarifs varient. Des
        <strong>tarifs solidaires</strong> sont également proposés.<br><br>
        <ul>
            <li>1 jour : <strong>3€</strong></li>
            <li>1 mois : <strong>8€</strong></li>
            <li>1 trimestre : <strong>16€</strong></li>
            <li>1 an : <strong>48€</strong></li>
            <li>Caution : <strong>100€</strong>&nbsp;</li>
        </ul>
        <h5 style="text-align: left;">Comment en bénéficier ?</h5>
        <div style="text-align: left;">Si votre quotient familial est inférieur à 661, vous pouvez bénéficier d'un tarif
            solidaire.<span style="background-color: rgb(255, 0, 0);"><br><br></span></div>
        <ul>
            <li><strong>En savoir plus :</strong>&nbsp;<a href="http://www.metrovelo.fr/560-abonnements-et-tarifs.htm"
                    class="lien_externe">Métrovélo</a>.</li>
        </ul>
        <h3>uN p'Tit véLo dAnS La Tête</h3>L'association&nbsp;uN p'Tit véLo dAnS La Tête propose à ses
        <strong>adhérents</strong> de les aider dans la <strong>réparation de leur vélo</strong>. Ce service est gratuit
        et vous permet d'entretenir votre vélo avec les <strong>pièces mises à disposition</strong>.<br><br>Vous pouvez
        également <strong>acheter un vélo entre 30 et 80€</strong> en fonction de son état et de son équipement.<br><br>
        <ul>
            <li><strong>En savoir plus :</strong>&nbsp;<a href="http://www.ptitvelo.net/" class="lien_externe">uN p'Tit
                    véLo dAnS La Tête</a></li>
        </ul>
        <br class="separateur">
    </div>

    <div class="paragraphe__contenu--0 toolbox">
        <div class="fiche__resume">Si vous rencontrez des difficultés à constituer un budget pour votre alimentation,
            vous pouvez trouver des soutiens auprès du CROUS et des différents acteurs solidaires de l'agglomération.
        </div>
        <h3>Le CROUS Grenoble Alpes</h3>
        <h5>Last call</h5>
        <p>L'opération<a
                href="https://www.crous-grenoble.fr/actualite/last-call-crous-sengage-lutte-contre-gaspillage-alimentaire/"
                class="lien_externe"> Last Call</a> c'est chaque jour, des produits invendus de qualité à des prix très
            attractifs mis à votre disposition.<br><br>Le principe est simple : dès la fermeture des points de
            restauration CROUS, tous les produits en DLC courte (date limite de conservation) des cafétérias du campus
            seront acheminés au libre-service <a href="http://www.crous-grenoble.fr/restaurant/ru-lintermezzo/"
                class="lien_externe">l’Intermezzo</a>. Ils vous seront ensuite proposés au prix de 1€ seulement.
            <br><br>Dès 19h00 et jusqu’à 20h00 dans votre Libre-Service Intermezzo.&nbsp;<br>&nbsp;</p>
        <h5>Le service social</h5>Si vous ne parvenez plus à payer vos <a
            href="https://campus.univ-grenoble-alpes.fr/fr/menu-principal/quotidien/vie-pratique/la-restauration/ou-manger-sur-les-campus-et-dans-l-agglo--777793.htm?RH=1555489479879"
            class="lien_interne">repas CROUS</a> et qu'il vous est difficile de subvenir à vos besoins. Vous pouvez
        prendre rendez-vous avec un assistant social du CROUS Grenoble Alpes pour trouver une solution adaptée à votre
        situation.<br><br><a href="https://mesrdv.etudiant.gouv.fr/fr" class="lien_externe">Prendre
            rendez-vous<br></a><br>
        <h3>L'AGORAé</h3>Il s’agit d’une épicerie sociale et solidaire accessible sur critères sociaux : les étudiants
        bénéficiaires, dont le dossier d’attribution a été examiné par l’équipe AGORAé et par un assistant social de
        l’Université ou du CROUS, peuvent y trouver des produits alimentaires, d’entretien ou encore des fournitures
        scolaires à des prix très réduits (entre 10 et 20% par rapport aux prix pratiqués dans les commerces
        classiques).<br><br>L'épicerie solidaire AGORAé s'installera fin septembre 2019 à <a
            href="http://www.crous-grenoble.fr/restaurant/ru-lintermezzo/"
            class="lien_externe">l'Intermezzo</a>.<br><br>En attendant l'ouverture, vous pouvez consulter la <a
            href="https://www.facebook.com/AGORAeUGA/" class="lien_externe">page Facebook de l'AGORAé</a>.<br><br>
        <h3>Distribution, colis alimentaires et frigos solidaires</h3>De nombreux acteurs de l'agglomération grenobloise
        proposent des denrées alimentaires à des prix très bas afin de permettre aux personnes en difficultés de
        continuer à se nourrir correctement.<br><br>
        <ul>
            <li><strong>Consultez la liste des </strong><a
                    href="https://campus.univ-grenoble-alpes.fr/medias/fichier/distribution-colis-07-2019_1563976835788-pdf?ID_FICHE=79210"
                    title="Télécharger 'Points de distribution et colis' [PDF - 1 Mo]" class="lien_interne">points de
                    distribution</a><strong>.<br> </strong></li>
        </ul>
        <h3><strong><br></strong>Lieux de restauration</h3>Des organismes solidaires proposent des lieux de restauration
        dans lesquels il est possible de manger gratuitement ou à moindre frais.<br><br>
        <ul>
            <li><strong>Consultez la liste des</strong>&nbsp;<a
                    href="https://campus.univ-grenoble-alpes.fr/medias/fichier/lieux-restauration-07-2019_1563976709518-pdf?ID_FICHE=79210"
                    title="Télécharger 'Accueils alimentaires' [PDF - 948 Ko]" class="lien_interne">lieux de
                    restauration</a><strong>.</strong></li>
        </ul>
    </div>

    <div class="paragraphe__contenu--0 toolbox">
        <div class="fiche__resume">Que ce soit pour l’ameublement, l’électroménager, les vêtements, la vaisselle et les
            livres… plusieurs associations de l'agglomération grenobloise proposent des articles à des prix peu élevés
            pour les petits budgets.</div>
        <h3>Les associations étudiantes</h3>Certaines associations étudiantes ou de composantes proposent des
        équipements à petits prix ou gratuits.&nbsp;<br><br>
        <ul>
            <li>La <a href="https://www.facebook.com/Association.IntEGre/" class="lien_externe">gratuiterie
                    d'IntEGre</a></li>
            <li><a href="https://www.facebook.com/grandcercle/" class="lien_externe">Grand Cercle</a> Grenoble INP</li>
        </ul><br>N'hésitez pas à vous renseigner auprès de votre composante pour savoir si d'autres associations
        proposent des ressources et à consulter les pages facebook pour dénicher des bons plans.<br type="_moz"><br
            type="_moz">
        <h3>Emmaüs</h3>Emmaüs récupère des dons tels que&nbsp;des meubles, de la vaisselle, des bibelots, des livres,
        des vêtements, de l'électroménager, etc... et les revend dans 3 boutiques situées dans toute
        l'agglomération.<br><br>Les prix proposés par Emmaüs sont peu élevés et une <strong>remise de 20% est appliquée
            aux étudiants</strong> sur présentation de leur carte étudiant.<br><br>
        <ul>
            <li><strong>En savoir plus : </strong><a
                    href="https://campus.univ-grenoble-alpes.fr/fr/menu-principal/services/les-partenaires-icampus/emmaus-grenoble-784518.htm?RH=1555489958869"
                    class="lien_interne">Emmaüs</a></li>
        </ul><br type="_moz">
        <h3>Ulisse Grenoble Solidarité</h3>La ressourcerie d'Ulisse revend des vêtements, de la vaisselle, des
        accessoires de puériculture, du matériel multimédia (TV, téléphone, ordinateur...), des meubles, des livres et
        des produits de loisirs.<br><br>La revente des produits au sein des 3 boutiques de l'agglomération vise à
        favoriser une économie locale et solidaire à petit prix.<br><br>
        <ul>
            <li><strong>En savoir plus :</strong>&nbsp;<a
                    href="https://campus.univ-grenoble-alpes.fr/fr/menu-principal/services/les-partenaires-icampus/ulisse-grenoble-solidarite-780789.htm?RH=1555489958869"
                    class="lien_interne">Ulisse Grenoble Solidarité</a></li>
        </ul><br type="_moz">
        <h3>La remise</h3>La remise propose des articles de prêt-à-porter et de seconde main. Tous les produits vendus
        par la remise ont été triés et revalorisés par les membres de l'association.<br><br>Les tarifs sont appliqués en
        fonction de la typologie de produit et de leur vétusté.<br><br>La remise propose également une aide ponctuelle
        pour les personnes en grande difficulté.<br><br>
        <ul>
            <li><strong>En savoir plus :</strong> <a href="http://laremise-asso.org/" class="lien_externe">La remise</a>
            </li>
        </ul><br type="_moz">
        <h3>La Croix-Rouge</h3>La Croix-Rouge de Grenoble propose de nombreux dispositifs d'aide et apporte notamment
        son soutien aux personnes en difficultés matérielles et financières.<br><br>Elle offre un service d'aide
        vestimentaire, d'accès à la culture et au patrimoine ainsi que des aides alimentaires.<br><br>
        <ul>
            <li><strong>En savoir plus :</strong> <a href="https://hub.croix-rouge.fr/?str=grenoble"
                    class="lien_externe">La Croix Rouge</a></li>
        </ul>
    </div>