<div class="clr-row">
  <div class="clr-col-sm-12">
    <div class="card">
      <div class="card-block">
        <div class="card-text">
          <div class="fiche__resume">Si un problème se pose avec le propriétaire, il existe différentes associations
            pouvant
            informer et conseiller sur les droits et devoirs du locataire.
          </div>
          <div class="paragraphe__citation">Le conseil : Si votre propriétaire vous fait des misères, il faut quand même
            continuer à payer son loyer&nbsp;au risque de vous mettre à votre tour en défaut face à la loi !
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="paragraphe__contenu--0 toolbox">

  <h3>L'ADIL, partenaire de iCampus</h3>Association Départementale d'Information sur le Logement informe sur le droit
  des locataires et vous aiguille vers les bons interlocuteurs. Vous pouvez rechercher votre problématique <a
    href="https://www.adil38.org/votre-projet/" class="lien_externe">directement en ligne</a> en affinant votre profil
  et
  le types d'informations que vous souhaitez recevoir.<br><br>L'ADIL a également en charge le signalement des <a
    href="https://www.adil38.org/fileadmin/Sites/Site_de_l_ADIL_38/Adil_Isere_publications/Guide_logement_decent_2019_CAF38.pdf"
    class="lien_externe">logements non-décents</a> dans l'agglomération.<br><br>
  <ul>
    <li><strong>En savoir plus :</strong> <a href="http://www.adil38.org" class="lien_externe">www.adil38.org</a></li>
  </ul>
  <h3>Besoin d'aide ?</h3>Mauvais comportements du propriétaire, discriminations, logement insalubre ? Des acteurs sont
  là pour vous accompagner afin de faire valoir vos droits :<br>
  <ul>
    <li>Confédération Nationale du Logement :<b> <a href="http://www.lacnl.com/" class="lien_externe">CNL</a>&nbsp;<br>
      </b></li>
    <li><b> </b>Consommation Logement et Cadre de Vie :<b> <a href="http://www.clcv.org/"
          class="lien_externe">CLCV</a>&nbsp;<br>
      </b></li>
    <li><b> </b>Union Fédérale des Consommateurs Que Choisir : <a href="https://grenoble.ufcquechoisir.fr/"
        class="lien_externe"><strong>UFC</strong></a></li>
    <li>Assistance juridique :&nbsp;<strong><a
          href="http://www.grenoble.fr/thematique/70/659-accompagnement-juridique.htm" class="lien_externe">Ville de
          Grenoble</a></strong></li>
    <li>Le défenseurs des droits :<b>&nbsp;</b><strong><a href="https://www.defenseurdesdroits.fr/"
          class="lien_externe">Défenseur des droits</a></strong></li>
    <li>Service hygiène, salubrité et environnement de la ville de Grenoble&nbsp;: <strong><a
          href="http://www.grenoble.fr/demarche/588/659-intervention-du-service-hygiene-salubrite-environnement.htm"
          class="lien_externe">Ville de Grenoble</a></strong></li>
    <li>Syndicats et associations étudiants<strong> </strong>:<strong> <a href="https://eve-grenoble.fr/la-pepiniere"
          class="lien_externe"><strong>Pépinière
            d'Initiatives EVE</strong></a></strong></li>
  </ul>
</div>