<div class="paragraphe__contenu--0 toolbox">
    <div class="clr-row">
        <div class="clr-col-sm-12">
            <div class="card">
                <div class="card-block">
                    <div class="card-text">
                        <div class="fiche__resume">Quelles sont les principales dépenses pour s'installer à Grenoble et
                            les frais de la vie
                            quotidienne à prévoir pour l'année universitaire ?</div>
                        <div class="paragraphe__citation">Le budget étudiant nécessite de prévoir ses dépenses en
                            fonction de ses
                            ressources. Retrouvez tous les conseils pour optimiser votre budget.</div><br>Le budget
                        moyen mensuel de
                        l'étudiant est d'environ <strong>750€ par mois</strong> :
                        <ul>
                            <li><strong>Loyer :</strong> 350€ en moyenne</li>
                            <li><strong>Électricité et eau :</strong> 30 à 60€</li>
                            <li><strong>Internet / téléphone :</strong> de 2€ à 35€</li>
                            <li><strong>Alimentation :</strong> environ 300€ (1 repas CROUS = 3,30€)</li>
                            <li><strong>Transport</strong> : 15€&nbsp;</li>
                            <li><strong>Loisirs / habillement :</strong> 100€<br> &nbsp;</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="article__description" class="toolbox fiche__description">
        <h3>Les frais de scolarité</h3>
        <div style="text-align: left;text-align: righttext-align: left">
            <p>Le ministère fixe chaque année des frais de scolarité par décret :<br>&nbsp;</p>
            <ul>
                <li>Licence, DUT, classes préparatoires : <strong>170 €</strong></li>
                <li>Master&nbsp;: <strong>243 €<br> </strong></li>
                <li>Doctorat&nbsp;: <strong>380 €<br> </strong></li>
                <li>Ecole d’ingénieur&nbsp;: <strong>601 €</strong></li>
            </ul><em><a href="https://www.service-public.fr/particuliers/vosdroits/F2865" class="lien_externe"><br>Tous
                    les frais de scolarité 2019</a></em>&nbsp;<br>
            <p><br>Le paiement se fait normalement en une fois mais certaines scolarités peuvent accorder des facilités
                de paiement en plusieurs fois selon la situation sociale.<br><strong><br></strong></p>
            <div class="paragraphe__fond__colore"><strong>Exonération :</strong><br>- Les étudiants boursiers
                bénéficient d'une exonération des droits de scolarité. <br>- Un étudiant qui compte faire une année de
                césure peut aussi, sous certaines conditions, bénéficier de l'exonération des frais d'inscription.<br>-
                Dans certains cas une exonération partielle peut être demandée, contacter la <a
                    href="https://campus.univ-grenoble-alpes.fr/fr/menu-principal/outils/les-composantes-universitaires/les-composantes-des-universites-de-grenoble-791373.htm?RH=1529486419432"
                    class="lien_interne">scolarité de son établissement</a>.</div>
            <h5>Étudiants internationaux</h5>
            <ul>
                <li>Si vous envisagez de faire vos études à <strong>Sciences Po Grenoble</strong> ou à
                    l’<strong>ENSAG</strong>, rien ne va changer, ces établissements ne sont pas concernés par cette
                    réforme.</li>
                <li>Si vous envisagez de faire vos études à l’<strong>Université Grenoble Alpes</strong> ou à
                    <strong>Grenoble INP</strong> en 2019, sous réserve d'avoir fait une demande d'exonération, vous
                    paierez des frais d'inscription identiques à ceux proposés en 2018. Il n'y aura pas d'augmentation
                    par rapport à la situation actuelle.</li>
            </ul><strong><br>En savoir plus :</strong> <a
                href="https://www.campusfrance.org/fr/cout-etudes-superieures-france-frais-inscription"
                class="lien_externe">Campus de France</a><br type="_moz"><br type="_moz">
            <h3>La Contribution Vie Etudiante et vie de Campus - CVEC</h3>La CVEC est une taxe de <strong>91€</strong>
            qui permet de financer l'offre de services aux étudiants.<br><br>Chaque étudiant, français ou <a
                href="https://www.campusfrance.org/fr/les-10-choses-a-savoir-sur-la-contribution-vie-etudiante-et-de-campus-cvec-0"
                class="lien_externe">étranger</a>, en formation initiale dans un établissement d’enseignement supérieur
            doit obligatoirement obtenir son attestation d'acquittement de la contribution vie étudiante et de campus
            par paiement ou exonération avant de s’inscrire dans son établissement.<br><br>
            <ul>
                <li><strong>En savoir plus sur la</strong> <a
                        href="https://campus.univ-grenoble-alpes.fr/fr/menu-principal/installation/budget/les-taxes-et-impots/la-cvec-779179.htm?RH=1529486419432"
                        class="lien_interne">CVEC</a>, son fonctionnement, ses cas d'exonération...</li>
            </ul>
        </div>
        <br class="separateur">
    </div>
    <div id="article__description" class="toolbox fiche__description">
        <h3>Le Budget logement</h3>
        <h5><b>Attention au 1er mois !</b></h5>
        <p>Le dépôt de garantie, les frais d'agence le cas échéant, l'assurance habitation, frais d'ouverture de compte
            pour l'électricité et le gaz, l'eau, la ligne téléphonique, internet ...&nbsp; Le logement est le premier
            poste budgétaire de l'étudiant.</p>
        <h5><strong> Lors de l'installation&nbsp;</strong></h5>
        <ul>
            <li>
                Dépôt de garantie : <strong>1 mois de loyer (2 mois maximum pour les logements meublés)<br> </strong>

            </li>
            <li>
                Frais d'agence immobilière : <strong>pour Grenoble et l'agglomération, le plafond est de 10€/m2 (pour
                    l'état des lieux, 3€/m2)<br> </strong>
            </li>
            <li>
                Frais assurance habitation : <strong>entre 50 et 100€ par an </strong>(selon le type de logement)
            </li>
        </ul>
        <h5><strong> Les loyers&nbsp;</strong></h5>
        <ul>
            <li>
                En résidence universitaire du <a href="http://www.crous-grenoble.fr/demanderunlogement/"
                    class="lien_externe">CROUS</a><i> </i>: de <strong>150 à 430€&nbsp;/ mois hors charges </strong>

            </li>
            <li>
                En résidence étudiante privée : de <strong>250 à 840€ / mois&nbsp;</strong>
            </li>
            <li>
                Location d'un studio (parc locatif privé) : environ <strong>380€ / mois</strong>
            </li>
            <li>
                Chambre dans un appartement en colocation :<strong> environ 350€</strong>
            </li>
            <li>Location d'une chambre chez l'habitant (parc locatif privé) : environ <strong>300€ / mois</strong></li>
        </ul><br>Selon la situation familiale ou personnelle <a
            href="https://campus.univ-grenoble-alpes.fr/fr/menu-principal/installation/budget/les-aides-au-logement/les-aides-de-la-caf-779009.htm?RH=1529486419432"
            class="lien_interne">une aide au logement de la CAF</a> est possible. Attention ! Bien se renseigner auprès
        de ses parents avant de faire une demande, cela peut entraîner des pertes d'allocations versées à la famille.
        <h3>Le budget transport</h3>
        <h5>Réseau des bus et tramways</h5>
        <ul>
            <li>
                Abonnement TAG annuel à <strong>150€</strong> (tarif au 1er septembre 2018) pour les jeunes de 18 à
                24 ans, 194 € pour les moins de 18 ans.
            </li>
            <li>Tarification solidaire selon <strong>quotient familial</strong> : se renseigner auprès de la <a
                    href="https://www.tag.fr/68-tarification-solidaire.htm" class="lien_externe">TAG</a>.</li>
        </ul><strong><br>Plus d'infos</strong> également auprès du <a
            href="https://campus.univ-grenoble-alpes.fr/fr/menu-principal/services/les-lieux-de-service/service-social-782931.htm?RH=1529486419432"
            class="lien_interne">service social du CROUS</a>
        <p>&nbsp;</p>
        <h5>Réseau SNCF</h5>
        <ul>
            <li>Train : <a href="https://www.ter.sncf.com/auvergne-rhone-alpes/offres/tarifs/illico-liberte-jeune"
                    class="lien_externe">Carte Auvergne-Rhône-Alpes Illico LIBERTE JEUNES</a> (- de 26 ans) :
                <strong>15€ / année</strong></li>
        </ul>
        <ul>
            <li>
                Train :&nbsp;<a href="https://www.oui.sncf/train/carte-abonnement-train" class="lien_externe">Carte
                    Jeune</a> (de 12 à 27 ans) : <strong>49</strong><strong>€ / année<br> <br> </strong>
            </li>
        </ul>Pour évaluer le coût mensuel des trajets de trains, <a
            href="https://www.sncf.com/fr/offres-voyageurs/carte-et-tarifs-ter" class="lien_externe">consultez les
            tarifs</a> appliqués à vos trajets en fonction des réductions auxquelles vous avez droit et le nombre de
        fois que vous souhaitez emprunter le train.<h5>Métrovélo (tarif - de 25 ans)</h5>
        <ul>
            <li>Location Métrovélo à l'année : <strong>72€<br> </strong><br> <strong>En savoir plus : </strong><a
                    href="http://www.metrovelo.fr/" class="lien_externe">Métrovélo </a></li>
        </ul><br>
        <div class="paragraphe__fond__colore">Retrouvez tous les détails dans la rubrique <a
                href="https://campus.univ-grenoble-alpes.fr/fr/menu-principal/installation/transport/vers-mon-campus-et-au-dela--755458.htm?RH=1529486419432"
                class="lien_interne">Transports</a> pour plus d'informations sur les transports en commun <a
                href="https://campus.univ-grenoble-alpes.fr/fr/menu-principal/installation/transport/les-transports-en-commun/dans-l-agglomeration-779353.htm?RH=1529486419432"
                class="lien_interne">dans l'agglomération</a> et <a
                href="https://campus.univ-grenoble-alpes.fr/fr/menu-principal/installation/transport/les-transports-en-commun/hors-agglomeration-779371.htm?RH=1529486419432"
                class="lien_interne">hors agglomération</a>, <a
                href="https://campus.univ-grenoble-alpes.fr/fr/menu-principal/installation/transport/a-velo/a-bicyclette--777785.htm?RH=1529486419432"
                class="lien_interne">le vélo</a>, <a
                href="https://campus.univ-grenoble-alpes.fr/fr/menu-principal/installation/transport/en-voiture/circuler-en-voiture-a-grenoble-777789.htm?RH=1529486419432"
                class="lien_interne">la voiture</a>...</div><br>
        <br class="separateur">
    </div>

    <div id="article__description" class="toolbox fiche__description">
        <h3>Budget alimentation</h3>
        <p>Le coût mensuel, petit déjeuner inclus, est d'environ <strong>300€</strong> par mois. Pensez aux restaurants
            et cafétérias universitaires.</p>
        <p>1 repas au CROUS coûte <strong>3,30 €&nbsp;</strong>(Tarif 2019-2020)<br><strong><br>En savoir plus
                :&nbsp;</strong><a href="http://www.crous-grenoble.fr/restauration/manger-au-crous/"
                class="lien_externe">CROUS Grenoble Alpes<br><br></a></p>
        <h3>Budget téléphone et internet</h3>
        <p><strong>À partir de 2€/mois pour un forfait mobile à 30 € pour une offre Internet-TV...&nbsp;</strong><br>Ne
            pas hésiter à comparer les différentes offres proposées par les opérateurs et choisir celles adaptées à vos
            besoins.<br>&nbsp;</p>
        <h3>Budget Santé</h3>
        <p>De nombreuses prestations (consultations, vaccinations) sont accessibles sans avance de frais auprès du <a
                href="https://centre-sante.univ-grenoble-alpes.fr/" class="lien_interne">Centre de Santé
                Universitaire</a></p>
        <ul>
            <li>
                Consultation médecine générale (ne pas oublier de signaler votre nouveau médecin référent) <strong>:
                    25€</strong>
            </li>
            <li>
                Consultation médecine spécialisée : <strong>30€</strong>
            </li>
            <li>
                Mutuelle complémentaire (facultative mais fortement recommandée) : <strong>coût variable selon le
                    niveau de remboursement souhaité.&nbsp;<br> <br type="_moz"> </strong>
            </li>
        </ul>
        <p><strong>En savoir plus :</strong><a
                href="https://campus.univ-grenoble-alpes.fr/fr/menu-principal/quotidien/sante-bien-etre/le-systeme-de-soin/tout-savoir-sur-l-assurance-maladie-et-les-complementaires-sante-777825.htm?RH=1529486419432"
                class="lien_interne"> la couverture sociale et les mutuelles étudiantes</a><br>&nbsp;</p>
        <h3>Budget loisirs</h3>
        <ul>
            <li>
                1 place de cinéma (tarif étudiant) de&nbsp;<strong>6,30 à 8,40€ / place</strong>
            </li>
            <li>
                1 place de concert à partir de<strong>&nbsp;5€</strong> à l'<a href="http://www.eve-grenoble.fr/"
                    class="lien_externe">Espace Vie Etudiante</a>
            </li>
        </ul>
        <p><strong><br></strong></p>
        <div class="paragraphe__fond__colore"><strong>Bons plans :</strong><br>- Tous les mois, <a
                href="https://campus.univ-grenoble-alpes.fr/fr/menu-principal/activites/culture/l-agenda-culturel/un-tramway-nomme-culture/un-tramway-nomme-culture-la-vie-culturelle-et-etudiante-des-campus-grenoblois-778167.htm?RH=1529486419432"
                class="lien_interne">Un&nbsp;Tramway Nommé Culture</a> propose de nombreuses manifestations gratuites
            ainsi que des invitations<br>- Les entrées aux musées départementaux sont <strong>gratuites</strong>, ainsi
            que le Musée de Grenoble et le Muséum d'Histoire Naturelle pour les - de 26 ans</div>
        <br class="separateur">
    </div>

    <div class="paragraphe__contenu--0 toolbox">
        <div class="fiche__resume">Pour faciliter la gestion de votre budget au quotidien, vous allez devoir ouvrir un
            compte en banque.</div>
        <h3>Ouverture d'un compte en banque</h3>
        <div>L'ouverture d'un compte en banque est obligatoire pour percevoir les remboursements de l'Assurance Maladie
            ou bénéficier de l'aide au logement.<br><br>Pour ouvrir un compte,&nbsp;il vous faut&nbsp;choisir une
            banque&nbsp;(privilégiez une agence proche de votre domicile ou de votre lieu de travail), prendre un
            rendez-vous et apporter :<br><br>
            <ul>
                <li>une pièce d'identité (carte d'identité ou passeport),</li>
                <li>un justificatif de domicile de moins de 3 mois (facture d'électricité, quittance de loyer,
                    certificat d'hébergement, etc.),</li>
                <li>si vous avez moins de 25 ans, une carte d'étudiant pour bénéficier des tarifs spéciaux.</li>
            </ul>
            <h5>Documents supplémentaires pour les étudiants internationaux<strong><br></strong></h5>
            <ul>
                <li>Dans l’attente d’un logement définitif, vous pouvez parfois utiliser l’adresse du service des
                    relations internationales de votre établissement.</li>
                <li>Le visa ou titre de séjour pour les ressortissants de pays tiers.</li>
            </ul><br type="_moz">Une fois votre compte ouvert, vous pourrez obtenir des relevés d'identité bancaire
            (RIB). Ils vous permettent de communiquer, sans risque d'erreur, vos coordonnées bancaires pour payer des
            factures (prélèvements) ou être payé par virement (bourses ou salaires par exemple).<br><br>L'ouverture d'un
            compte est généralement <strong>gratuite</strong>. Certains services peuvent être payants comme : la mise à
            disposition d'une carte bancaire, l'assurance du moyen de paiement, les transferts d'argent, l'autorisation
            de découvert (permet des dépenses supérieures aux rentrées d'argent).<br><br>
            <div class="paragraphe__fond__colore"><strong>En cas de perte ou de vol </strong>de vos moyens de paiement,
                il faut faire opposition en prévenant votre agence bancaire. Pour cela, à l'ouverture de votre compte,
                l'agence vous communique un numéro de téléphone à appeler en cas d'urgence.</div>
        </div>
        <h3>Transfert d'argent en France et à l'étranger</h3>Si vous partez étudier à l'étranger ou que vous venez
        étudier en France, il existe de moyens de transférer l'argent du compte de votre lieu de résidence vers le
        compte de votre lieu d'études.<br><br>
        <ul>
            <li>Le <a
                    href="https://www.labanquepostale.fr/particulier/produits/quotidien/transferts/transfert_international/mandat_ordinaire.moi.html"
                    class="lien_externe">Mandat Ordinaire International</a> permet de transférer des espèces jusqu'à 3
                500 € ou la somme équivalente en monnaie locale dans 52 pays et territoires.</li>
            <li>Le <a
                    href="https://www.labanquepostale.fr/particulier/produits/quotidien/transferts/transfert_international/mandat_express.avantages.html"
                    class="lien_externe">Mandat Express International</a> permet de transférer <strong>rapidement
                </strong>des espèces jusqu’à 3 500 €.</li>
            <li>Le <a
                    href="https://www.labanquepostale.fr/particulier/produits/quotidien/transferts/transfert_international/mandat_versement.mvc.html"
                    class="lien_externe">Mandat de versement</a> sur compte permet de transférer des fonds remis en
                espèces sur un compte à l’étranger.</li>
            <li>Le dispositif <a href="https://www.westernunion.com/fr/fr/accueil.html" class="lien_externe">Western
                    Union</a> permet de transférer jusqu’à 6 000€ depuis un bureau de poste. L'argent est disponible
                dans les minutes qui suivent la confirmation de l'ordre. <strong>Attention : ce dispositif peut avoir un
                    coût élevé.</strong></li>
        </ul><br type="_moz">
        <div class="paragraphe__fond__colore"><strong>Attention ! Depuis 2017, le mandat cash ordinaire et le mandat
                cash urgent, permettant le transfert d'argent liquide, ne sont plus disponibles.</strong></div><br
            type="_moz">
    </div>
</div>