<div class="colonne_1">
  <div class="colonne_deco">
    <div class="paragraphe--0">
      <div class="paragraphe__contenu--0 toolbox">
        <div class="fiche__resume">Sur les campus et dans l'Agglo, des lieux d'écoute gratuits sont mis à disposition
          des étudiants qui rencontrent des difficultés personnelles. N'hésitez pas à demander de l'aide.
        </div>
      </div><!-- .paragraphe__contenu--0 .toolbox -->
      <div class="separateur"></div>
    </div><!-- paragraphe--0 --></div><!-- colonne_deco -->
</div>


  <div class="ligne_1">
    <div class="colonne_1">
      <div class="colonne_deco">
        <div class="paragraphe--0">
          <div class="paragraphe__contenu--0 toolbox">
            <div class="fiche__resume">Des psychologues et assistants sociaux sont présents sur les campus pour vous
              apporter leur aide et vous aider à gérer vos difficultés.
            </div>
          </div><!-- .paragraphe__contenu--0 .toolbox -->
          <div class="separateur"></div>
        </div><!-- paragraphe--0 --></div><!-- colonne_deco -->
    </div><!-- .colonne_1 --></div><!-- .ligne_1 -->
  <div class="ligne_2">
    <div class="colonne_1">
      <div class="colonne_deco">
        <div class="paragraphe--0">
          <div class="paragraphe__contenu--0 toolbox">
            <div style="text-align: center;"><a href="https://centre-sante.univ-grenoble-alpes.fr/"
                                                class="lien_interne"><img
              src="https://campus.univ-grenoble-alpes.fr/medias/photo/psy-centre-sante_1558439894105-jpg?ID_FICHE=74156"
              style="margin : 5px;" alt="" title="Le centre de santé"></a></div>
            <h5><a href="https://centre-sante.univ-grenoble-alpes.fr/" class="lien_interne">Le centre de santé</a></h5>
            <div style="text-align: justify;"><span>Les psychologues du Centre de santé vous accueillent et vous accompagnent dans vos problématiques personnelles. N'attendez pas, prenez rendez-vous.</span>
            </div>
          </div><!-- .paragraphe__contenu--0 .toolbox -->
          <div class="separateur"></div>
        </div><!-- paragraphe--0 --></div><!-- colonne_deco -->
    </div><!-- .colonne_1 -->
    <div class="colonne_2">
      <div class="colonne_deco">
        <div class="paragraphe--0">
          <div class="paragraphe__contenu--0 toolbox">
            <div style="text-align: center;"><a
              href="http://www.crous-grenoble.fr/aidessociales/fnau-fonds-national-daide-durgence/"
              class="lien_externe"><img
              src="https://campus.univ-grenoble-alpes.fr/medias/photo/assistantes-crous_1558439990249-jpg?ID_FICHE=74156"
              style="margin : 5px;" alt="" title="Les assistantes sociales du CROUS"></a></div>
            <h5><a href="http://www.crous-grenoble.fr/aidessociales/fnau-fonds-national-daide-durgence/"
                   class="lien_externe">Les assistantes sociales du CROUS</a></h5>
            <div style="text-align: justify;"><span>Les assistantes sociales du CROUS sont à votre écoute pour vous aider à faire face à vos difficultés personnelles (médicale, psychologique, familiale, financière, administrative).</span>
            </div>
          </div><!-- .paragraphe__contenu--0 .toolbox -->
          <div class="separateur"></div>
        </div><!-- paragraphe--0 --></div><!-- colonne_deco -->
    </div><!-- .colonne_2 -->
    <div class="colonne_3">
      <div class="colonne_deco">
        <div class="paragraphe--0">
          <div class="paragraphe__contenu--0 toolbox">
            <div style="text-align: center;"><a
              href="https://campus.univ-grenoble-alpes.fr/fr/menu-principal/quotidien/sante-bien-etre/les-lieux-d-ecoute/le-service-medico-psychologique-universitaire-802266.htm?RH=1551436637380"
              class="lien_interne"><img title="Le Service Médico-Psychologique Universitaire" alt=""
                                        src="https://campus.univ-grenoble-alpes.fr/medias/photo/smpu_1558440102509-png?ID_FICHE=74156"></a></div>
            <h5><a
              href="https://campus.univ-grenoble-alpes.fr/fr/menu-principal/quotidien/sante-bien-etre/les-lieux-d-ecoute/le-service-medico-psychologique-universitaire-802266.htm?RH=1551436637380"
              class="lien_interne">Le Service Médico-Psychologique Universitaire</a></h5>
            <div style="text-align: justify;"><span>Le SMPU est un service gratuit pour les étudiants, proposant des consultations et des soins psychothérapiques avec des psychiatres, des psychologues, des psychanalystes.</span>
            </div>
          </div><!-- .paragraphe__contenu--0 .toolbox -->
          <div class="separateur"></div>
        </div><!-- paragraphe--0 --></div><!-- colonne_deco -->
    </div><!-- .colonne_3 --></div><!-- .ligne_2 -->
  <div class="ligne_3">
    <div class="colonne_1">
      <div class="colonne_deco">
        <div class="paragraphe--0">
          <div class="paragraphe__contenu--0 toolbox">
            <div style="text-align: center;"><a
              href="https://campus.univ-grenoble-alpes.fr/en/main-menu/rubrique-3/sante-en/ecoute-en/apsytude-bien-vivre-vos-etudes-821484.htm?RH=1551436637380"
              class="lien_interne"><img title="Apsytude" alt=""
                                        src="https://campus.univ-grenoble-alpes.fr/medias/photo/apsytude_1558440127491-jpg?ID_FICHE=74156"></a></div>
            <h5><a
              href="https://campus.univ-grenoble-alpes.fr/en/main-menu/rubrique-3/sante-en/ecoute-en/apsytude-bien-vivre-vos-etudes-821484.htm?RH=1551436637380"
              class="lien_interne">Apsytude</a></h5>
            <div style="text-align: justify;"><span>Apsytude est une association de psychologues veillant à favoriser le bien-être des étudiants afin de leur permettre de s’épanouir au niveau personnel et dans leurs études.</span>
            </div>
          </div><!-- .paragraphe__contenu--0 .toolbox -->
          <div class="separateur"></div>
        </div><!-- paragraphe--0 --></div><!-- colonne_deco -->
    </div><!-- .colonne_1 --></div><!-- .ligne_3 -->

