<div class="main-container">
  <h1>Preparer sa recherche</h1>

  <div class="clr-row">
    <div class="clr-col-sm-12">
      <div class="card">
        <div class="card-block">
          <div class="card-text">
            <p>
              La recherche d'un logement ça se prépare ! Il faut connaitre les prix du marché, le
              vocabulaire des petites annonces, les quartiers proches de son campus....
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="clr-row">

    <h3>Les conseils avant de s'installer</h3><br>
    <ol>
      <li> <strong><a
            href="https://campus.univ-grenoble-alpes.fr/fr/menu-principal/installation/budget/le-budget-etudiant/loyer-factures-alimentation-loisirs-quel-budget-pour-bien-vivre--777671.htm?RH=1529486600159"
            class="lien_interne">Évaluer son budget</a></strong>, prendre en compte les aides éventuelles, sans oublier
        les
        différentes charges : eau, électricité, chauffage, taxe d'habitation, etc.<br><br></li>
      <li> <strong>Choisir son lieu
          d'habitation</strong> en fonction de son <a
          href="https://campus.univ-grenoble-alpes.fr/fr/menu-principal/outils/les-outils-pour-vous-reperer/plan-des-campus/plans-des-campus-de-la-communaute-universite-grenoble-alpes-312938.htm?RH=1529486600159"
          class="lien_interne">lieu d'études</a>, des possibilités de <a
          href="https://campus.univ-grenoble-alpes.fr/fr/menu-principal/installation/transport/vers-mon-campus-et-au-dela--755458.htm?RH=1529486600159"
          class="lien_interne">transports</a>.<br><br></li>
      <li><strong>Visiter le logement avec attention
          !&nbsp;</strong><br><br></li>
      <li>
        Au terme de la visite, le propriétaire ou l'agence constitue un dossier avec les pièces justificatives.
        <strong>Certaines
          pièces ne peuvent pas être demandées</strong>, comme une photo d'identité ou la carte d'assuré social. La
        location
        ne
        peut être refusée que pour un motif légitime (manque de garanties par exemple).<br><br><strong> Le motif est
          illégal
          s'il est lié à l'origine, au patronyme, à l'apparence physique, au sexe, à l'état de santé ou au
          handicap.</strong><br><br>Il existe des <a
          href="https://campus.univ-grenoble-alpes.fr/fr/menu-principal/installation/logement/vos-droits/droits-et-devoirs-quels-recours-en-cas-de-probleme--777746.htm?RH=1529486600159&amp;RF=1529486643473"
          class="lien_interne">associations</a> auprès desquelles se renseigner.<br></li>
    </ol>
    <h3>Trouver un logement décent</h3><br>
    <p>
    Lorsqu'un logement est mis en location, il doit répondre à un certain nombre de
    caractéristiques correspondant au <a
      href="https://www.legifrance.gouv.fr/affichTexte.do?cidTexte=LEGITEXT000005632175&amp;dateTexte=20110729"
      class="lien_externe">décret sur le logement décent</a> du 30 janvier 2002.</p>
      
      <p>
      Pour vous aider à mieux vous y
    retrouver, l'Association Départementale d'Information sur le Logement, <a
      href="https://campus.univ-grenoble-alpes.fr/fr/menu-principal/services/les-partenaires-icampus/adil-de-l-isere-780741.htm?RH=1529486600159"
      class="lien_interne">adil38</a>, informe sur le droit des locataires et vous aiguille vers les bons
    interlocuteurs.
    L'adil a également en charge le signalement des logements non-décents dans l'agglomération.</p>
    <p> Consultez le <a
      href="https://www.adil38.org/fileadmin/Sites/Site_de_l_ADIL_38/Adil_Isere_publications/Guide_logement_decent_2019_CAF38.pdf"
      class="lien_externe">guide du logement décent</a> de l'adil.</p>
  </div>
</div>