<h1>Se connecter</h1>
<div class="toolbox fiche__description"><h3>Le portail des services en ligne</h3>
  <p>En tant qu'étudiant, l'université vous fournit un identifiant et un mot de passe uniques pour accéder au portail
    des services en ligne.&nbsp;<br><br>Cet identifiant et ce mot de passe uniques vous permettront de :</p>
  <ul>
    <li>accéder aux services numériques du portail,</li>
    <li>consulter votre boîte mail,</li>
    <li>vous connectez sur les réseaux "<a
      href="https://services-numeriques-etudiants.univ-grenoble-alpes.fr/menu-principal/connexion-internet-et-reseau-/eduroam-wifi-securise-universitaire-/eduroam-wifi-securise-universitaire--217752.kjsp?RH=264141547434319"
      class="lien_externe">eduroam</a>" ou "<a
      href="https://services-numeriques-etudiants.univ-grenoble-alpes.fr/menu-principal/connexion-internet-et-reseau-/wifi-campus/wifi-campus-217738.kjsp?RH=264141547434319"
      class="lien_externe">wifi campus</a>" dans les bâtiments mais aussi à l'extérieur,
    </li>
    <li>utiliser les ordinateurs en libre-service de votre établissement,</li>
    <li>accéder aux postes de consultation des bibliothèques universitaires.</li>
  </ul>
  <br><h5>Les portails et ressources numériques de votre établissement</h5>
  <ul>
    <li><a href="https://leo.univ-grenoble-alpes.fr/?RH=&amp;ksession=65ece98d-c300-44d7-bf04-2a1e18994077"
           class="lien_externe">Leo, l'intranet étudiant de l'UGA</a></li>
    <li><a href="https://cas-inp.grenet.fr/login?service=http%3A%2F%2Fportail.grenoble-inp.fr%2F" class="lien_externe">Intranet
      Grenoble INP</a></li>
    <li><a href="http://portail.sciencespo-grenoble.fr/" class="lien_externe">Sciences Po Grenoble</a></li>
    <li><a href="http://lsi.grenoble.archi.fr/" class="lien_externe">École d'architecture (ENSAG)</a></li>
  </ul>
  <p>&nbsp;</p>
  <h3>Se connecter au réseau Wi-Fi</h3>
  <p><strong>Le Wifi sur les campus<br><br></strong>Toutes les solutions pour se connecter aux différents réseaux des
    campus sont sur <a href="http://nomadisme.grenet.fr/" class="lien_externe">Nomadisme Grenet</a>.<br><br><strong>Les
      étapes à suivre :</strong>&nbsp;</p>
  <ul>
    <li>avoir ses identifiant et mot de passe attribués lors de l'inscription administrative&nbsp;</li>
    <li>rechercher les bornes <strong><a
      href="https://services-numeriques-etudiants.univ-grenoble-alpes.fr/menu-principal/connexion-internet-et-reseau-/eduroam-wifi-securise-universitaire-/eduroam-wifi-securise-universitaire--217752.kjsp?RH=264141547434319"
      class="lien_externe">eduroam </a>ou <a
      href="https://services-numeriques-etudiants.univ-grenoble-alpes.fr/menu-principal/connexion-internet-et-reseau-/wifi-campus/wifi-campus-217738.kjsp?RH=264141547434319"
      class="lien_externe">wifi campus</a>&nbsp;</strong>disponibles et se connecter à l'une d'elles
    </li>
    <li>lancer son navigateur web sur lequel s'affichera la page de connexion au réseau</li>
    <li>sélectionner son établissement puis saisir ses identifiant et mot de passe</li>
  </ul>
  <p><br><strong>Dans sa résidence ou son resto</strong></p>
  <ul>
    <li>EDUSPOT le Wifi dans votre resto U</li>
    <li>Les résidences : demander les modalités à l'accueil de votre résidence&nbsp;<a
      href="http://www.crous-grenoble.fr/" class="lien_externe">CROUS</a></li>
  </ul>
  <h3>Connexion libre</h3>
  <p>En attendant sa carte d'étudiant et pour ceux qui sont juste de passage, il est possible de se connecter à internet
    sur le campus de St Martin d'Hères. <span style="font-weight: bold;"><a
      href="https://campus.univ-grenoble-alpes.fr/fr/menu-principal/services/icampus-welcome-center/accueil-physique-783192.htm?RH=1529486936669"
      class="lien_interne">L'Accueil ICampus / Welcome Center</a> </span>propose des ordinateurs en accès libre pour la
    consultation web.</p>
  <br class="separateur">
</div>


<h1>Assistance informatique</h1>
<div class="toolbox fiche__description"><h3>Catalogue de services numériques UGA</h3>L'Université Grenoble Alpes met à
  disposition des étudiants un catalogue des services numériques.<br><br>Vous y trouverez :&nbsp;<ul>
    <li>de l'aide pour vos problèmes informatiques,</li>
    <li>toutes vos applications étudiantes (Zimbra, ADE, Digiposte...),</li>
    <li>vos informations de profil numérique (Léo, identifiant...),</li>
    <li>les plateformes pédagogiques (Alfresco, Chamilo, Moodle)</li>
    <li>des explications sur les réseaux wifi du campus,</li>
    <li>des informations sur vos outils à disposition,</li>
    <li>les chartes sécurité - informatique et libertés.</li>
  </ul>
  <br>
  <p><strong>En savoir plus :</strong>&nbsp;<a href="https://services-numeriques-etudiants.univ-grenoble-alpes.fr/"
                                               class="lien_externe">Catalogue des services numériques<br></a></p>
  <p><a href="https://services-numeriques-etudiants.univ-grenoble-alpes.fr/" class="lien_externe"><br></a></p>
  <h3>Assistance du CROUS</h3>
  <p>Pour tout problème de connexion au sein des résidences CROUS, une assistance informatique est proposée dans
    certaine résidences.<br><br>Pour connaître les jours et heures des permanences, adressez-vous à l'<a
      href="http://www.crous-grenoble.fr/demanderunlogement/nos-residences/" class="lien_externe">accueil de votre
      résidence</a>.</p>
  <br class="separateur">
</div>
