.tphoto {
  width: 350px;
  /* height: 350px; */
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  top: 15px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  border: 1px solid #c0c0c0;
  /* padding-bottom: 60px; */
  background-color: #fff;
  display: grid;
  box-shadow: 2px 2px 2px #c0c0c0;
}

.tphoto img {
  vertical-align: inherit;
  height: 350px;
  width: 350px;
}

*,
::before,
::after {
  box-sizing: initial;
}

.tname {
  padding: 15px;
  font-size: 20px;
  font-family: 'Helvetica', sans-serif;
  float: left;
}

.tname .age {
  font-weight: 200;
}

.tinfo {
  font-family: 'Helvetica', sans-serif;
}

.tinfo .fa-users,
.tinfo .fa-book {
  color: #c0c0c0;
  float: right;
  position: relative;
  font-size: 24px;
  padding: 12px;
}
