    <div *ngIf="users != null" class="tphoto"
      [@cardAnimator]="animationState"
      (@cardAnimator.done)="resetAnimationState($event)"
      (swipeleft)='startAnimation("swipeleft")' 
      (swiperight)='startAnimation("swiperight")'
    >
      <img src="https://thispersondoesnotexist.com/image" title="tphoto" alt="Tinder Photo" draggable="false" />
      <ng-container *ngIf="isAvailable[0]">
        <div class="tname">{{users[index].nom}}, <span class="age">{{users[index].age}}</span></div>
        <div class="tname">Expertises : <span class="age">{{users[index].expertise}}</span></div>
      </ng-container>
      <ng-container *ngIf="!isAvailable[0]">
        <div class="tname">Aucun expert disponible</div>
      </ng-container>

      <!-- <div class="tinfo"><i class="fa fa-book" aria-hidden="true"> 0</i><i class="fa fa-users" aria-hidden="true"> 0</i></div> -->
    </div>


    