<div class="tbgwrap">
    <app-card  [isAvailable]="isAvailable" [parentSubject]="parentSubject">
    </app-card>
  <div *ngIf="isAvailable[0]" class="tcontrols">
    <div (click)='cardAnimation("swipeleft")'  class="tno"><i class="fa fa-times" aria-hidden="true"></i></div>
    <div (click)='cardAnimation("swiperight")' class="tyes"><i class="fab fa-facebook-messenger" aria-hidden="true"></i></div>
  </div>
</div>