<div class="paragraphe__contenu--0 toolbox">
  <div class="clr-row">
    <div class="clr-col-sm-12">
      <div class="card">
        <div class="card-block">
          <div class="card-text">
            <div class="fiche__resume">La carte multiservices permet de justifier de son statut, l'accès aux BU, aux
              services de
              restauration du CROUS, le paiement Izly...
            </div>
          </div>
        </div>
      </div>

      <h3>La carte Multiservices</h3>La carte d’étudiant n’est plus seulement un justificatif d’inscription en études
      supérieures mais un support permettant l’accès à différents services : <a
        href="http://www.crous-grenoble.fr/restauration/izly-nouveau-paiement-restauration/" class="lien_externe">payer
        son
        repas dans les restaurants et cafétérias CROUS grâce à la monétique Izly</a>, accéder au prêt et autres services
      des
      bibliothèques universitaires. Aussi, selon votre filière et votre résidence CROUS, elle donne accès aux services
      de
      laverie, de reprographie et à certains distributeurs alimentaires. <br><strong><br>ATTENTION</strong>&nbsp;: Il
      faut
      bien conserver sa carte une fois l’année universitaire terminée car le même support sera utilisé les années
      suivantes.<br><br>
      <div class="paragraphe__fond__colore">
        <h5>En cas de perte</h5>Il faut s’adresser à son <a
          href="https://campus.univ-grenoble-alpes.fr/fr/menu-principal/outils/les-composantes-universitaires/les-composantes-des-universites-de-grenoble-791373.htm?RH=1529486916552"
          class="lien_interne">service de scolarité</a> qui pourra délivrer un duplicata avec frais. En cas de vol, la
        carte
        sera rééditée sans frais sur présentation de la déclaration de vol.
      </div>
      <br><br><img
        src="https://campus.univ-grenoble-alpes.fr/medias/photo/carte-multiservices_1531171105574-png?ID_FICHE=64294"
        style="margin : 5px;" alt="" title=""><br>
      <p>&nbsp;</p>
    </div>