<div class="clr-row">
  <div class="clr-col-sm-12">
    <div class="card">
      <div class="card-block">
        <div class="card-text">
          <p> Retrouvez toutes les informations pratiques pour venir étudier à Grenoble depuis
            l'international en toute tranquillité.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<h1>Depuis Paris</h1>
<div class="toolbox fiche__description"><h3><strong>Les deux aéroports de Paris</strong></h3>Aéroport de <strong>Paris
  Charles de Gaulle (CDG)</strong> (ex-Roissy) situé au nord-est de Paris,<br>Aéroport de <strong>Paris Orly</strong>
  situé au sud de Paris.<br><br>
  <ul>
    <li><strong>En savoir plus :</strong> <a href="https://www.parisaeroport.fr/" class="lien_externe">Paris
      Aéroport</a></li>
  </ul>
  <br>Que vous arriviez à <strong>Paris-Charles de Gaulle (CDG)</strong> ou à <strong>Orly</strong>, vous devrez vous
  rendre à la gare SNCF nommée « <strong>Paris-Gare de Lyon </strong>» pour rejoindre Grenoble en TGV.<br><br>Vous
  pouvez vous rendre à « <strong>Paris-Gare de Lyon</strong> » en bus, en RER (Réseau Express Régional), ou en taxi
  (mais bien plus cher).<br><br>
  <h3>En bus</h3><h5>Depuis l'aéroport Paris-CDG:</h5><strong>Roissybus</strong><br>Tarif : 12,5€. Durée : environ
  1h.<br>Ce bus vous dépose à la station Paris-Opéra. Rejoindre à pied la station Auber, puis prendre la ligne RER A
  pour vous rendre à Paris-Gare de Lyon.<br><br>
  <ul>
    <li><strong>En savoir plus :</strong> <a
      href="https://www.parisaeroport.fr/passagers/acces/paris-charles-de-gaulle/transports-en-commun/roissybus"
      class="lien_externe">Roissybus</a></li>
  </ul>
  <br><strong>Le Bus Direct Paris Aéroport</strong><br>Tarif : 17€. Durée : de 40 à 50 minutes.<br>Trajet direct jusqu'à
  Paris-Gare de Lyon.<br><br>
  <ul>
    <li><strong>En savoir plus : </strong><a href="https://www.lebusdirect.com/" class="lien_externe">Le Bus Direct</a>
    </li>
  </ul>
  <br><h5>Depuis l'aéroport d'Orly:</h5><strong>Orlybus</strong><br>Tarif : de 8,70€. Durée : de 25 à 35
  minutes.<br>Ce bus vous dépose à la place Denfert-Rochereau (Paris 14e arrondissement). Prendre le métro ligne 6
  jusqu'à Bercy, puis le métro ligne 14 jusqu’à Gare de Lyon.<br><br>
  <ul>
    <li><strong>En savoir plus :</strong> <a
      href="https://www.parisaeroport.fr/passagers/acces/paris-orly/transports-en-commun/orlybus" class="lien_externe">Orlybus</a>
    </li>
  </ul>
  <br><strong>Le Bus Direct Paris Aéroport</strong><br>Tarif : 12€. Durée : de 20 à 30 minutes.<br>Ce bus vous dépose à
  la Gare Montparnasse. Prendre le métro ligne 4 jusqu’à Châtelet, puis le métro ligne 14 jusqu’à Paris-Gare de
  Lyon.<br><br>
  <ul>
    <li><strong>En savoir plus :</strong>&nbsp; <a href="https://www.lebusdirect.com/" class="lien_externe">Le Bus
      Direct</a></li>
  </ul>
  <br>
  <h3>En RER</h3><h5>Depuis l'aéroport Paris-CDG</h5>Prendre la <strong>ligne B du RER</strong> jusqu'à la
  station<strong> Châtelet-les-halles</strong>, puis la <strong>ligne A jusqu’à Paris-Gare de Lyon</strong>.<br>Tarif :
  à partir de 12€. Durée : environ 50 minutes.<br><br><h5>Depuis l'aéroport d'Orly</h5>Prendre
  <strong>l’Orlyval</strong>, la<strong> ligne B du RER</strong> jusqu'à la station <strong>Châtelet-les-halles</strong>,
  et enfin la<strong> ligne A jusqu’à Paris-Gare de Lyon</strong>. <br>Tarif : à partir de 8,30€. Durée : environ 50
  minutes.<br><br>
  <ul>
    <li><strong>En savoir plus :</strong> <a href="https://www.ratp.fr/titres-et-tarifs/billet-aeroport"
                                             class="lien_externe">RATP</a></li>
  </ul>
  <br>
  <h3>En taxi</h3>A la sortie des aéroports, différentes compagnies de taxis peuvent vous conduire à <strong>Paris-Gare
    de Lyon</strong>.<br>Tarif : environ 50€ en journée (tarif majoré la nuit de 15% environ).<br>Durée : environ 45
  minutes depuis <strong>Paris-CDG</strong>, 30 minutes depuis <strong>Paris-Orly</strong> (en fonction de la
  circulation).<br><br><strong>A savoir<br></strong> Pour vos déplacements sur Paris, pensez à consulter le <a
    href="https://www.ratp.fr/" class="lien_externe">site de la RATP</a><br>Pratique, les <a
    href="https://www.ratp.fr/plans-lignes" class="lien_externe">plans du réseau RATP</a><br>La RATP propose également
  une <a href="https://www.ratp.fr/apps/application-ratp" class="lien_externe">application sur smartphone</a> pour
  calculer vos trajets.<br><br>
  <h3>De Paris-Gare de Lyon à la Communauté Université Grenoble Alpes</h3>A la gare SNCF de <strong>Paris-Gare de
    Lyon</strong>, les TGV desservent <strong>Grenoble </strong>en 3 heures.<br>Il est préférable de réserver son billet
  à l'avance pour bénéficier de prix avantageux.<br><br>
  <ul>
    <li><strong>En savoir plus sur les horaires, tarifs et réservations des trains :&nbsp;</strong><a
      href="https://www.oui.sncf/" class="lien_externe">SNCF&nbsp;</a>&nbsp;/&nbsp;<a href="https://www.trainline.fr/"
                                                                                      class="lien_externe">Trainline</a>
    </li>
  </ul>
  <br class="separateur">
</div>

<h1>Depuis Genève</h1>
<div class="toolbox fiche__description"><h3>Aéroport de Genève</h3>Depuis l'aéroport de Genève, des navettes en bus
  assurent des liaisons directes jusqu'à Grenoble.<br><br>
  <ul>
    <li><strong>En savoir plus :&nbsp;</strong> <a href="https://www.gva.ch/fr/" class="lien_externe">Genève
      Aéroport</a></li>
  </ul>
  <strong><br>Genève - Grenoble</strong>
  <ul>
    <li>Durée : environ 2h15</li>
    <li>Tarif : à partir de 15€.</li>
  </ul>
  <br>
  <ul>
    <li><strong>En savoir plus :</strong> <a
      href="https://fr.ouibus.com/trajets/grenoble-geneve?stationsDestination=0&amp;stationsOrigin=1"
      class="lien_externe">OUIBUS</a></li>
  </ul>
  <br>
  <br class="separateur">
</div>

<h1>Depuis Lyon</h1>
<div id="article__description" class="toolbox fiche__description"><h3>De l'aéroport de Lyon-St Exupéry à Grenoble</h3><a
  href="https://www.lyonaeroports.com/" class="lien_externe">Aéroport de Lyon - St Exupéry<br></a><br>
  <h3>En Bus</h3>Les bus de la compagnie<strong> OUIBUS</strong>&nbsp;desservent directement Grenoble :<br><br><strong>Lyon
    - Grenoble&nbsp;</strong>
  <ul>
    <li>Durée: environ 1h</li>
    <li>Tarif : à partir de 11,90€</li>
  </ul>
  <br>
  <ul>
    <li><strong>En savoir plus : </strong><a href="https://fr.ouibus.com/" class="lien_externe">OUIBUS</a></li>
  </ul>
  <p>&nbsp;</p>
  <h3>En train</h3>Vous pouvez vous rendre en train à Grenoble depuis l'une de ces 3 gares :<br>-Gare de <strong>Lyon
    St-Exupéry </strong>(aéroport), <br>-Gare de<strong> Lyon Part-Dieu</strong> (centre-ville de Lyon),<br>-Gare de
  <strong>Lyon-Perrache </strong>(centre-ville de Lyon).<br>Comptez environ 1h20 pour rejoindre Grenoble.<br><br>
  <ul>
    <li><strong>En savoir plus sur les horaires, tarifs et réservations des trains :&nbsp;</strong><a
      href="https://www.oui.sncf/" class="lien_externe">SNCF</a>&nbsp;/&nbsp;<a href="https://www.trainline.fr/"
                                                                                class="lien_externe">Trainline</a></li>
  </ul>
  <br class="separateur">
</div>
