<div class="paragraphe__contenu--0 toolbox">
  <div class="clr-row">
    <div class="clr-col-sm-12">
      <div class="card">
        <div class="card-block">
          <div class="card-text">
            <div class="fiche__resume">Sur les campus et dans l'Agglo, tout est mis en œuvre pour vous permettre
              d'adopter les
              bons gestes et favoriser une gestion durable des déchets.
            </div>
          </div>
        </div>
      </div>

      <h3>Un campus durable : 1,2, TRI... Jetez !</h3>
      <p>Le Domaine Universitaire de Saint Martin d'Hères-Gières se distingue par son environnement exceptionnel et
        préservé. <br><br>La <a
          href="https://www.communaute-univ-grenoble-alpes.fr/fr/presentation/la-comue/organisation/direction-de-l-amenagement-durable-communaute-universite-grenoble-alpes-662218.htm?RH=GUALP"
          class="lien_interne">Direction de l'Aménagement Durable</a> met en œuvre une gestion raisonnée et différenciée
        en
        faveur la biodiversité ainsi qu'une politique « triples zéros » : <strong>zéro chimie, zéro déchet, zéro
          arrosage</strong> !<br><br>Des règles spécifiques de tri des déchets ont cours pour les résidents et usagers
        du
        Domaine Universitaire, alors prêt ? <strong>1, 2, TRI.. Jetez !<br><br><a
            href="https://campus.univ-grenoble-alpes.fr/medias/fichier/annexe2-localisation-points-de-collecte-4-couleurs-flux-comue_1561363385062-pdf?ID_FICHE=70244"
            title="Télécharger 'Annexe2-  Localisation points de collecte 4 couleurs - flux COMUE.pdf' [PDF - 2 Mo]"
            class="lien_interne">&gt; Télécharger la carte des points de collecte sur le Domaine
            Universitaire</a></strong>
      </p>
      <p><br><a
          href="https://campus.univ-grenoble-alpes.fr/medias/fichier/dad-2019-12tri-jetez-80x120-definitif_1554461096704-pdf?ID_FICHE=70244"
          title="Télécharger '1, 2, TRI Jetez !' [PDF - 12 Mo]" class="lien_interne"><img
            src="https://campus.univ-grenoble-alpes.fr/medias/photo/1-2-tri_1554460696844-jpg?ID_FICHE=70244"
            style="margin : 5px 5px;" alt="" title="1, 2, TRI Jetez !"></a><br>&nbsp;</p>
      <h3>Le tri des déchets dans l'agglomération</h3>
      <p>Vous logez dans l'agglomération ? Poubelle grise ou marron, poubelle verte, composteur, déchetterie... Vous
        êtes
        perdu ? <br><br>Suivez le guide pour savoir comment bien trier vos déchets dans le reste de l'agglomération
        grenobloise.<br>&nbsp;</p>
      <ul>
        <li>
          <strong>En savoir plus :</strong>&nbsp;<a
              href="https://www.lametro.fr/272-je-trie-comment-mes-dechets-.htm" class="lien_externe">Comment trier mes
              déchets<br> <br>
            </a>
        </li>
      </ul>
      <h3>Moins jeter ?</h3>
      <p>Chaque habitant de l’agglomération grenobloise produit en moyenne <strong>une demie tonne de déchets par
          an</strong>.<br><br>Pour<strong> chaque seconde</strong>, 7 kg de déchets sont générés par l’ensemble des 440
        000
        habitants de l’agglomération. <br><br>Grenoble-Alpes Métropole lance un programme de prévention des
        déchets.<br>&nbsp;
      </p>
      <ul>
        <li><strong>En savoir plus :</strong> <a href="http://www.moinsjeter.fr/" class="lien_externe">Moins jeter</a>
        </li>
      </ul>
    </div>