<div class="main-container">
    <h1>Le logement</h1>

    <div class="clr-row">
        <div class="clr-col-sm-12">
            <div class="card">
                <div class="card-block">
                    <div class="card-text">
                        <div class="paragraphe__contenu--0 toolbox">

                            <div class="paragraphe__citation">« Avec iCampus, zéro galère pour trouver&nbsp;un logement
                                bien situé et emménager dans mon petit meublé tout confort ! »</div>
                            <p>&nbsp;</p>
                            <ul>
                                <li>iCampus, c’est un accompagnement et des outils pour sa recherche de logement</li>
                                <li>Un lieu de services pour bénéficier de conseils et un accompagnement aux démarches
                                    d’installation</li>
                                <li>De la chambre en résidence, en colocation ou en appart : une offre adaptée selon son
                                    budget</li>
                                <li>Des solutions innovantes et solidaires pour une nouvelle façon d’habiter</li>
                            </ul><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clr-row list-item body clr-justify-content-center">
        <div class="clr-col-sm-3 item">

            <div class="clr-row">
                <h3><a class="nav-link" routerLinkActive="active" routerLink="/logement/conseils"> Les conseils pour ma
                        recherche
                    </a>
                </h3>
                <p>
                    La recherche d'un logement ça se prépare ! Il faut connaitre les prix du marché, le vocabulaire des
                    petites
                    annonces, les quartiers proches de son campus...
                </p>
            </div>
        </div>

        <div class="clr-col-sm-3 item">

            <div class="clr-row">
                <h3> <a class="nav-link" routerLinkActive="active" routerLink="/logement/lieu"> Où trouver un logement ?
                    </a>
                </h3>
                <p>
                    Résidences étudiantes ? Agences ? Colocation ? Entre particuliers ? Quelques repères pour mieux s'y
                    retrouver...

                </p>
            </div>
        </div>

        <div class="clr-col-sm-3 item">

            <div class="clr-row">
                <h3> <a class="nav-link" routerLinkActive="active" routerLink="/logement/temporaire">Les logements
                        temporaires </a>

                </h3>
                <p>
                    Pour les courts séjours sur l'agglomération, des solutions de logements temporaires existent. Venez
                    vous
                    renseigner.

                </p>
            </div>
        </div>

        <div class="clr-col-sm-3 item">

            <div class="clr-row">
                <h3> <a class="nav-link" routerLinkActive="active" routerLink="/logement/demarches">Les démarches pour
                        emménager /
                        déménager</a>

                </h3>
                <p>
                    Que ce soit pour emménager ou pour déménager, certaines démarches sont indispensables et il est
                    parfois
                    difficile de penser à tout. Retrouvez les informations essentielles pour vous aider !

                </p>
            </div>
        </div>

        <div class="clr-col-sm-3 item">

            <div class="clr-row">
                <h3> <a class="nav-link" routerLinkActive="active" routerLink="/logement/aides">Les aides au
                        logement</a>
                </h3>
                <p>
                    Un emménagement peut se révéler coûteux... Quelques pistes pour bénéficier d'aides.
                </p>
            </div>
        </div>


        <div class="clr-col-sm-3 item">

            <div class="clr-row">
                <h3> <a class="nav-link" routerLinkActive="active" routerLink="/logement/droits">Vos droits</a>



                </h3>
                <p>
                    Si un problème se pose avec le propriétaire, il existe différentes associations pouvant informer et
                    conseiller
                    sur les droits et devoirs du locataire.

                </p>
            </div>
        </div>


    </div>