<h1>Pour quelques nuits</h1>
<div id="article__description" class="toolbox fiche__description"><h3>Résidences hôtelières, hôtels, chambres
  d'hôtes...</h3>L'Office de Tourisme Grenoble-Alpes Métropole propose sur son site de nombreuses solutions
  temporaires<br><br>
  <ul>
    <li><strong>En savoir plus : <a href="https://www.grenoble-tourisme.com/fr/ou-dormir/" class="lien_externe">Office
      de Tourisme Grenoble-Alpes Métropole</a></strong></li>
  </ul>
  <br>Le Groupe isérois Privilodge propose également des solutions d'hébergement pour les courts séjours d'une ou
  plusieurs nuit.<br><br>
  <ul>
    <li><strong>En savoir plus </strong><strong>:</strong> <a href="https://www.lehub-privilodges.com/la-bedroom/"
                                                              class="lien_externe">Le Hüb</a></li>
  </ul>
  <h3>Auberge de jeunesse</h3>
  <p>Il faut une carte d'adhésion pour pouvoir résider dans une auberge de jeunesse. Elle est valable du 1er janvier au
    31 décembre et disponible à l'auberge de jeunesse d'Echirolles. Il est possible de résider 6 nuits maximum
    consécutives, renouvelables.<br>&nbsp;</p>
  <ul>
    <li><strong>En savoir plus :</strong> <a
      href="http://www.hifrance.org/auberge-de-jeunesse/grenoble-agglomeration.html?page=article" class="lien_externe">FUAJ</a>
    </li>
  </ul>
  <br class="separateur">
</div>


<h1> Logements temporaires du CROUS </h1>


<h1> Alternants et stagiaires </h1>
