<div class="clr-row">
  <div class="clr-col-sm-12">
    <div class="card">
      <div class="card-block">
        <div class="card-text">
          <p> 5 lignes de tramway, 47 lignes de bus... La métropole grenobloise dispose d'un excellent
            réseau de transports en commun ainsi qu'une une vaste offre de transport hors de l'Agglo !</p>
          <p>
            Trouvez le moyen de transport qui vous convient en fonction de vos besoins </p>
        </div>
      </div>
    </div>
  </div>
</div>


<h1>Dans l'agglomération</h1>
<div class="toolbox fiche__description">
  <h3>Pour voyager de temps en temps.</h3>
  <ul>
    <li>Carte 1 voyage <strong>1.60€</strong></li>
    <li>Carte 10 voyage <strong>14.50€</strong></li>
    <li>Carte 30 voyages <strong>42€</strong></li>
    <li>Carte journée <strong>5.50€</strong>&nbsp;</li>
  </ul>
  <br>Il est également possible d'acheter 1 voyage par SMS à<strong> 2,10€</strong>.<br>
  <p>Pour les acheter, il y a des <strong>distributeurs automatiques</strong> à chaque arrêt de tramway. Dans les
    <strong>bus </strong>(<strong>Attention</strong>, le titre pris auprès du conducteur de bus
    coûte&nbsp;<strong>2,10€</strong>). Ils sont également disponibles dans tous les <strong>points TAG</strong> et chez
    <strong>certains commerçants</strong> (bureaux de tabac, points presse...)<br>&nbsp;</p>
  <ul>
    <li><strong>En savoir plus :</strong><strong>&nbsp;<a href="https://www.tag.fr/67-un-tarif-pour-chacun.htm"
          class="lien_externe">TAG</a></strong></li>
  </ul>
  <br>
  <h3>Pour le mois ou l'année<b> <br></b></h3>
  <p><b> </b><strong>L'abonnement </strong>permet la libre circulation sur l'ensemble du réseau sans aucune
    limitation&nbsp;:
  </p>
  <ul>
    <li>Abonnement mensuel étudiant <strong>18/24 ans</strong> : <strong>15€</strong></li>
    <li>Abonnement annuel <strong>150€</strong> (tarif au 1er septembre 2018).</li>
  </ul>
  <p><br>Il existe également une <a
      href="https://campus.univ-grenoble-alpes.fr/fr/menu-principal/droits-et-soutien/les-aides-pour-le-budget/les-transports-a-tarif-reduit/les-trams-et-bus-798218.htm?RH=1529486836469"
      class="lien_interne">tarification solidaire</a> basée sur le quotient familial pour l'abonnement mensuel.</p>
  <p><br>Pour les acheter, rendez-vous dans les <strong>points TAG</strong>. Pour les renouvellements, directement aux
    <strong>distributeurs automatiques</strong> des arrêts de tramway ou sur la <strong>boutique en ligne</strong> de la
    TAG.&nbsp;<br>&nbsp;</p>
  <ul>
    <li><strong>En savoir plus :</strong><strong>&nbsp;<a href="https://www.tag.fr/67-un-tarif-pour-chacun.htm"
          class="lien_externe">TAG</a></strong></li>
  </ul>
  <br>
  <h3>Les agences et Points services TAG</h3>
  <h5><strong>Au domaine Universitaire</strong></h5>
  <ul>
    <li><strong>Point service TAG / Tabac-Presse du campus</strong></li>
  </ul>
  Tram B, C station Bibliothèques Universitaires<br>
  <h5><strong>A Grenoble</strong></h5>
  <ul>
    <li><strong>Agence de Mobilité centre-ville</strong></li>
  </ul>
  Tram A, B, E station Alsace-
  <ul>
    <li><strong>Agence de Mobilité Grand'Place</strong></li>
  </ul>
  Tram A, Bus C3, C6, 12, 67 station Grand'Place
  <ul>
    <li><strong>Agence de Mobilité StationMobile</strong></li>
  </ul>
  Tram C, E Bus 17 station Vallier-Libération<br><br>
  <ul>
    <li><strong>En savoir plus :</strong><strong> <a href="https://www.tag.fr/70-comment-acheter.htm"
          class="lien_externe">TAG </a></strong></li>
  </ul>
  <br class="separateur">
</div>

<h1>Hors agglomération</h1>
<div class="toolbox fiche__description">
  <h3>Réseau de bus TransIsère</h3><strong>Transisère&nbsp;</strong>possède de
  nombreuses lignes de dessertes locales, pour se rendre n'importe où dans le département, notamment dans les stations
  de sports d'hiver. De nombreux tarifs existent, selon son statut et le nombre de zones à traverser. <br><br>Il existe
  aussi des<strong>&nbsp;</strong><strong>formules d'abonnement&nbsp;pour 1 jour, 1 mois,&nbsp;1 année en formule
    éco&nbsp;pour
    les étudiants de moins de 26 ans</strong>&nbsp;(se munir d'1 photo d'identité, 1 photocopie de pièce d'identité, 1
  photocopie de la carte d'étudiant). <br><br>
  <h5>Les points de vente TransIsère</h5>
  <p><strong>Au Domaine Universitaire<br></strong></p>
  <ul>
    <li><strong>Tabac-Presse du campus</strong></li>
  </ul>
  Tram B, C station Bibliothèques Universitaires<br><br><strong>A Grenoble</strong><br>
  <ul>
    <li><strong>Agence du square</strong></li>
  </ul>
  11 bd Agutte Sembat - Centre-ville de Grenoble
  <ul>
    <li><strong>Gare SNCF</strong></li>
  </ul>
  Tram A, B station Gares
  <ul>
    <li><strong>Agences de Mobilités</strong></li>
  </ul>
  <br><strong>En savoir plus :</strong> <a href="http://www.transisere.fr/" class="lien_externe">Transisère<br></a><br>
  <h3>Réseau Train Express Régionaux SNCF + Reseau Routier Etudiant</h3>
  <ul>
    <li>
      <a href="https://www.ter.sncf.com/auvergne-rhone-alpes/offres/tarifs/illico-liberte-jeune"
          class="lien_externe">La&nbsp;</a><b><a
            href="https://www.ter.sncf.com/auvergne-rhone-alpes/offres/tarifs/illico-liberte-jeune"
            class="lien_externe">Carte
            "Illico Liberté Jeunes"</a></b>&nbsp;donne droit à<strong>&nbsp;50%</strong>&nbsp;de réduction sur tout le
        réseau
        TER (y compris le WE) pour les jeunes de moins de 26 ans. Elle coûte <strong>15€ / année</strong>.&nbsp;
      <strong>En savoir plus :</strong> <a
        href="https://www.ter.sncf.com/auvergne-rhone-alpes/offres/tarifs/illico-liberte-jeune" class="lien_externe">TER
        Auvergne-Rhône-Alpes</a>
    </li>
  </ul>
  <br>
  <ul>
    <li>
      <a href="https://www.oui.sncf/train/carte-abonnement-train/avantage-jeune" class="lien_externe">La Carte
          "Avantage Jeune"</a>&nbsp;donne droit à&nbsp;30%&nbsp;de réduction sur les voyages en TGV et des réductions
        sur
        les voyages en TER (dans toute la France). Elle coûte <strong>49</strong><strong>€ / année</strong>.
    </li>
  </ul>
  <br>
  <ul>
    <li>
      <a href="https://www.ter.sncf.com/auvergne-rhone-alpes/offres/tarifs/illico-solidaire"
          class="lien_externe">La&nbsp;<b>Carte
            "Illico Solidaire"</b></a>&nbsp;donne droit à<strong>&nbsp;75%</strong>&nbsp;de réduction sur l’achat de
        billets
        TER en Auvergne-Rhône-Alpes ainsi qu'à Mâcon et Genève. Cette carte est délivrée sous conditions de situation.
      
      <strong>En savoir plus :</strong> <a
        href="https://cdn.ter.sncf.com/medias/PDF/auvergne_rhone_alpes/D%C3%A9pliant%20illico%20Solidaire-janvier%202019_tcm72-105495_tcm72-212501.pdf"
        class="lien_externe">Guide pratique Illico Solidaire</a><br> &nbsp;
    </li>
    <li><a href="https://www.ter.sncf.com/auvergne-rhone-alpes/gares/services/reseau-routier-etudiant"
        class="lien_externe">RESEAU ROUTIER ETUDIANT</a> : un réseau dédié de bus pour rentrer le Week-end&nbsp;
    </li>
  </ul>
  <strong><br>En savoir plus :</strong> <a href="https://www.oui.sncf/services-train/carte-abonnement-train"
    class="lien_externe">OUI SNCF<br></a><br>
  <h3>Abonnement TER-TAG</h3>
  <p><strong> La SNCF, la Région Auvergne-Rhône-Alpes, la SEMITAG et leurs partenaires</strong> offrent de simplifier
    les déplacements des étudiants grenoblois. Il est possible d'acheter en ligne un forfait tout compris (train, tram,
    bus, covoiturage, autocar) pour se déplacer à Grenoble et partout en France.<br><br>Deux types d'offres sont
    proposées :</p>
  <ul>
    <li>une offre pour les étudiants qui se déplacent essentiellement <strong>à pied</strong></li>
    <li>une offre pour ceux qui utilisent beaucoup les <strong>transports en commun</strong>.&nbsp;</li>
  </ul>
  <br><strong>En savoir plus : </strong><a
    href="https://www.ter.sncf.com/auvergne-rhone-alpes/offres/tarifs/ter-reseaux-urbains/ter-tag"
    class="lien_externe">Forfait
    étudiant SNCF</a>
  <br class="separateur">
</div>