.login-wrapper{
    background: none;
}
.login-wrapper, .login-wrapper .login {
    display: block;
}

.login-wrapper .login {
    background: none;
    position: relative;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 2.5rem;
    height: auto;
    min-height: fit-content;
    width: 21rem;
}