<div *ngIf="successRegister" class="alert alert-success" role="alert">
        <div class="alert-items">
          <div class="alert-item static">
            <div class="alert-icon-wrapper">
              <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
            </div>
            
            <span class="alert-text">
                    Vous êtes enregistré ! Veuillez vous connecter.
            </span>
          </div>
        </div>

      </div>

<div class="login-wrapper">
    
  <form *ngIf="mode=='login'" class="login">
    <section class="title">
      <h3 class="welcome">Veuillez vous</h3>
      Connecter
    </section>
    
    <div class="login-group">
      <clr-input-container>
        <label class="clr-sr-only">Email</label>
        <input type="text" name="email" clrInput placeholder="Email" [(ngModel)]="email" />
      </clr-input-container>
      <clr-password-container>
        <label class="clr-sr-only">Password</label>
        <input type="password" name="password" clrPassword placeholder="Password" [(ngModel)]="password" />
      </clr-password-container>
      <div *ngIf="error" class="error active">
        {{error}}
      </div>
      <button class="btn btn-primary" (click)="submitLogin()">NEXT</button>
      <a (click)="changeMode()" class="signup">S'inscrire</a>
    </div>
  </form>
  <form *ngIf="mode=='register'" class="login">
    <section class="title">
      <h3 class="welcome">Veuillez vous</h3>
      Enregistrer
    </section>
    <div class="login-group">
      <clr-input-container>
        <label class="clr-sr-only">Email</label>
        <input type="text" name="email" clrInput placeholder="Email" [(ngModel)]="email" />
      </clr-input-container>
      <clr-password-container>
        <label class="clr-sr-only">Password</label>
        <input type="password" name="password" clrPassword placeholder="Password" [(ngModel)]="password" />
      </clr-password-container>
      <clr-input-container>
        <label class="clr-sr-only">Prénom</label>
        <input type="text" name="email" clrInput placeholder="Prénom" [(ngModel)]="prenom" />
      </clr-input-container>
      <clr-input-container>
        <label class="clr-sr-only">Ville</label>
        <input type="input" name="input" clrInput placeholder="Ville" [(ngModel)]="ville" />
      </clr-input-container>
      <clr-input-container>
        <label class="clr-sr-only">Photo</label>
        <input type="input" name="input" clrInput placeholder="Photo" [(ngModel)]="picture" />
      </clr-input-container>
      <clr-toggle-wrapper>
        <label>Je veux aider</label>
        <input type="checkbox" clrToggle name="Expert ?" [(ngModel)]="is_helping" />
      </clr-toggle-wrapper>
      <clr-checkbox-container>
        <label>Centres d'intérêt</label>
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox name="expertise" required value="option1" [(ngModel)]="expertise.apl" />
          <label>APL</label>
        </clr-checkbox-wrapper>
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox name="expertise" required value="option2" [(ngModel)]="expertise.health" />
          <label>Santé</label>
        </clr-checkbox-wrapper>
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox name="expertise" required value="option3" [(ngModel)]="expertise.sport" />
          <label>Sport</label>
        </clr-checkbox-wrapper>
      </clr-checkbox-container>
      <div *ngIf="error" class="error active">
        {{error}}
      </div>
      <button class="btn btn-primary" (click)="submitRegister()">NEXT</button>
      <a (click)="changeMode()" class="signup">Se connecter</a>
    </div>
  </form>
</div>
