.messaging {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    border: 1px solid #ccc;
    color: #333;
    margin: 0;
  }
  
  h4 {
    margin-bottom: 10px;
    color: white;
  }
  
  ul {
    list-style: none;
  }
  
  form {
    margin-bottom: 0;
  }
  
  input[type="text"] {
    color: #333;
    border-radius: 0;
  }
  
  .sidebar {
    flex-basis: 15%;
    flex-shrink: 0;
    flex-grow: 0;
    background-color: #47919e;
    color: #fff;
    padding: 10px 10px;
    overflow-y: auto;
  }
  
  .left-sidebar section {
    margin-bottom: 20px;
  }
  
  .left-sidebar {
    display: flex;
    flex-direction: column;
  }
  
  .room-members {
    flex-grow: 1;
  }
  
  .right-sidebar .room {
    display: flex;
  }
  
  .newUser-input {
    margin-bottom: 0;
  }
  
  .right-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
  }
  
  .room {
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .room:hover {
    background-color: goldenrod;
    color: #333;
  }
  
  .room.active {
    background-color: #11D771;
    color: #333;
  }
  
  .room-name {
    display: inline-block;
    margin-left: 10px;
  }
  
  .user-list li {
    margin-bottom: 10px;
    font-size: 16px;
    display: flex;
    align-items: center;
  }
  
  .presence {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    margin-right: 10px;
    border-radius: 50%;
  }
  
  .presence.online {
    background-color: green;
  }
  
  .chat-window {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .chat-header, .chat-footer {
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }
  
  .chat-header {
    display: block;
    text-align: center;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    padding: 10px 20px;
    height: 40px;
  }
  
  .chat-header h4 {
    vertical-align: middle;
    color: #000;
    margin-bottom: 0;
  }
  
  .chat-session {
    flex-grow: 1;
    padding: 10px 20px;
    overflow-y: scroll;
  }
  
  .message-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  .user-message {
    margin-top: 10px;
  }
  
  .user-message span {
    display: block;
  }
  
  .user-id {
    font-weight: bold;
  }
  
  .chat-footer {
    padding: 0;
    border-top: 1px solid #ccc;
    height: 50px;
  }
  
  .message-form {
    width: 100%;
    height: 100%;
  }
  
  .message-input {
    width: 100%;
    border: none;
    margin-bottom: 0;
    height: 100%;
  }
  
  .message-input:focus {
    border: none;
  }
  
  .send-message {
    background-color: #300d4f;
    color: #fff;
    border: 1px solid #300d4f;
    padding: 10px;
  }
  
  .create-room {
    padding: 0 10px;
  }
  
  .create-room button {
    display: block;
  }
  
  input[type="checkbox"] {
    margin-bottom: 0;
    display: inline-block;
    margin-right: 5px;
  }
  
  .is-private {
    display: flex;
    align-items: center;
  }
  
  .user-rooms h4, .joinable-rooms h4 {
    padding-left: 10px;
  }