<div class="paragraphe__contenu--0 toolbox">
  <div class="clr-row">
    <div class="clr-col-sm-12">
      <div class="card">
        <div class="card-block">
          <div class="card-text">
            <div class="fiche__resume">Restaurant universitaire, sandwicherie, cafétéria... A chacun son repas, en
              fonction de son
              temps libre, ses goûts, son budget... et son humeur du moment.
            </div>
            <div class="paragraphe__citation">Retrouvez plus de 30 cafétérias et restaurants universitaires dans toute
              l'agglomération Grenobloise !
            </div>
          </div>
        </div>
      </div>


      <h3>Le "RU" -&nbsp; CROUS Grenoble Alpes</h3>Les<strong> restaurants universitaires,</strong> communément appelés
      "<strong>RU</strong>", proposent des menus à petits prix, selon vos envies : <strong>3,30 €</strong> (tarif
      étudiant
      2019-2020).&nbsp; Le paiement s'effectue grâce à votre Carte Multiservices et au portefeuille électronique intégré
      iZly !
      <div><br>
        <div class="paragraphe__fond__colore"><strong>IZLY : RAPIDE, PRATIQUE, SÉCURISÉ<br></strong>Le paiement dans les
          restaurants et cafétérias s’effectue <strong>exclusivement</strong> avec le service IZLY, une solution 100%
          connectée. Vous avez la possibilité de régler vos repas par carte multiservices, carte IZLY, QR code ou
          smartphone. Avant toute utilisation de votre carte multiservices et/ou Izly, vous devrez activer votre compte
          IZLY
          (Un lien est envoyé automatiquement sur votre adresse mail étudiant après l'inscription). <br><br>Différents
          modes
          de chargement vous sont proposés dans votre espace personnel : carte bancaire, virement, … Dès que votre solde
          diminue, pensez à recharger !&nbsp;Izly, c’est aussi des points fidélité à cumuler ! Dès 120 points, profitez
          d’une formule offerte en cafétéria !
        </div>
        <br>
        <ul>
          <li><strong>En savoir plus :</strong> <a href="http://www.crous-grenoble.fr/restauration/"
              class="lien_externe">CROUS</a><a href="http://www.crous-grenoble.fr/restauration/"
              class="lien_externe">&nbsp;Grenoble Alpes</a>&nbsp;et sur le&nbsp;<a
              href="http://www.crous-grenoble.fr/restauration/izly-nouveau-paiement-restauration/"
              class="lien_externe">paiement
              iZly</a></li>
        </ul>
        <br>
        <h3>Carte des lieux de restauration des campus</h3>
        <p>Des sandwicheries sont installées à plusieurs endroits sur le campus, ce sont des structures "privées", elles
          pratiquent donc des tarifs supérieurs à ceux du CROUS. <strong>Un sandwich ordinaire hors CROUS coûte environ
            le
            prix d'un repas</strong>, il faut donc prévoir d'augmenter le budget alimentation si on veut une boisson ou
          un
          dessert.</p><br>
        <div class="videoWrapper">
          <iframe src="https://www.google.com/maps/d/u/4/embed?mid=1Wje7bFtPJ-PtziUF2e_EdS_c1-mEIsCu" width="640"
            height="480"></iframe>
        </div>
      </div>
    </div>