<div id="article__description" class="toolbox fiche__description"><h3>Où chercher ?</h3>Pour les objets perdus à
  l'extérieur des bâtiments, il est conseillé de se rendre à l'<strong>accueil du bâtiment le plus proche</strong>. <br><br><strong>Vous
    pouvez aussi contacter le service Aménagement Durable du domaine universitaire :</strong><br><br><a
    href="https://www.communaute-univ-grenoble-alpes.fr/fr/presentation/la-comue/organisation/direction-de-l-amenagement-durable-communaute-universite-grenoble-alpes-662218.htm"
    class="lien_interne">Direction de l'Aménagement durable</a>, service des gardes<br>141 rue de la Piscine<br>Domaine
  Universitaire<br>Tél. 04 76 82 82 82<br>Tram B, D station Les Taillées<br>Tram C station Hector
  Berlioz<br><br><strong>Ou vous présenter à l'accueil des bâtiments Pierre Mendès France ou Stendhal<br><br></strong>
  <ul>
    <li><strong>Bâtiment Pierre Mendès France</strong></li>
  </ul>
  Lundi - vendredi<br>8h15 - 12h<br>13h15 - 16h30<br><br>
  <ul>
    <li><strong>Bâtiment Stendhal</strong></li>
  </ul>
  Lundi&nbsp; - vendredi<br>7h45 - 18h<br><br>
  <p><strong>Contacter l'accueil <a href="https://www.univ-grenoble-alpes.fr/francais/" class="lien_externe">UGA</a><br><br></strong></p>
  <ul>
    <li><strong>Téléphone&nbsp;</strong></li>
  </ul>
  04 57 42 21 42<br>Lundi - vendredi<br>8h30 - 17h30<br><br>
  <ul>
    <li><strong>Mail</strong>&nbsp;</li>
  </ul>
  uga-accueil@univ-grenoble-alpes.fr<br>
  <br class="separateur">
</div>
