<div class="main-container">
  <h1>Le transport</h1>

  <div class="clr-row">
    <div class="clr-col-sm-12">
      <div class="card">
        <div class="card-block">
          <div class="card-text">
            <p>
              Moins de 20 minutes pour relier le centre-ville et les campus en prenant le Tram ! Et quand il fait beau,
              je
              prends mon vélo, c’est encore plus écolo !
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="first-list">
    <ul>
      <li><strong>L’abonnement 18/24 ans à 15 €</strong> est parmi&nbsp;les moins chers de France pour les étudiants
      </li>
      <li><strong>Avec 320 km de pistes cyclables</strong>, Grenoble et le domaine universitaire ont tous deux été
        primés&nbsp;par
        la Fédération française des Usagers de&nbsp;la Bicyclette
      </li>
      <li><strong>Une tarification solidaire pour les petits budgets</strong> :&nbsp;<strong><a
            href="https://campus.univ-grenoble-alpes.fr/fr/menu-principal/services/icampus-welcome-center/des-engagements-pour-toujours-mieux-repondre-aux-attentes-et-aux-besoins-des-etudiants-782959.htm?RH=10073944146349802&amp;RF=1550656792406"
            class="lien_interne">iCampus</a></strong> vous conseille selon votre situation&nbsp;pour bénéficier du
        meilleur
        tarif
      </li>
      <li><strong>Un réseau de transports en commun</strong> (Bus, Tram,&nbsp;TER) qui dessert facilement toute
        l’agglomération
      </li>
    </ul>
  </div>

  <div class="clr-row list-item body clr-justify-content-center">
    <div class="clr-col-sm-3 item">

      <div class="clr-row">
        <h3><a class="nav-link" routerLinkActive="active" routerLink="/transport/reperer"> Se repérer sur les campus et
            dans
            l'Agglo</a>
        </h3>
        <p>
          Retrouvez tous les services et outils mis à votre disposition pour faciliter vos déplacements au sein des
          campus et
          dans l'agglomération.
        </p>
      </div>
    </div>

    <div class="clr-col-sm-3 item">

      <div class="clr-row">
        <h3> <a class="nav-link" routerLinkActive="active" routerLink="/transport/commun">Les transports en commun</a>

        </h3>
        <p>
          5 lignes de tramway, 47 lignes de bus... La métropole grenobloise dispose d'un excellent réseau de transports
          en
          commun ainsi qu'une une vaste offre de transport hors Agglo.
        </p>
      </div>
    </div>

    <div class="clr-col-sm-3 item">

      <div class="clr-row">
        <h3> <a class="nav-link" routerLinkActive="active" routerLink="/transport/velo">À vélo</a>

        </h3>
        <p>
          Ce sont plus de 300km de pistes et de bandes cyclables qui permettent aux cyclistes de se déplacer chaque jour
          dans
          Grenoble et son agglomération.
        </p>
      </div>
    </div>

    <div class="clr-col-sm-3 item">

      <div class="clr-row">
        <h3> <a class="nav-link" routerLinkActive="active" routerLink="/transport/voiture">En voiture</a>
        </h3>
        <p>
          Il existe de nombreuses solutions de covoiturage, parkings-relais, taxis/Uber... pour faciliter vos
          déplacements !

        </p>
      </div>
    </div>

    <div class="clr-col-sm-3 item">

      <div class="clr-row">
        <h3> <a class="nav-link" routerLinkActive="active" routerLink="/transport/international">Depuis
            l'international</a>


        </h3>
        <p>
          Retrouvez toutes les informations pratiques pour venir étudier à Grenoble depuis l'international en toute
          tranquillité.
        </p>
      </div>
    </div>

  </div>
</div>