<div class="clr-row">
  <div class="clr-col-sm-12">
    <div class="card">
      <div class="card-block">
        <div class="card-text">
          <p> Il existe de nombreuses solutions de covoiturage, parkings-relais, taxis/Uber... pour
            faciliter vos déplacements !</p>
        </div>
      </div>
    </div>
  </div>
</div>
<h3>Le covoiturage</h3>De nombreuses associations proposent une mise en relation des personnes via des sites
internet.<br><br><strong>Covoiturage
  sur le domaine universitaire</strong><br>Vous pouvez faire ou proposer du covoiturage pour vous rendre sur le domaine
universitaire via le site internet du CAESUG.<br><br><strong>En savoir plus :&nbsp;</strong><a
  href="http://covoituragecaesug.com/campus/" class="lien_externe">CAESUG</a><br><br>
<h3>Location de voiture à prix avantageux</h3>Citiz permet, via un abonnement, de disposer d'un véhicule pour quelques
heures ou plusieurs jours, à des prix intéressants.<br>Les voitures sont stationnées à différents points et
accessibles 24h/24h avec une carte électronique. Les réservations peuvent s'effectuer par internet ou par
téléphone.<br><br><strong>En savoir plus :</strong> <a href="https://alpes-loire.citiz.coop/"
  class="lien_externe">Citiz</a><br><br>
<h3>Les parking-Relais</h3>Pour éviter la ville en voiture, il existe 19 Parkings-Relais (P+R) dans l’agglomération
grenobloise, proches des stations de tram ou des stations de bus. Stationnement gratuit pour les détenteurs d’un titre
de transport TAG et les abonnés à la consigne Métrovélo.<br><br><strong>En savoir plus :</strong> <a
  href="https://www.tag.fr/parkingRelais/58-parking-relais.htm" class="lien_externe">TAG<br></a> <br>
<h3>Les taxis et Uber</h3>Grenoble et son agglomération sont desservis 24h/24 et 7j/7 par les Taxis de Grenoble et les
Taxis de la Banlieue Grenobloise.<br><br><strong>Pour réserver un taxi :&nbsp;<br></strong>
<ul>
  <li><a href="https://www.taxi-grenoble38.fr/" class="lien_externe">Taxi grenoblois </a></li>
</ul>
04 76 54 42 54 <br><br>
<ul>
  <li><a href="http://www.taxis-banlieue-grenobloise.fr/" class="lien_externe">Taxis de la banlieue grenobloise </a>
  </li>
</ul>
04 76 54 17 18<br><br>Vous pouvez également utiliser l'<a href="https://www.uber.com/fr/cities/grenoble/"
  class="lien_externe">application Uber</a> pour vous déplacer
dans Grenoble et son agglomération.<br><br>Pour commander une course, vous devez <a href="https://get.uber.com/sign-up/"
  class="lien_externe">vous inscrire en ligne</a> afin de disposer d'un profil
utilisateur.