<div class="clr-row">
  <div class="clr-col-sm-12">
    <div class="card">
      <div class="card-block">
        <div class="card-text">
          <div class="paragraphe__contenu--0 toolbox">
            <div class="fiche__resume">Que ce soit pour emménager ou pour déménager, certaines démarches sont
              indispensables et il
              est parfois difficile de penser à tout. Retrouvez les informations essentielles pour vous aider !
            </div>
            Un <strong>emménagement</strong> c'est plusieurs démarches pour bien s'installer, il faut :
            <ul>
              <li>Prendre contact avec les différents fournisseurs (eau, gaz, électricité...)</li>
              <li>Contracter une assurance habitation</li>
              <li>Etc.</li>
            </ul>
            <br>De même pour un <strong>déménagement</strong> c'est :
            <ul>
              <li>Résilier son bail</li>
              <li>Faire l'état des lieux</li>
              <li>Etc...</li>
            </ul>
            <strong><br>Tenez vous au courant des différentes démarches à effectuer.</strong><br><br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<h1>Les démarches avant l'entrée</h1>
<div class="paragraphe__contenu--0 toolbox">
  <h3>Le dossier candidat</h3>Avant la signature du bail, le bailleur ou son représentant (agent immobilier, notaire...)
  peut vous demander, ainsi qu’à la personne qui se porte caution pour vous, certains documents :<br><br>
  <ul>
    <li>une pièce justificative d’<strong>identité</strong> en cours de validité (deux si la caution est une personne
      morale) ;
    </li>
    <li>une pièce justificative de <strong>domicile </strong>;</li>
    <li>un ou plusieurs documents attestant des<strong> activités professionnelles</strong> (contrat de travail, carte
      étudiant et certificat…) ;
    </li>
    <li>un ou plusieurs documents attestant des <strong>ressources</strong> (avis d’imposition, 3 derniers bulletins de
      paie…).
    </li>
    <li><strong>Certains documents ne peuvent pas être demandés : relevés de comptes bancaire, un RIB, un extrait de
        casier judiciaire, un dossier médical personnel…</strong></li>
  </ul>
  <br>
  <ul>
    <li><strong>En savoir plus :</strong> <a href="https://www.adil38.org/jeune-trouvez-logement-location/"
        class="lien_externe">ADIL 38 - Jeunes - Trouvez votre logement</a></li>
  </ul>
  <br>
  <h3>La caution et le dépôt de garantie</h3>La caution consiste à <strong>désigner une personne responsable en cas de
    non paiement</strong> de la part de l'étudiant qui loue le logement. Elle permet d'assurer le bailleur que le
  paiement
  sera effectué dans tous les cas.<br><br>Le dépôt de garantie sert à <strong>engager le locataire dans le respect des
    lieux</strong> et à éviter toutes dégradations.&nbsp;<br><br>Ces deux éléments sont quasiment systématiques lors de
  l'entrée dans un logement.<br><br>Si vous rencontrez des difficultés avec la caution ou le dépôt de garantie, des
  aides existent.<br><br>
  <ul>
    <li><strong>En savoir plus : </strong><a
        href="https://campus.univ-grenoble-alpes.fr/fr/menu-principal/installation/budget/les-aides-au-logement/les-garanties-et-cautions-locatives-779015.htm?RH=1566463273838&amp;RF=1529486635089"
        class="lien_interne">Les aides pour la caution et dépôt de garantie</a></li>
  </ul>
  <br>
  <h3>L'état des lieux d'entrée et la signature du bail</h3>Un état des lieux doit être réalisé <strong>en votre
    présence</strong>, pour faire le point sur l’état du logement. À la fin du contrat, il sera comparé à l'état des
  lieux
  sortie. <br><br>Soyez attentif à toutes les dégradations du logement et pensez à relire l'état des lieux avant de le
  signer. <strong>Un exemplaire doit vous être remis</strong>. Après l'entrée dans le logement, vous disposer de 10
  jours pour signaler toutes modifications de l'état des lieux par courrier recommandé avec accusé de
  réception.<br><br>Si
  l’état des lieux est réalisé par un professionnel mandaté, il vous sera <strong>facturé en partie</strong>.<br>
  <h5>
    Signer le contrat de location (bail)<strong><br></strong></h5>Le propriétaire et vous-même devrez signer un contrat
  de
  location, appelé “bail” (conditions de la location : montant du loyer, la surface du logement, la durée du contrat,
  etc). <br><br>En même temps que la signature du contrat, vous aurez à <strong>régler les différents frais d’entrée
    dans le logement </strong>: dépôt de garantie, frais d’agence le cas échéant, premier mois de loyer.<br><br>
  <ul>
    <li><strong>En savoir plus :</strong> <a
        href="https://campus.univ-grenoble-alpes.fr/fr/menu-principal/installation/budget/le-budget-etudiant/le-budget-installation-778957.htm?RH=1566463273838"
        class="lien_interne">Le budget installation</a></li>
  </ul>
</div>

<h1>Les démarches après l'entrée</h1>
<div class="paragraphe__contenu--0 toolbox">
  <div class="fiche__resume">Dès que la date d'emménagement est connue, vous pouvez souscrire aux différents contrats
    d'installation (gaz, électricité,...) et entamer les demandes d'aide au logement.
  </div>
  <h3>Eau, Gaz et électricité</h3>Selon son lieu d'habitation, le fournisseur de gaz et électricité peut être différent
  : Depuis le 1er juillet 2007, il est possible de choisir son fournisseur d'électricité et de gaz naturel.<br><br>
  <ul>
    <li><strong>En savoir plus :</strong> <a href="https://www.energie-info.fr/" class="lien_externe">Energie-info</a>
    </li>
  </ul>
  <br>Pour l'eau, toutes les communes Grenoble Alpes Métropole doivent s'adresser aux Eaux de Grenoble Alpes.<br><br>
  <ul>
    <li><strong>En savoir plus :</strong> <a href="https://www.eauxdegrenoblealpes.fr/" class="lien_externe">Eaux de
        Grenoble</a></li>
  </ul>
  <h3>Internet et télphone</h3>
  <p>Dès que vous connaissez l'adresse de votre logement et que le bail est signé, vous pouvez contracter un abonnement
    à Internet et au téléphone.<br><br><strong>Si vous habitez en résidence étudiante</strong>, il faut se renseigner
    auprès du bureau d'accueil de sa résidence.<br>&nbsp;</p>
  <h3>L'assurance habitation et la responsabilité civile</h3>
  <h5>Les assurances</h5>Pour un logement meublé ou non
  meublé, <strong>la loi oblige le locataire à assurer son logement</strong> pendant la durée du bail.<br><br>Le
  locataire est tenu de souscrire à une assurance "risques locatifs" et doit remettre une attestation au propriétaire
  lors de la remise des clés et à chaque date d'anniversaire du bail. Sans cette attestation, le propriétaire peut
  résilier le bail.<br><br><strong>Attention</strong>, cette assurance ne couvre pas vos biens en cas de vol ou de
  dégradation de la part d'un tiers. Pour assurer vos biens vous devez souscrire à une assurance multirisque
  habitation.<br>
  <h5>La responsabilité civile</h5>L'assurance responsabilité civile est obligatoire. Elle permet de couvrir les dégâts
  que vous pourriez causer involontairement aux autres. Cette assurance est notamment demandée pour finaliser votre
  inscription à votre établissement. Elle est généralement comprise dans la souscription d'une assurance
  multirisques.<br><br>
  <div class="paragraphe__fond__colore">De nombreux organismes (sociétés d'assurance, banques, mutuelles étudiantes)
    proposent des contrats d'assurance aux étudiants. <strong>Ne pas hésiter à comparer les tarifs et les prestations
      proposés.<br></strong></div>
  <h3>L'allocation logement / Caf</h3>Une fois le bail du logement signé, il est possible de faire une demande d'aide au
  logement auprès de la Caisse d'Allocations Familiales (Caf).<br><br>
  <ul>
    <li><strong>En savoir plus :</strong> <a
        href="https://campus.univ-grenoble-alpes.fr/fr/menu-principal/installation/budget/les-aides-au-logement/faire-une-demande-d-aide-au-logement-quels-criteres--777683.htm?RH=1566463273838&amp;RF=1529486635089"
        class="lien_interne">Les demandes d'aide au logement</a></li>
  </ul>
  <br>
</div>

<h1>Les démarches pour déménager</h1>
<div id="article__description" class="toolbox fiche__description">
  <h3>Résilier son bail</h3>La fin du contrat de
  location peut être demandée<strong> à tout moment par le locataire</strong>.<br><br>Pour le locataire, le préavis est
  de <strong>3 mois</strong> pour les logements vides (il peut être réduit à 1 mois dans certains cas) et seulement
  <strong>1 mois</strong> pour les meublés.&nbsp;<br><br>Cette demande se fait par <strong>courrier recommandé avec
    accusé de réception </strong>ou <strong>en</strong> <strong>main propre contre récépissé</strong>.<br><br>Le délai
  de préavis commence à la date de l'accusé de réception.<br><br>Si <strong>le propriétaire décide de ne pas reconduire
    le contrat</strong> lorsque celui-ci se termine, il doit en avertir le locataire par lettre recommandée avec accusé
  de réception et motiver cette décision. <br><br>Pour le propriétaire, le préavis de résiliation est de <strong>6
    mois</strong> pour les logements vides et <strong>3 mois </strong>pour les meublés <strong>avant la fin du
    bail</strong>.<br><br>
  <h3>L'état des lieux</h3>Avec la remise des clés au propriétaire, doit avoir lieu l'état des lieux de sortie du
  logement afin de constater l'état de celui-ci et de ses équipements.<br><br><strong>En l'absence de détériorations
    imputables au locataire</strong> et mentionnées dans l'état des lieux sortant, <strong>le dépôt de garantie doit
    être restitué</strong>.<br><br>
  <h3>Le dépôt de garantie et les charges</h3>Pour les logements vides, le dépôt de garantie doit être restitué dans le
  délai de <strong>2 mois</strong>, suivant la remise des clés, <strong>en présence de dégradations</strong>.<br><br>En
  revanche, <strong>si l'état des lieux de sortie est conforme à l'état des lieux d'entrée</strong>, il doit être
  restitué dans un délai d'<strong>1 mois</strong>.<br><br>Pour les sommes imputées au dépôt de garantie pour
  dégradations, <strong>la loi oblige le propriétaire à fournir la preuve</strong> de celles-ci ainsi que le
  <strong>justificatif
    des frais occasionnés</strong>.
  <br class="separateur">
</div>