<div class="main-container">
  <h1>Santé et bien-être</h1>

  <div class="clr-row">
    <div class="clr-col-sm-12">
      <div class="card">
        <div class="card-block">
          <div class="card-text">
            <div class="paragraphe__citation">« Choisir ma mutuelle, me donner&nbsp;des conseils santé, m’enseigner les
              gestes&nbsp;qui
              sauvent ou gérer mon stress ? Les services universitaires m’accompagnent dans mes démarches santé et
              bien-être. »
            </div>
            <p>&nbsp;</p>
            <ul>
              <li>
                Le Centre de santé universitaire vous accueille toute l'année gratuitement sur présentation de votre
                carte
                d'étudiant et de votre carte vitale.
              </li>
              <li>
                L’équipe prévention du Centre de santé vous accompagne : ateliers gestion du stress, conseils sur
                l’alimentation, formations aux gestes qui sauvent...
              </li>
              <li>
                iCampus Welcome Center et ses partenaires proposent un accompagnement aux démarches de couverture
                santé :
                choix de la mutuelle, demande de carte vitale, suivi de remboursements.
              </li>
            </ul>
            <ul>
              <li>
                Se détendre une heure au Tipi, le tout premier espace de relaxation universitaire de France !
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="clr-row list-item body clr-justify-content-center">
    <div class="clr-col-sm-3 item">

      <div class="clr-row">
        <h3><a class="nav-link" routerLinkActive="active" routerLink="/sante-bien-etre/bien-etre">Mon bien-être</a>
        </h3>
        <p>
          Alimentation, activité physique, prévention, conseils... L'université prend soin du bien-être de ses
          étudiants.

        </p>
      </div>
    </div>

    <div class="clr-col-sm-3 item">

      <div class="clr-row">
        <h3> <a class="nav-link" routerLinkActive="active" routerLink="/sante-bien-etre/soins-offre">L'offre de
            soins</a>

        </h3>
        <p>
          Un problème de santé ? Des difficultés personnelles ? Retrouvez toutes les adresses utiles pour prendre soin
          de
          vous.

        </p>
      </div>
    </div>

    <div class="clr-col-sm-3 item">

      <div class="clr-row">
        <h3> <a class="nav-link" routerLinkActive="active" routerLink="/sante-bien-etre/soins-systeme">Le système de
            soin</a>


        </h3>
        <p>
          Médecin traitant, assurance, consultation... Retrouvez toutes les informations utiles pour connaître le
          système
          de
          soins français et effectuer les bonnes démarches.

        </p>
      </div>
    </div>

    <div class="clr-col-sm-3 item">

      <div class="clr-row">
        <h3> <a class="nav-link" routerLinkActive="active" routerLink="/sante-bien-etre/handicap">L'accompagnement
            handicap</a>
        </h3>
        <p>
          Pour les étudiants confrontés à un problème lié à la maladie ou au handicap, le Service Accueil Handicap
          assure
          un
          accompagnement adapté aux besoins de chacun.

        </p>
      </div>
    </div>

    <div class="clr-col-sm-3 item">

      <div class="clr-row">
        <h3> <a class="nav-link" routerLinkActive="active" routerLink="/sante-bien-etre/ecoute">Les lieux d'écoute</a>

        </h3>
        <p>
          Des services sont mis à disposition des étudiants qui rencontrent des difficultés personnelles. N'hésitez pas
          à
          demander de l'aide.

        </p>
      </div>
    </div>

  </div>
</div>