<div class="main-container">
    <h1>Le budget</h1>

    <div class="clr-row">
        <div class="clr-col-sm-12">
            <div class="card">
                <div class="card-block">
                    <div class="card-text">
                        <div class="paragraphe--0">
                            <div class="paragraphe__contenu--0 toolbox">
                                <div class="paragraphe__citation">Logement, transports, alimentation, santé, loisirs…
                                    iCampus m’informe sur le coût de la vie, m’aide à élaborer et à gérer au mieux mon
                                    budget.</div><br>
                                <ul>
                                    <li><strong>Bourses et aides du Crous</strong>, tarifications solidaires, réductions
                                        et bons plans, il y a des solutions pour toutes les situations, <strong><a
                                                href="https://campus.univ-grenoble-alpes.fr/fr/menu-principal/services/icampus-votre-guichet-unique-pour-faciliter-votre-installation-et-votre-quotidien-755523.htm?RH=10073944238967246"
                                                class="lien_interne">iCampus vous conseille</a></strong> et vous
                                        aiguille vers les bons interlocuteurs.<br> &nbsp;</li>
                                    <li>Déclarer ses impôts ? Rester rattaché à ses parents ou prendre son indépendance
                                        fiscale ? <strong>iCampus c’est aussi une information pour toute la famille afin
                                            de faire un choix éclairé</strong>.<strong><br> <br> </strong></li>
                                    <li>Trouver un emploi compatible avec ses études grâce au <strong><a
                                                href="http://www.crous-grenoble.fr" class="lien_externe">Crous</a>
                                        </strong> ou au sein de son université ! Plusieurs milliers d’heures de contrats
                                        sont proposés aux étudiants au cours de l’année, mais aussi durant l’été.</li>
                                </ul><br><br>
                            </div><!-- .paragraphe__contenu--0 .toolbox -->
                            <div class="separateur"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clr-row list-item body clr-justify-content-center">
        <div class="clr-col-sm-3 item">
           
            <div class="clr-row">
                <h3><a class="nav-link" routerLinkActive="active" routerLink="/budget/budget-etudiant">Le budget
                        etudiant</a>
                </h3>
                <p>
                    Quelles sont les principales dépenses pour s'installer à Grenoble et les frais de la vie quotidienne
                    à prévoir pour l'année universitaire ?

                </p>
            </div>
        </div>

        <div class="clr-col-sm-3 item">
           
            <div class="clr-row">
                <h3><a class="nav-link" routerLinkActive="active" routerLink="/budget/bourses-etudes">Les bourses
                        d'études</a>
                </h3>
                <p>
                        budget etudiant
                    Il existe différentes bourses à destination des étudiant(e)s permettant d'alléger le coût des études
                    (CROUS, fondations, etc.).

                </p>
            </div>
        </div>

        <div class="clr-col-sm-3 item">
           
            <div class="clr-row">
                <h3><a class="nav-link" routerLinkActive="active" routerLink="/budget/aides-logement">Les aides au
                        logement</a>
                </h3>
                <p>
                    Un emménagement peut se révéler coûteux... Quelques pistes pour bénéficier d'aides.

                </p>
            </div>
        </div>

        <div class="clr-col-sm-3 item">
            
            <div class="clr-row">
                <h3><a class="nav-link" routerLinkActive="active" routerLink="/budget/jobs-etudiants">Les jobs
                        étudiants</a>
                </h3>
                <p>
                    Pendant les vacances ou tout au long de l’année, le job étudiant peut constituer un revenu
                    complémentaire non négligeable.

                </p>
            </div>
        </div>

        <div class="clr-col-sm-3 item">
            
            <div class="clr-row">
                <h3><a class="nav-link" routerLinkActive="active" routerLink="/budget/taxes-impots">Les taxes et
                        impôts</a>
                </h3>
                <p>
                    Les étudiants sont également des contribuables, il faut bien se renseigner sur ses obligations avant
                    d'avoir de mauvaises surprises !

                </p>
            </div>
        </div>

        <div class="clr-col-sm-3 item">
            
            <div class="clr-row">
                <h3><a class="nav-link" routerLinkActive="active" routerLink="/budget/difficultes">En cas de
                        difficultés</a>
                </h3>
                <p>
                    Difficultés personnelles ou financières, des solutions existent. Il ne faut pas hésiter à demander
                    de l'aide !
                </p>
            </div>
        </div>

    </div>
</div>