<div id="contenu-encadres" class="type_avec_nav_sans_encadres">
  <div id="avec_nav_sans_encadres" class="contenu" role="main">

    <h1>Accueil, conseils, accompagnement, le Service Accueil Handicap est là pour vous ! </h1>
    <span class="filet_deco"></span>

    <div class="ligne_1">
      <div class="colonne_1">
        <div class="colonne_deco">
          <div class="paragraphe--0">
            <div class="paragraphe__contenu--0 toolbox">
              <div class="paragraphe__citation">Le site universitaire de Grenoble a été un pionnier pour la prise en
                compte du handicap dans la vie pédagogique et également quotidienne.&nbsp;
              </div>
              <ul>
                <li><span
                  style="font-size: 15.008px; font-style: inherit; font-variant: inherit; font-weight: inherit; box-sizing: border-box; margin: 0px; padding: 0px; border: 0px; font-stretch: inherit; line-height: inherit;">Accueillir, conseiller et accompagner les étudiants en situation de handicap</span><span
                  style="font-size: 15.008px; font-style: inherit; font-variant-ligatures: inherit; font-variant-caps: inherit; font-weight: inherit;">&nbsp;pour leur permettre de participer de façon optimale à la vie étudiante (formation, culture, sport, vie sociale...).<br>    </span>
                </li>
                <li><span
                  style="font-size: 15.008px; font-style: inherit; font-variant: inherit; font-weight: inherit; box-sizing: border-box; margin: 0px; padding: 0px; border: 0px; font-stretch: inherit; line-height: inherit;">Optimiser l'autonomie</span><span
                  style="font-size: 15.008px; font-style: inherit; font-variant-ligatures: inherit; font-variant-caps: inherit; font-weight: inherit;">&nbsp;en accompagnant les étudiants en situation de handicap et les universités dans le choix de leurs outils de compensation pour l'accès au savoir.<br>    </span>
                </li>
                <li><span>Intégrer de façon optimale</span>&nbsp;les
                  étudiants en situation de handicap dans leur filière ou composante en aidant les personnels
                  enseignants, administratifs et techniques des établissements d'enseignement supérieur grenoblois.
                </li>
              </ul>
              <ul>
                <li>Préparer l'insertion professionnelle des étudiants et anticiper la construction de projets
                  professionnels.
                </li>
              </ul>
              <ul>
                <li><span>Améliorer l'accessibilité des bâtiments</span>&nbsp;et
                  restaurants universitaires, cheminements et voiries.</li>
              </ul>
              <div>&nbsp;</div>
            </div><!-- .paragraphe__contenu--0 .toolbox -->
            <div class="separateur"></div>
          </div><!-- paragraphe--0 --></div><!-- colonne_deco -->
      </div><!-- .colonne_1 --></div><!-- .ligne_1 -->
    <div class="ligne_2">
      <div class="colonne_1">
        <div class="colonne_deco">
          <div class="paragraphe--0">
            <div class="paragraphe__contenu--0 toolbox">
              <div style="text-align: center;"><a href="https://handicap.univ-grenoble-alpes.fr/"
                                                  class="lien_interne"><img title="Service accueil handicap" alt=""
                                                                            src="https://campus.univ-grenoble-alpes.fr/medias/photo/sah_1568122242705-jpg?ID_FICHE=57714"
                                                                            style="margin : 0px 0px;"></a></div>
              <h5><a href="https://handicap.univ-grenoble-alpes.fr/" class="lien_interne">Service accueil handicap</a>
              </h5>
              <div style="text-align: justify;">Le Service Accueil Handicap, c’est : un service personnalisé pour les
                étudiants en situation de handicap, des actions de sensibilisation et d'information, des conseils
                techniques auprès des personnels enseignants et administratifs des universités.
              </div>
            </div><!-- .paragraphe__contenu--0 .toolbox -->
            <div class="separateur"></div>
          </div><!-- paragraphe--0 --></div><!-- colonne_deco -->
      </div><!-- .colonne_1 -->
      <div class="colonne_2">
        <div class="colonne_deco">
          <div class="paragraphe--0">
            <div class="paragraphe__contenu--0 toolbox">
              <div style="text-align: center;"><a
                href="https://handicap.univ-grenoble-alpes.fr/fr/menu-principal/amenagement-des-etudes/"
                class="lien_interne"><img title="Aménagement des études" alt=""
                                          src="https://campus.univ-grenoble-alpes.fr/medias/photo/amenagement-etudes_1568121370952-jpg?ID_FICHE=57714"
                                          style="margin : 0px 0px;"></a></div>
              <h5><a href="https://handicap.univ-grenoble-alpes.fr/fr/menu-principal/amenagement-des-etudes/"
                     class="lien_interne">Aménagement des études</a></h5>
              <div style="text-align: justify;">Le Service Accueil Handicap mène différentes actions visant à faciliter
                les conditions de vie et de travail des étudiants handicapés en milieu universitaire. Venez vous
                informer des aménagements possibles.
              </div>
            </div><!-- .paragraphe__contenu--0 .toolbox -->
            <div class="separateur"></div>
          </div><!-- paragraphe--0 --></div><!-- colonne_deco -->
      </div><!-- .colonne_2 -->
      <div class="colonne_3">
        <div class="colonne_deco">
          <div class="paragraphe--0">
            <div class="paragraphe__contenu--0 toolbox">
              <div style="text-align: center;"><a
                href="https://handicap.univ-grenoble-alpes.fr/fr/menu-principal/insertion-professionnelle/"
                class="lien_interne"><img title="Insertion professionnelle" alt=""
                                          src="https://campus.univ-grenoble-alpes.fr/medias/photo/insertion-pro_1568121800122-jpg?ID_FICHE=57714"
                                          style="margin : 0px 0px;"></a></div>
              <h5><a href="https://handicap.univ-grenoble-alpes.fr/fr/menu-principal/insertion-professionnelle/"
                     class="lien_interne">Insertion professionnelle</a></h5>
              <div style="text-align: justify;">Le Service Accueil Handicap permet aux étudiants en situation de
                handicap de préparer leur future insertion professionnelle et de questionner la place de leur handicap
                dans la construction de leur projet.
              </div>
            </div><!-- .paragraphe__contenu--0 .toolbox -->
            <div class="separateur"></div>
          </div><!-- paragraphe--0 --></div><!-- colonne_deco -->
      </div><!-- .colonne_3 --></div><!-- .ligne_2 -->
    <div class="ligne_3">
      <div class="colonne_1">
        <div class="colonne_deco">
          <div class="paragraphe--0">
            <div class="paragraphe__contenu--0 toolbox">
              <div style="text-align: center;"><a
                href="https://handicap.univ-grenoble-alpes.fr/fr/menu-principal/accessibilite/"
                class="lien_interne"><img title="Expertise en accessibilité" alt=""
                                          src="https://campus.univ-grenoble-alpes.fr/medias/photo/accessibilite_1568121678810-jpg?ID_FICHE=57714"
                                          style="margin : 0px 0px;"></a></div>
              <h5><a href="https://handicap.univ-grenoble-alpes.fr/fr/menu-principal/accessibilite/"
                     class="lien_interne">Expertise en accessibilité</a></h5>
              <div style="text-align: justify;">Le Service Accueil Handicap met régulièrement son expertise en
                accessibilité des espaces physiques et numériques à la disposition des étudiants, des personnels des
                établissements et de ses partenaires.
              </div>
            </div><!-- .paragraphe__contenu--0 .toolbox -->
            <div class="separateur"></div>
          </div><!-- paragraphe--0 --></div><!-- colonne_deco -->
      </div><!-- .colonne_1 -->
      <div class="colonne_2">
        <div class="colonne_deco">
          <div class="paragraphe--0">
            <div class="paragraphe__contenu--0 toolbox">
              <div style="text-align: center;"><a
                href="https://handicap.univ-grenoble-alpes.fr/fr/menu-principal/vie-etudiante/"
                class="lien_interne"><img title="Vie étudiante" alt=""
                                          src="https://campus.univ-grenoble-alpes.fr/medias/photo/vie-etudiante_1568121463640-jpg?ID_FICHE=57714"
                                          style="margin : 0px 0px;"></a></div>
              <h5><a href="https://handicap.univ-grenoble-alpes.fr/fr/menu-principal/vie-etudiante/"
                     class="lien_interne">Vie étudiante</a></h5>
              <div style="text-align: justify;">Grâce à son réseau de partenaires, le Service Accueil Handicap
                accompagne efficacement les étudiants en situation de handicap aussi bien dans les démarches liées à
                leur installation que dans leur vie quotidienne.
              </div>
            </div><!-- .paragraphe__contenu--0 .toolbox -->
            <div class="separateur"></div>
          </div><!-- paragraphe--0 --></div><!-- colonne_deco -->
      </div><!-- .colonne_2 --></div><!-- .ligne_3 -->


  </div> <!-- .contenu -->
</div>
