<div id="avec_nav_avec_encadres" class="contenu" role="main">

  <h1>Se faciliter la vie avec les commerces à disposition sur le campus</h1>
  <span class="filet_deco"></span>

  <div class="ligne_1">
    <div class="colonne_1">
      <div class="colonne_deco">
        <div class="paragraphe--0">
          <div class="paragraphe__contenu--0 toolbox">
            <h3>La restauration</h3>


            <div class="vignette_deco"><a href="https://www.facebook.com/latabverte/" class="lien_externe"><img
                  class="vignette" src="https://campus.univ-grenoble-alpes.fr/medias/photo/v_tabverte_1551947625391-jpg"
                  alt=""></a></div>
            <div class="info_deco"><em><a href="https://www.facebook.com/latabverte/" class="lien_externe">La
                  Tab'verte</a></em> <span class="filet_deco"></span>
              <div class="liste-resume">La Tab'Verte c'est la rencontre entre la cuisine italienne et la cuisine
                végétarienne pour se restaurer au petit-déjeuner et au déjeuner.
              </div><!-- .resume -->
            </div><!-- fin .info_deco -->

            <div class="vignette_deco"><a href="https://www.facebook.com/Factory-caf%C3%A9-campus-555496544472892/"
                class="lien_externe"><img class="vignette"
                  src="https://campus.univ-grenoble-alpes.fr/medias/photo/v_factory_1551947409268-jpg" alt=""></a></div>
            <div class="info_deco"><em><a href="https://www.facebook.com/Factory-caf%C3%A9-campus-555496544472892/"
                  class="lien_externe">Le Factory Café</a></em> <span class="filet_deco"></span>
              <div class="liste-resume">Le Factory Café propose de nombreuses boissons chaudes à personnaliser,
                ainsi qu'une restauration sur place ou à emporter.
              </div><!-- .resume -->
            </div><!-- fin .info_deco -->

            <div class="vignette_deco"><a href="https://trouver-ouvert.fr/saint-martin-dheres/la-camionnette-416161"
                class="lien_externe"><img class="vignette"
                  src="https://campus.univ-grenoble-alpes.fr/medias/photo/v_camionnette_1551947103677-jpg" alt=""></a>
            </div>
            <div class="info_deco"><em><a href="https://trouver-ouvert.fr/saint-martin-dheres/la-camionnette-416161"
                  class="lien_externe">La camionnette </a></em> <span class="filet_deco"></span>
              <div class="liste-resume">Pour manger sur le pouce, la camionnette vous propose une restauration
                rapide à emporter.
              </div><!-- .resume -->
            </div><!-- fin .info_deco -->

            <div class="vignette_deco"><a
                href="https://trouver-ouvert.fr/saint-martin-dheres/sandwicherie-le-camion-509432"
                class="lien_externe"><img class="vignette"
                  src="https://campus.univ-grenoble-alpes.fr/medias/photo/v_camion_1551946700525-jpg" alt=""></a></div>
            <div class="info_deco"><em><a
                  href="https://trouver-ouvert.fr/saint-martin-dheres/sandwicherie-le-camion-509432"
                  class="lien_externe">Le camion</a></em> <span class="filet_deco"></span>
              <div class="liste-resume">Le camion propose des sandwichs, repas chauds, boissons, desserts... Sur
                place ou à emporter.
              </div><!-- .resume -->
            </div><!-- fin .info_deco -->

            <div class="vignette_deco"><a href="https://www.yelp.fr/biz/martins-caf%C3%A9-saint-martin-d-h%C3%A8res"
                class="lien_externe"><img class="vignette"
                  src="https://campus.univ-grenoble-alpes.fr/medias/photo/v_martins_1551947885267-jpg" alt=""></a></div>
            <div class="info_deco"><em><a href="https://www.yelp.fr/biz/martins-caf%C3%A9-saint-martin-d-h%C3%A8res"
                  class="lien_externe">Le Martin's Café</a></em> <span class="filet_deco"></span>
              <div class="liste-resume">Le Martin's Café, votre brasserie au cœur du campus, pour venir manger entre
                amis ou juste prendre un café.
              </div><!-- .resume -->
            </div><!-- fin .info_deco -->

          </div><!-- .paragraphe__contenu--0 .toolbox -->
          <div class="separateur"></div>
        </div><!-- paragraphe--0 -->
      </div><!-- colonne_deco -->
    </div><!-- .colonne_1 -->
  </div><!-- .ligne_1 -->
  <div class="ligne_2">
    <div class="colonne_1">
      <div class="colonne_deco">
        <div class="paragraphe--0">
          <div class="paragraphe__contenu--0 toolbox">
            <h3>Les transports</h3>

            <div class="vignette_deco"><a href="http://www.metrovelo.fr/" class="lien_externe"><img class="vignette"
                  src="https://campus.univ-grenoble-alpes.fr/medias/photo/v_metrovelo_1551948239021-jpg" alt=""></a>
            </div>
            <div class="info_deco"><em><a href="http://www.metrovelo.fr/" class="lien_externe">Métrovélo</a></em>
              <span class="filet_deco"></span>
              <div class="liste-resume">Votre agence de proximité pour louer son vélo à la journée, au mois ou
                l'année !
              </div><!-- .resume -->
            </div><!-- fin .info_deco -->


            <div class="vignette_deco"><a
                href="https://campus.univ-grenoble-alpes.fr/fr/menu-principal/s-installer/transport/les-transports-en-commun/dans-l-agglomeration-779353.htm?RH=1529486836469"
                class="lien_interne"><img class="vignette"
                  src="https://campus.univ-grenoble-alpes.fr/medias/photo/v_tabac_1551948482182-jpg" alt=""></a>
            </div>
            <div class="info_deco"><em><a
                  href="https://campus.univ-grenoble-alpes.fr/fr/menu-principal/s-installer/transport/les-transports-en-commun/dans-l-agglomeration-779353.htm?RH=1529486836469"
                  class="lien_interne">Le Tabac du campus</a></em> <span class="filet_deco"></span>
              <div class="liste-resume">Pour gérer et votre abonnement et acheter des titres de transport TAG et
                Transisère, rendez-vous au Tabac du campus.
              </div><!-- .resume -->
            </div><!-- fin .info_deco -->


            <div class="vignette_deco"><a href="https://www.gares-sncf.com/fr/gare/frhvs/grenoble-universites-gieres"
                class="lien_externe"><img class="vignette"
                  src="https://campus.univ-grenoble-alpes.fr/medias/photo/v_gieres_1551948565199-jpg" alt=""></a>
            </div>
            <div class="info_deco"><em><a href="https://www.gares-sncf.com/fr/gare/frhvs/grenoble-universites-gieres"
                  class="lien_externe">Gare
                  de Gières - Grenoble Universités</a></em> <span class="filet_deco"></span>
              <div class="liste-resume">Votre gare de de proximité pour connecter avec les lignes régionales de
                train ou de bus !
              </div><!-- .resume -->
            </div><!-- fin .info_deco -->

          </div><!-- .paragraphe__contenu--0 .toolbox -->
          <div class="separateur"></div>
        </div><!-- paragraphe--0 -->
      </div><!-- colonne_deco -->
    </div><!-- .colonne_1 -->
  </div><!-- .ligne_2 -->
  <div class="ligne_3">
    <div class="colonne_1">
      <div class="colonne_deco">
        <div class="paragraphe--0">
          <div class="paragraphe__contenu--0 toolbox">
            <h3>La santé</h3>

            <div class="vignette_deco"><a href="http://www.centre-osteo.com/" class="lien_externe"><img class="vignette"
                  src="https://campus.univ-grenoble-alpes.fr/medias/photo/v_osteo_1551949474112-jpg" alt=""></a>
            </div>
            <div class="info_deco"><em><a href="http://www.centre-osteo.com/" class="lien_externe">Centre
                  d'Ostéopathie du Campus</a></em> <span class="filet_deco"></span>
              <div class="liste-resume">Pour un étudiant bien dans un corps sain !</div><!-- .resume -->
            </div><!-- fin .info_deco -->

            <div class="vignette_deco"><a href="https://www.mgen.fr/" class="lien_externe"><img class="vignette"
                  src="https://campus.univ-grenoble-alpes.fr/medias/photo/v_mgen_1551949820144-jpg" alt=""></a>
            </div>
            <div class="info_deco"><em><a href="https://www.mgen.fr/" class="lien_externe">MGEN</a></em> <span
                class="filet_deco"></span>
              <div class="liste-resume">MGEN met à la disposition de la population une offre de soins diversifiée et
                ouverte à tous.
              </div><!-- .resume -->
            </div><!-- fin .info_deco -->

          </div><!-- .paragraphe__contenu--0 .toolbox -->
          <div class="separateur"></div>
        </div><!-- paragraphe--0 -->
      </div><!-- colonne_deco -->
    </div><!-- .colonne_1 -->
  </div><!-- .ligne_3 -->
  <div class="ligne_4">
    <div class="colonne_1">
      <div class="colonne_deco">
        <div class="paragraphe--0">
          <div class="paragraphe__contenu--0 toolbox">
            <h3>Vie pratique</h3>

            <div class="vignette_deco"><a href="http://www.laverie-grenoble.fr/" class="lien_externe"><img
                  class="vignette" src="https://campus.univ-grenoble-alpes.fr/medias/photo/v_laverie_1551950153277-jpg"
                  alt=""></a>
            </div>
            <div class="info_deco"><em><a href="http://www.laverie-grenoble.fr/" class="lien_externe">La laverie du
                  campus</a></em> <span class="filet_deco"></span>
              <div class="liste-resume">Pour faire sa lessive à toute heure directement sur le campus.</div>
              <!-- .resume -->
            </div><!-- fin .info_deco -->

            <div class="vignette_deco"><a
                href="https://www.laposte.fr/particulier/outils/trouver-un-bureau-de-poste/bureau-detail/st-martin-d-heres-campus-bp/07363A"
                class="lien_externe"><img class="vignette"
                  src="https://campus.univ-grenoble-alpes.fr/medias/photo/v_poste_1551950244216-jpg" alt=""></a>
            </div>
            <div class="info_deco"><em><a
                  href="https://www.laposte.fr/particulier/outils/trouver-un-bureau-de-poste/bureau-detail/st-martin-d-heres-campus-bp/07363A"
                  class="lien_externe">La Poste</a></em> <span class="filet_deco"></span>
              <div class="liste-resume">Envoyer ou recevoir des courriers ou colis mais également une offre de
                services bancaires.
              </div><!-- .resume -->
            </div><!-- fin .info_deco -->

            <div class="vignette_deco"><a href="https://www.corep.fr/" class="lien_externe"><img class="vignette"
                  src="https://campus.univ-grenoble-alpes.fr/medias/photo/v_corep_1551950373561-jpg" alt=""></a>
            </div>
            <div class="info_deco"><em><a href="https://www.corep.fr/" class="lien_externe">Corep</a></em> <span
                class="filet_deco"></span>
              <div class="liste-resume">Photocopiez, imprimez, scannez et reliez... tous vos travaux.</div>
              <!-- .resume -->
            </div><!-- fin .info_deco -->

            <div class="vignette_deco"><a href="http://www.ae-uga.fr/" class="lien_externe"><img class="vignette"
                  src="https://campus.univ-grenoble-alpes.fr/medias/photo/v_auto-ecole_1551950455239-jpg" alt=""></a>
            </div>
            <div class="info_deco"><em><a href="http://www.ae-uga.fr/" class="lien_externe">Auto Ecole UGA</a></em>
              <span class="filet_deco"></span>
              <div class="liste-resume">Pour vous former à la conduite à la sortie des cours.</div><!-- .resume -->
            </div><!-- fin .info_deco -->

            <div class="vignette_deco"><a
                href="https://agences.societegenerale.fr/banque-assurance/agence-gieres-campus-id3000300185"
                class="lien_externe"><img class="vignette"
                  src="https://campus.univ-grenoble-alpes.fr/medias/photo/v_societe-g_1551950799056-jpg" alt=""></a>
            </div>
            <div class="info_deco"><em><a
                  href="https://agences.societegenerale.fr/banque-assurance/agence-gieres-campus-id3000300185"
                  class="lien_externe">Société Générale</a></em> <span class="filet_deco"></span>
              <div class="liste-resume">Vos services bancaires sur le campus et la possibilité de retirer.</div>
              <!-- .resume -->
            </div><!-- fin .info_deco -->

            <div class="vignette_deco"><a href="http://www.phonecomputerservice.com/" class="lien_externe"><img
                  class="vignette"
                  src="https://campus.univ-grenoble-alpes.fr/medias/photo/v_phone-computer_1551951137249-jpg"
                  alt=""></a></div>
            <div class="info_deco"><em><a href="http://www.phonecomputerservice.com/" class="lien_externe">Phone
                  Computer Service</a></em> <span class="filet_deco"></span>
              <div class="liste-resume">Phone Computer Service à Saint-Martin d'hères est spécialisé dans la
                réparation informatique et mobile.
              </div><!-- .resume -->
            </div><!-- fin .info_deco -->

            <div class="vignette_deco"><a href="https://www.savatou.fr/" class="lien_externe"><img class="vignette"
                  src="https://campus.univ-grenoble-alpes.fr/medias/photo/v_savatou_1551951403517-jpg" alt=""></a>
            </div>
            <div class="info_deco"><em><a href="https://www.savatou.fr/" class="lien_externe">SAVATOU</a></em> <span
                class="filet_deco"></span>
              <div class="liste-resume">SAVATOU œuvre pour permettre au plus grand nombre d'accéder aux loisirs, au
                sport, à la culture, aux vacances.
              </div><!-- .resume -->
            </div><!-- fin .info_deco -->

          </div><!-- .paragraphe__contenu--0 .toolbox -->
          <div class="separateur"></div>
        </div><!-- paragraphe--0 -->
      </div><!-- colonne_deco -->
    </div><!-- .colonne_1 -->
  </div><!-- .ligne_4 -->
  <div class="ligne_5">
    <div class="colonne_1">
      <div class="colonne_deco">
        <div class="paragraphe--0">
          <div class="paragraphe__contenu--0 toolbox">
            <h3>Plan des services dans l'agglomération de Grenoble</h3>
            <p>&nbsp;</p>
            <div class="videoWrapper">
              <iframe src="https://www.google.com/maps/d/u/4/embed?mid=1JAX6erQT5HIbLqXg3Z7TlA6SHCt4BwQc" width="640"
                height="480"></iframe>
            </div>
          </div><!-- .paragraphe__contenu--0 .toolbox -->
          <div class="separateur"></div>
        </div><!-- paragraphe--0 -->
      </div><!-- colonne_deco -->
    </div><!-- .colonne_1 -->
  </div><!-- .ligne_5 -->
</div>