#chatIcon {
    margin-right: 4px;
}

#chatButton {
    display: flex;
    justify-content: center;
}

.modal-body {
    max-height: fit-content;
}

.user-img {
    border-radius: 50%;
    width:25%;
    margin: 5% auto;
    
  }