<div class="main-container">
    <header class="header header-6">
        <div _ngcontent-clarity-c1="" class="branding" [routerLink]="['']"><span _ngcontent-clarity-c1=""
                class="title">Notre APP</span></div>
        <div class="header-actions">
            <a *ngIf="!authentificated" (click)="openLogin()" class="nav-link nav-icon-text">
                <clr-icon shape="user"></clr-icon>
                <span class="nav-text">Se connecter</span>
            </a>
            <div *ngIf="authentificated">
                <a class="nav-link nav-icon-text">
                    <span class="nav-text">{{getUserMail()}}</span>
                    <clr-icon shape="user"></clr-icon>
                </a>
                <a (click)="auth.logout()" class="nav-link nav-icon-text">
                    <clr-icon shape="logout"></clr-icon>
                    <span class="nav-text">Déconnexion</span>
                </a>
            </div>
        </div>
    </header>
    <div class="content-container">
        
        <clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed"
            *ngIf="router.url !== '/messaging'" (click)="doExpand($event)">
            <div *ngIf="authentificated">

                <a clrVerticalNavLink routerLinkActive="active" routerLink="./user-info">
                    <clr-icon shape="administrator" clrVerticalNavIcon></clr-icon>
                    Mon Compte
                </a>
                <div *ngIf="!isNavBarCollapsed">
                    <div class="clr-row clr-justify-content-center">
                        <img class="user-img " src="assets/pp/pp_1.jpg" alt="">
                    </div>

                    <div class="clr-row clr-justify-content-center">

                        <span>
                            <b>{{fakeUser.Name}}</b> <b>{{' '+fakeUser.LastName}}</b>
                        </span>
                    </div>
                    <div class="clr-row clr-justify-content-center">
                        {{fakeUser.someUserInfo}}
                    </div>
                </div>

            </div>
            <div *ngIf="!authentificated">
                <a clrVerticalNavLink routerLinkActive="active" routerLink="/login">
                    <clr-icon shape="login" clrVerticalNavIcon></clr-icon>
                    S'authentifier
                </a>
            </div>
            <div class="nav-divider"></div>

            <a clrVerticalNavLink routerLinkActive="active" routerLink="./messaging">
                <clr-icon shape="chat-bubble" clrVerticalNavIcon></clr-icon>
                Messagerie
            </a>


            <clr-vertical-nav-group routerLinkActive="active">
                <clr-icon shape="bookmark" clrVerticalNavIcon></clr-icon>
                Guide
                <clr-vertical-nav-group-children>

                    <a clrVerticalNavLink routerLink="./budget" routerLinkActive="active">
                        <clr-icon shape="euro" clrVerticalNavIcon></clr-icon>Budget
                    </a>
                    <a clrVerticalNavLink routerLink="./logement" routerLinkActive="active">
                        <clr-icon shape="building" clrVerticalNavIcon></clr-icon>Logement
                    </a>
                    <a clrVerticalNavLink routerLink="./transport" routerLinkActive="active">
                        <clr-icon shape="bicycle" clrVerticalNavIcon></clr-icon>Transports
                    </a>
                    <a clrVerticalNavLink routerLink="./vie-pratique" routerLinkActive="active">
                        <clr-icon shape="crosshairs" clrVerticalNavIcon></clr-icon>Vie
                        pratique
                    </a>
                    <a clrVerticalNavLink routerLink="./sante-bien-etre" routerLinkActive="active">
                        <clr-icon shape="heart" clrVerticalNavIcon></clr-icon>Santé
                        bien-être
                    </a>

                </clr-vertical-nav-group-children>
            </clr-vertical-nav-group>
            <a clrVerticalNavLink routerLinkActive="active" routerLink="./map">
                <clr-icon shape="map" clrVerticalNavIcon></clr-icon>
                Carte
            </a>
            <a clrVerticalNavLink routerLinkActive="active" routerLink="./matching">
                <clr-icon shape="dna" clrVerticalNavIcon></clr-icon>
                Match
            </a>
        </clr-vertical-nav>
        <div class="content-area">
            <div class="content-area">
                <router-outlet></router-outlet>
                <clr-modal [(clrModalOpen)]="loginModal" [clrModalStaticBackdrop]="false">
                    <div class="modal-body">
                        <app-login (onComplete)="closeLogin()"></app-login>
                    </div>
                </clr-modal>
            </div>
        </div>
    </div>