<div class="clr-row">
    <div class="clr-col-sm-12">
        <div class="card">
            <div class="card-block">
                <div class="card-text">
                    <div class="paragraphe__contenu--0 toolbox">
                        <div class="fiche__resume">Les étudiants sont également des contribuables, il faut bien se
                            renseigner sur ses obligations avant d'avoir de mauvaises surprises !</div>
                        <p><strong>Les étudiants sont concernés par :&nbsp;</strong></p>
                        <ul>
                            <li>La CVEC : Contribution Vie Étudiante et de Campus</li>
                            <li>La déclaration de revenus</li>
                            <li>La taxe d'habitation</li>
                        </ul><br>Consultez les conditions particulières<br type="_moz">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="article__description" class="toolbox fiche__description">
        <h3>La Contribution Vie Étudiante et de Campus - CVEC</h3>
        <p>Depuis la rentrée 2018, les étudiants inscrits en formation initiale doivent faire leurs démarches pour la
            <strong>Contribution Vie Étudiante et de Campus ou CVEC</strong>. Cette contribution est destinée à financer
            l’offre de services à l’étudiant en matière de santé, sports, culture et initiatives étudiantes.</p>
        <p><br>La CVEC est une taxe, collectée par le CROUS, d’un montant de <strong>91€</strong>. <br><br>La démarche
            s’effectue en ligne :&nbsp;<a href="https://cvec.etudiant.gouv.fr/"
                class="lien_externe">cvec.etudiant.gouv.fr</a> ou via <a
                href="https://www.messervices.etudiant.gouv.fr/envole/" class="lien_externe">le portail mes services
                étudiants<br><br type="_moz"></a></p>
        <h3>Qui est concerné ?</h3>
        <p>Les étudiant inscrits en formation initiale dans un établissement d’enseignement supérieur doivent
            obligatoirement <strong>obtenir leur attestation de paiement ou d'exonération </strong><strong>de la CVEC
                pour s’inscrire dans leur établissement d’enseignement supérieur.</strong><strong><br></strong></p>
        <h5><strong>Les publics exonérés :</strong></h5>
        <ul>
            <li>Les boursiers sur critères sociaux, les bénéficiaires d’une allocation annuelle accordée dans le cadre
                des aides spécifiques du CROUS, les Boursiers des filières sanitaires et sociales de la région. Les
                étudiants en attente de notification de bourses du CROUS doivent dans un premier temps s’acquitter de la
                taxe et pourront être remboursés une fois la bourse notifiée (ouverture du module de remboursement en
                septembre).</li>
            <li>Les étudiants réfugiés ou enregistrés en qualité de demandeurs d’asile et disposant du droit de se
                maintenir sur le territoire.</li>
            <li>Les étudiants bénéficiaires de la protection subsidiaire.</li>
        </ul>
        <div><strong><br></strong></div>
        <div class="paragraphe__fond__colore"><strong>ATTENTION : </strong>être exonéré <strong>ne dispense pas</strong>
            de faire la démarche en ligne !<strong> </strong></div>
        <h5><strong>Ne sont pas concernés :</strong></h5>Pour les situations suivantes vous n'avez aucune démarche à
        effectuer<br><br>
        <ul>
            <li>Les étudiants en échange internationaux en France (Mobilité entrante)</li>
            <li><a href="http://cvec-info.nuonet.fr/la-cvec.html#qui" class="lien_externe">Consultez les autres cas
                    particuliers<br> </a></li>
        </ul>
        <p>&nbsp;</p>
        <h3>Remboursement de la CVEC ?</h3>
        <p><strong>Un seul cas de remboursement de la CVEC est prévu par la loi, celui des étudiant
                boursiers,&nbsp;</strong>ils peuvent désormais demander le remboursement en ligne&nbsp;<a
                href="https://cvec.etudiant.gouv.fr/" class="lien_externe">sur le site de la CVEC.<br><br
                    type="_moz"></a></p>
        <div><strong>Vous avez payé par erreur de la CVEC alors que vous n'étiez pas concernés</strong><br>Etudiant en
            échange ou en formation continue avec prise en charge...&nbsp;<a
                href="http://cvec-info.nuonet.fr/la-cvec.html#qui" class="lien_externe">cf. cas
                particuliers</a>,&nbsp;<strong>les modalités de remboursements ou de recours auprès du CROUS ne sont pas
                encore définies !</strong>&nbsp;<br><br>Il est conseillé de vous faire connaitre auprès des services du
            CROUS par le&nbsp;formulaire en ligne du portail <a
                href="http://www.messervices.etudiant.gouv.fr/envole/message/new" class="lien_externe">Mes
                services</a>.<br>&nbsp;</div>
        <ul>
            <li><strong>En savoir plus :</strong>&nbsp;<a
                    href="http://www.etudiant.gouv.fr/pid33626-cid130435/vous-acquitter-de-la-cvec-une-demarche-obligatoire-pour-vous-inscrire-dans-l-enseignement-superieur.html"
                    class="lien_externe">CVEC<br> </a></li>
        </ul>
        <br class="separateur">
    </div>

    <div id="article__description" class="toolbox fiche__description">
        <h3>Faut-il déclarer ses revenus seul ou resté rattaché au foyer fiscal de ses parents ?</h3>
        <p>Dès ses 18 ans, l'étudiant peut soit rester attaché au foyer fiscal de ses parents, soit remplir sa propre
            déclaration. Le rattachement est possible jusqu'à 25 ans, un étudiant comptant pour une demi-part fiscale,
            au-delà il doit faire sa propre déclaration.<br><br>Si l’étudiant se déclare seul, il peut bénéficier de
            certains avantages (tarifs divers basés sur le quotient familial etc.) mais les parents perdent le bénéfice
            de sa part fiscale et de certaines allocations. <br><br>Chaque situation présente des avantages et/ou
            inconvénients. Il est donc important de simuler les différents scénarios afin de déterminer le plus
            avantageux en fonction de la situation de la famille. <br><br>En cas de doute, s'adresser au <a
                href="https://www.impots.gouv.fr/portail/" class="lien_externe">centre des impôts</a>.&nbsp;<br>&nbsp;
        </p>
        <h3>Quels revenus déclarer ?</h3>
        <p>Les revenus des étudiants ne sont pas tous à déclarer, que ce soit par lui-même ou par ses parents.
            <br><br>C’est le cas par exemple des bourses sur critères sociaux, des gratifications de stage si elles
            n’excèdent pas une certaine somme annuelle (<a
                href="http://www.etudiant.gouv.fr/cid129799/impot-sur-le-revenu-qui-est-concerne-et-que-declarer.html"
                class="lien_externe">...</a>). <br><br>En revanche, d’autres revenus tels que les paies doivent être
            déclarés. <br><br>Les salaires doivent être déclarés intégralement si l’étudiant était âgé de plus de 26 ans
            au 1er janvier 2018 (pour une déclaration en 2019). <br><br>S’il était âgé de moins de 26 ans au 1er janvier
            2018, il ne doit les déclarer que s’il a touché plus de 4400€ sur l’année (l’équivalent de trois smics à
            temps plein).<br>&nbsp;</p>
        <div class="paragraphe__fond__colore"><strong>Attention ! Certaines bourses académiques sont imposables et
                doivent être déclarées. Renseignez-vous bien sur les modalités de déclaration de vos bourses.</strong>
        </div><br>
        <ul>
            <li><strong>En savoir plus :&nbsp;</strong><a
                    href="http://www.etudiant.gouv.fr/cid129799/impot-sur-le-revenu-qui-est-concerne-et-que-declarer.html"
                    class="lien_externe">pour les étudiants</a>&nbsp;/&nbsp;<a
                    href="https://www.impots.gouv.fr/portail/particulier/questions/mon-enfant-atteint-sa-majorite-au-cours-de-lannee-comment-le-declarer"
                    class="lien_externe">pour les parents</a></li>
        </ul><br>
        <br class="separateur">
    </div>

    <div id="article__description" class="toolbox fiche__description">
        <h3>La taxe d’habitation</h3>
        <p>Le statut d’étudiant (même boursier) ne permet pas d’être exonéré de la taxe d’habitation à l’exception des
            étudiants résidant au CROUS. Si vous disposez d’un logement au 1er janvier de l'année, vous êtes redevable
            de la taxe d’habitation pour l'année entière.</p>
        <p><br>Il est tout de même possible de bénéficier d’un allègement en fonction de ses revenus, qui devrait se
            faire automatiquement si l’étudiant déclare ses revenus seul et sur demande s’il est rattaché au foyer
            fiscal de ses parents. <br><br>Dans ce dernier cas, il faut effectuer une réclamation auprès du service des
            impôts dont dépend le logement de l’étudiant, accompagnée du dernier avis d’imposition des
            parents.<br>&nbsp;</p>
        <div class="paragraphe__fond__colore"><strong>Attention : </strong>ne sont pas considérés comme résidence
            principale la chambre chez l’habitant, un logement loué sous bail saisonnier (courte durée) ou toute autre
            forme de sous-location. <strong>Les propriétaires n’ont donc pas le droit de l’intégrer aux
                charges.<br></strong></div><br>
        <h3>La contribution à l’audiovisuel public</h3>
        <p>Cette taxe est redevable lorsque le logement occupé par l’étudiant (résidence principale) abrite un
            téléviseur. <br><br>S’il est rattaché au foyer fiscal de ses parents et que son logement est soumis à la
            taxe d’habitation, les parents ne paient qu’une seule taxe.<br>&nbsp;</p>
        <ul>
            <li><strong>En savoir plus :&nbsp;</strong><a href="https://www.impots.gouv.fr/portail/particulier"
                    class="lien_externe">Impots.gouv</a></li>
        </ul>
        <br class="separateur">
    </div>