<div class="main-container">
  <h1>Vie pratique</h1>

  <div class="clr-row">
    <div class="clr-col-sm-12">
      <div class="card">
        <div class="card-block">
          <div class="card-text">
            <div class="paragraphe__citation">« Rédiger sur mon ordinateur assis dans l’herbe ou en mangeant un repas
              dans&nbsp;ma
              cafét’ ? Sur le campus, je peux tout&nbsp;faire : manger bien et pas cher, renouveler&nbsp;mon abonnement
              de tram,
              déposer un&nbsp;colis à la poste, acheter un timbre fiscal&nbsp;pour mon titre de séjour, ou boire
              un&nbsp;verre à
              la sortie des cours. »
            </div>
            <ul>
              <li>Une <strong>carte d’étudiant multiservices</strong> pour payer ses repas au Crous et accéder à
                certains services&nbsp;ou
                bâtiments
              </li>
              <li><strong>Un campus connecté</strong> :&nbsp; dans les amphis, commes assis dans l'herbe ou sa
                résidence, le wifi
                à tous les étages !
              </li>
              <li>Avec <strong>50 points de restauration</strong>, les campus&nbsp;proposent une offre diversifiée, sur
                le pouce
                ou&nbsp;à table et à toutes heures de la journée
              </li>
              <li>Les campus offrent des services dédiés à la vie&nbsp;universitaire, mais également des
                commerces&nbsp;pour la
                vie de tous les jours
              </li>
              <li><strong>Un campus vert :</strong> 110 ha de pelouses et prairies&nbsp;sur 180 ha !</li>
            </ul>
            <br>
          </div>
        </div>
      </div>
    </div>


    <div class="clr-row list-item body clr-justify-content-center">
      <div class="clr-col-sm-3 item">

        <div class="clr-row">
          <h3> <a class="nav-link" routerLinkActive="active" routerLink="/vie-pratique/restauration">La restauration</a>

          </h3>
          <p>
            Restaurant universitaire, sandwicherie, cafétéria... A chacun son repas, en fonction de son temps libre, ses
            goûts,
            son budget... et son humeur du moment.

          </p>
        </div>
      </div>

      <div class="clr-col-sm-3 item">

        <div class="clr-row">
          <h3> <a class="nav-link" routerLinkActive="active" routerLink="/vie-pratique/internet">Les accès Internet</a>


          </h3>
          <p>
            Restez connectés avec le wifi des campus et de l'agglomération grenobloise et accédez à tous vos services
            étudiants !


          </p>
        </div>
      </div>

      <div class="clr-col-sm-3 item">

        <div class="clr-row">
          <h3> <a class="nav-link" routerLinkActive="active" routerLink="/vie-pratique/commerces">Les commerces sur le
              campus</a>

          </h3>
          <p>
            Restauration, Poste, Auto Ecole, Laverie... Les adresses utiles tout au long de votre année universitaire
            pour
            profiter au mieux de la vie de campus.
          </p>
        </div>
      </div>

      <div class="clr-col-sm-3 item">

        <div class="clr-row">
          <h3> <a class="nav-link" routerLinkActive="active" routerLink="/vie-pratique/multiservices">Utiliser la carte
              multiservices</a>
          </h3>
          <p>
            La carte multiservices permet de justifier de son statut, l'accès aux BU, aux services de restauration du
            CROUS, le
            paiement Izly...
          </p>
        </div>
      </div>

      <div class="clr-col-sm-3 item">

        <div class="clr-row">
          <h3> <a class="nav-link" routerLinkActive="active" routerLink="/vie-pratique/objets-trouves">Objets
              trouvés</a>

          </h3>
          <p>
            Vous avez perdu quelque chose ? Vos affaires ont peut-être été retrouvées et conservées. Consultez les
            contacts utiles
            pour vous aider.
          </p>
        </div>
      </div>

      <div class="clr-col-sm-3 item">

        <div class="clr-row">
          <h3> <a class="nav-link" routerLinkActive="active" routerLink="/vie-pratique/eco-responsable">Les gestes
              éco-responsable</a>
          </h3>
          <p>
            Sur les campus et dans l'Agglo, tout est mis en oeuvre pour vous permettre d'adopter les bons gestes et
            favoriser une
            gestion durable des déchets.
          </p>
        </div>
      </div>

    </div>

  </div>
</div>