<div class="clr-row">
    <div class="clr-col-sm-12">
        <div class="card">
            <div class="card-block">
                <div class="card-text">
                    Un emménagement peut se révéler coûteux... Quelques pistes pour bénéficier d'aides.
                </div>
            </div>
        </div>
    </div>
</div>

<div id="article__description" class="toolbox fiche__description">
    <h3>La caisse d'Allocations familiales (Caf)&nbsp;</h3>
    <p>Une fois le bail du logement signé, il est possible de faire une demande d'aide au logement auprès de la caisse
        d'Allocations familiales (Caf). Les critères d'attribution dépendent de la situation personnelle de chacun
        (revenus de l'étudiant, montant du loyer, type d'appartement...).&nbsp;<br><br>La demande se fait
        <strong>exclusivement sur le site internet</strong> de la Caf. Ne pas tarder à faire la démarche pour ne pas
        perdre de droits. Le dossier est transmis directement une fois validé. <br><br>Seules les pièces justificatives
        sont à envoyer par la Poste ou à télétransmettre.&nbsp;<strong>Il n'est pas nécessaire de se déplacer
            !</strong><strong><br></strong><br>Il est également possible de faire une <a
            href="https://wwwd.caf.fr/wps/portal/caffr/aidesetservices/lesservicesenligne/estimervosdroits/lelogement/!ut/p/a1/lZDNDoIwEISfxQcwnVp_4NiAQKkK_qDCxTRGTaNUg8bntyQeDIkY97bJN7M7QwqyJYVRT31SD3016lLvxXCXJjSM5BIhxj0HIkLKomjNkPQskFsAX4ajVe_grW8BftzfkKKB-KkP4SKWrjugoaRNwAm8wAID35_Nhf2R_QLwBlpC5jbF6MNhljDwMKWOjD0K9ElmrlVp-1zWXseqPHtGHfm-bpnk1UEb_dDqou-HqumVUO5CLCYyDoYMNt8_Xrcy20KLbl7upive6bwA5ZjMGA!!/dl5/d5/L3dDcEEvd0NvQk1rQkEvNE8weENPd2cvWjZfUE8xR0hLUzBHMEUyODBJSDBQM0hIVjMwTzIvWjdfUE8xR0hLUzBHTzFBOTBJUkxLSkY2MzAwRzA!/"
            class="lien_externe">simulation</a> de son aide au logement directement en ligne.<br>&nbsp;</p>
    <div class="paragraphe__emphase">Les <strong>étudiants</strong> <strong>internationaux </strong>doivent
        résider<strong> plus de trois mois en France </strong>pour procéder à une demande d'aide au logement, être
        détenteur d’un contrat de location, et doivent impérativement disposer d'un compte en banque
        français.&nbsp;<br><br><strong>Attention !</strong><br>Ne sont pas éligibles pour une demande d’aide au logement
        les titulaires d’un visa portant la mention « dispense temporaire de carte de séjour ».<br><br>Les <a
            href="https://international.univ-grenoble-alpes.fr/fr/etudiant/logement/aides-au-logement/"
            class="lien_interne">pièces justificatives</a> peuvent varier par rapport à celles indiquées sur la
        procédure pour les résidents français.</div>
    <div><br><br>
        <ul>
            <li><strong>En savoir plus :&nbsp;</strong><a href="http://www.caf.fr/" class="lien_externe">Caf</a></li>
        </ul>
        <div align="justify"><br><br>
            <p><strong>La ligne directe des étudiant(e)s</strong> : 0 810 29 29 29*<br><br>Du lundi au vendredi, de 9h à
                16h30, les étudiants peuvent être conseillés sur leurs démarches concernant les aides au logement. Ce
                service téléphonique est national et accessible quel que soit le lieu de résidence.<br><br>* Prix d'un
                appel local depuis un poste fixe, hors surcoût éventuel depuis un mobile selon les opérateurs.</p>
        </div>
        <h3>Les points d'accueil et bornes interactives de la Caf</h3>Retrouvez l'ensemble des points d'accueil Caf de
        l'agglomération pour toutes questions sur la constitution et le suivi de votre dossier allocataire.&nbsp;<div>
            <br>Retrouvez également toutes les bornes Caf en libre service&nbsp;pour consulter votre dossier et imprimer
            vos documents Caf (formulaires, attestations...).<br><br>
            <div class="videoWrapper"><iframe
                    src="https://www.google.com/maps/d/u/1/embed?mid=14o94v_2P8yJH2O5CbdMGKRhxxvAwB-89" width="640"
                    height="480"></iframe></div>
        </div>
    </div>
    <br class="separateur">
</div>

<div id="article__description" class="toolbox fiche__description">
    <h3>VISALE</h3>
    <p style="text-align: justify;"><strong>Visale est un dispositif de cautionnement gratuit qui permet de garantir les
            loyers impayés <br></strong><br>Il s’adresse notamment aux étudiants de moins de 30 ans (jusqu’au 31ème
        anniversaire) entrant dans un logement. Les étudiants internationaux peuvent en bénéficier sous réserve d'un
        titre de séjour en cours de validité pour les non-européens. Pour les étudiants de l’Union Européenne, une carte
        d’étudiant et d’un passeport (ou carte d'identité) en cours de validité sera à fournir.&nbsp;<br>&nbsp;</p>
    À&nbsp;noter : les <strong>étudiants internationaux</strong> en attente de renouvellement de leur titre de séjour
    doivent fournir leur récépissé et la copie du titre de séjour expiré.<br>
    <p>Pour être éligible, l'étudiant doit justifier de son inscription dans un établissement d'enseignement supérieur
        pour l’année en cours. Les revenus de l'étudiant ne doivent pas dépasser 1200€ par mois.</p><br><br>
    <ul>
        <li><strong>En savoir plus : </strong><a href="https://www.visale.fr/#!/"
                class="lien_externe"><strong>VISALE</strong><br> </a></li>
    </ul><br>
    <h3>Loca-Pass</h3>
    <p>Ces aides s'adressent aux étudiants boursiers d'Etat, titulaires d'une convention de stage d'au moins 3 mois ou
        étudiants salariés en CDD.<br><br><strong>L'avance Loca-Pass</strong> permet de financer le dépôt de garantie.
        C'est un prêt, accordé par un organisme d'Action Logement, sans intérêt et sans frais de
        dossier.<br><br><strong>La garantie Loca-Pass</strong> est une garantie de paiement de loyers (jusqu'à 9
        mensualités) et de charges en cas d'impayés, elle peut être accordée uniquement pour un logement appartenant à
        une personne morale (CROUS, HLM...) issu du parc social ou du parc privé conventionné, à l'exception des
        logements appartenant à des SCI familiales.</p><br><br>
    <ul>
        <li><strong>En savoir plus :</strong> <a href="https://www.actionlogement.fr/" class="lien_externe">Action
                Logement</a></li>
    </ul>
    <p>&nbsp;</p>
    <h3>Cautions locatives bancaires&nbsp;</h3>Certaines banques et assurances proposent un service de cautionnement, il
    faut étudier les offres lors de l'inscription ou à l'ouverture du compte pour connaitre les conditions et les coûts
    de ce service. <strong>Généralement, il est demandé de bénéficier d'un certain niveau de ressource pour prétendre à
        ce dispositif.</strong><br><br>Certains propriétaires souscrivent une assurance de Garantie des loyers impayés
    qui dispense le locataire de garant mais c'est assez rare.
    <br class="separateur">
</div>

<div id="article__description" class="toolbox fiche__description">
    <h3>Les Tarifs Solidaires de l’Energie</h3>
    <p>Sous certaines conditions de ressources, un étudiant peut bénéficier d’une tarification solidaire de l’énergie.
        <br><br>Il faut :</p>
    <ul>
        <li>être titulaire d’un contrat d’électricité pour la résidence principale : vos nom et prénom doivent
            apparaître sur la facture,</li>
        <li>être fiscalement indépendant et avoir des ressources inférieures ou égales au plafond permettant de
            bénéficier de la&nbsp;<a
                href="https://campus.univ-grenoble-alpes.fr/fr/menu-principal/droits-et-soutien/se-soigner-a-moindre-frais/aides-a-la-complementaire-sante/aides-a-la-complementaire-sante-797465.htm?RH=1529486457225"
                class="lien_interne">Complémentaire Santé Solidaire</a></li>
        <li>ou avoir un revenu fiscal annuel de référence inférieur à <strong>2 175 €/ an</strong>.</li>
    </ul><br><strong>En savoir plus :</strong>&nbsp;&nbsp;<a href="http://www.energie-info.fr"
        class="lien_externe">www.energie-info.fr <br></a><br>
    <h3>Le Fonds de Solidarité pour le Logement</h3>Le Fonds de Solidarité pour le Logement (FSL) peut vous aider à
    accéder à un logement ou à le conserver. Il peut aussi vous aider en cas de difficulté à régler les factures liées à
    vos charges de logement. <br><br>Le FSL peut : <br>
    <ul>
        <li>Se porter garant pour vous ; il peut aussi vous aider à payer le dépôt de garantie, et d’autres frais liés à
            l’entrée dans votre logement (assurance…).</li>
        <li>Vous aider pour payer votre loyer, vos charges, vos factures d’eau, d’électricité…</li>
        <li>Vous accompagner dans vos démarches juridiques, techniques et financières et sociales afin de traiter votre
            situation de mal-logement.</li>
        <li>Vous aider à adapter votre logement à la perte d'autonomie.</li>
        <li>Vous mettre en lien avec le bon interlocuteur pour chercher un logement locatif en Isère.</li>
    </ul><br type="_moz"><strong>En savoir plus : </strong><a href="https://www.isere.fr/aides-au-logement"
        class="lien_externe">FSL Isère</a><br type="_moz"><br type="_moz">
    <br class="separateur">
</div>