<div class="clr-row">
    <div class="clr-col-sm-12">
        <div class="card">
            <div class="card-block">
                <div class="card-text">
                    Il existe différentes bourses à destination des étudiants permettant d'alléger le coût des études.
                    Consultez les possibilités et faites les démarches pour en bénéficier.
                </div>
            </div>
        </div>
    </div>
</div>

<div id="article__description" class="toolbox fiche__description">
    <h3>Bourses du CROUS</h3>La bourse du CROUS est attribuée selon les critères sociaux suivants :<ul>
        <li>les revenus de la famille,</li>
        <li>le nombre d'enfants à charge,</li>
        <li>l'éloignement géographique.</li>
    </ul><br>Pour en savoir plus sur les critères d'attribution :&nbsp;<a
        href="http://www.crous-grenoble.fr/demanderunebourse/" class="lien_externe">CROUS Grenoble Alpes</a><br>
    <h5>Faire une demande de bourse</h5>Le&nbsp;<strong>Dossier Social Étudiant (DSE)</strong>, réunit la demande de
    bourse et la demande de logement. La demande se fait en ligne entre janvier et mai. <br><br>
    <div class="paragraphe__fond__colore"><strong>Au-delà de cette date vous pouvez tout de même constituer une demande
            de bourse. Votre dossier sera examiné et traité, mais le paiement de la bourse pourra de ce fait connaître
            un délai.</strong></div><br>Si vous rencontrez des difficultés pour constituer votre dossier, <a
        href="https://campus.univ-grenoble-alpes.fr/fr/menu-principal/services/icampus-welcome-center/des-engagements-pour-toujours-mieux-repondre-aux-attentes-et-aux-besoins-des-etudiants-782959.htm?RH=1529486438209&amp;RF=1550656792406"
        class="lien_interne">iCampus - Welcome Center</a> vous apporte son aide pour le compléter.<br><br>
    <div class="paragraphe__fond__colore"><strong>A noter : Pour les <a
                href="https://campus.univ-grenoble-alpes.fr/fr/menu-principal/installation/budget/les-bourses-d-etudes/les-bourses-de-la-region-auvergne-rhone-alpes-805875.htm?RH=1529486438209"
                class="lien_interne">filières sanitaires et sociales</a>, la bourse est gérée par la région Auvergne -
            Rhône-Alpes.<br></strong></div><br>
    <div class="paragraphe__emphase">Simuler son droit à bourse et faire sa demande&nbsp;:&nbsp;<a
            href="https://simulateur.lescrous.fr/" class="lien_externe">mes services étudiants.<br type="_moz"></a>
    </div>
    <h5>Demander l'aide annuelle du CROUS</h5>
    <p>Si <strong>vous ne répondez pas aux critères d'attribution </strong>de bourse et de logement du CROUS et que vous
        rencontrez des difficultés financières vous pouvez faire une demande d'allocation annuelle. <br><br>L'allocation
        annuelle est une bourse versée mensuellement pour les publics hors des critères du Dossier Social Etudiant et ce
        pour une durée de 10 mois.<br>&nbsp;</p>
    <ul>
        <li><strong>En savoir plus :</strong> <a
                href="https://campus.univ-grenoble-alpes.fr/fr/menu-principal/droits-et-soutien/les-aides-pour-le-budget/difficultes-passageres/l-aide-annuelle-du-crous-pour-vous-aider-en-cas-de-difficultes-perennes-796738.htm?RH=1529486438209"
                class="lien_interne">Aide annuelle du CROUS</a></li>
    </ul>
    <h5>Transfert de bourse</h5>En cas de changement d'académie, le transfert de dossier d'une académie à l'autre est
    effectué par le service des bourses du CROUS de l'académie d'origine. <br><br>Pensez à joindre le certificat de
    scolarité de la nouvelle académie.<strong><br></strong><br type="_moz">
    <ul>
        <li><strong> En savoir plus :&nbsp;</strong><a
                href="http://www.crous-grenoble.fr/demanderunebourse/transfert-de-dse/" class="lien_externe">Transfert
                de DSE - CROUS</a></li>
    </ul>
    <br class="separateur">
</div>

<div id="article__description" class="toolbox fiche__description">
    <h3>Les différentes bourses d'études</h3>Les sources de financement pour les étudiants étrangers sont variables en
    fonction de leur pays d'origine. Des bourses des gouvernements français et étrangers aux programmes particuliers, <a
        href="https://www.campusfrance.org/fr" class="lien_externe">Campus France</a> propose un annuaire des programmes
    de bourses.<br><br>
    <ul>
        <li>Les <strong>bourses du gouvernement français</strong> : renseignez-vous auprès du service de coopération et
            d'action culturelle de l'ambassade ou du consulat général de France dans votre pays d'origine.</li> <br>
        <li>Le <strong>programme Erasmus</strong> propose des allocations pour les échanges universitaires de mobilité
            internationale au sein de l'Union Européenne.</li> <br>
        <li>Les bourses du gouvernement de votre pays : renseignez-vous auprès des autorités chargées de l'éducation
            dans votre pays.</li> <br>
        <li>Les <strong>bourses d'organisations internationales</strong> ou <strong>non gouvernementales</strong>, des
            <strong>associations</strong> ou des <strong>fondations privées</strong>.</li> <br>
        <li><strong>Certains établissements</strong> d'enseignement supérieur proposent également des programmes de
            bourses à leurs étudiants : renseignez-vous directement auprès de l'<a
                href="https://campus.univ-grenoble-alpes.fr/fr/menu-principal/outils/les-composantes-universitaires/les-composantes-des-universites-de-grenoble-791373.htm?RH=1529486438209"
                class="lien_interne">établissement</a> dans lequel vous souhaitez poursuivre vos études.</li> <br>
        <li><a href="/le-projet-idex/appels-a-projets-idex/call-for-applications-master-scholarships-session-2019-2020-734449.htm?RH=320727554067549"
                class="lien_interne">IDEX Université Grenoble Alpes - Master scholarships (année académique
                2019-2020)</a>.</li>
    </ul><br><br>
    <div class="paragraphe__emphase">Sur le site de <a
            href="http://campusbourses.campusfrance.org/fria/bourse/#/catalog" class="lien_externe">CampusFrance</a>, il
        est possible de faire une recherche multicritère sur la quasi-totalité des programmes de bourses pour étudiants
        et jeunes chercheurs étrangers.</div>
    <br class="separateur">
</div>

<div id="article__description" class="toolbox fiche__description">
    <h3>Aides pour les filières sanitaires et sociales</h3>La région Auvergne Rhône Alpes propose une bourse pour les
    étudiants inscrits en filières sanitaires et sociales<br><br>
    <ul>
        <li><strong>En savoir plus :</strong> <a
                href="https://www.auvergnerhonealpes.fr/aide/47/89-bourse-regionale-pour-les-formations-sante-social-formations-apprentissage.htm"
                class="lien_externe">Formation santé - social&nbsp;</a></li>
    </ul><br type="_moz">
    <h3>Aide à la mobilité internationale</h3>La Région Auvergne Rhône-Alpes propose une bourse permettant d'acquérir
    une expérience à l'étranger dans le cadre du cursus universitaire (Bourse Région Mobilité Internationale
    Etudiants).<br><br>
    <ul>
        <li><strong>En savoir plus :</strong> <a
                href="https://www.auvergnerhonealpes.fr/aide/73/89-bourse-region-mobilite-internationale-etudiants-enseignement-superieur-recherche-innovation.htm"
                class="lien_externe">Mobilité internationale</a></li>
    </ul>
    <br class="separateur">
</div>