<div class="presentation">
  <div>
    Bienvenue sur notre site, celui-ci permet de simplifier l'accès aux ressources dont
    vous avez le droit sans vous prendre la tête !
    Pour toute question vous pouvez contacter notre petit robot Didier (en bas à droite) ou naviguer dans nos diverses
    rubriques !
  </div>
  <br>
  <div class="circle">
    <a routerLinkActive="active" routerLink="/messaging"> <img src="assets/messenger.png"  class="right"></a>
    <a routerLinkActive="active" routerLink="/map"> <img class="top" src="assets/map.png"></a>
    <a routerLinkActive="active" routerLink="/matching"> <img class="left" src="assets/logo-Tinder.png"></a>
    <img class="center" src="https://scontent-lhr3-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/72948827_154174159306732_4607752367429472747_n.jpg?_nc_ht=scontent-lhr3-1.cdninstagram.com&_nc_cat=104&oh=cccab5dab9764109530abc000224d22d&oe=5E6B0372">
  </div>
</div>


<div class="equipe-dev">
  <div>
    Ce site a été développé par une équipe de développeurs de Polytech Grenoble (filière Réseaux Informatiques et
    Communication Multimédia) en 5ème année :
  </div>
  <div class="ligne">
    <div class="dev">
      <img class="icon-facebook"
           src="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/41991811_2488834454461856_7096064818066489344_n.jpg?_nc_cat=106&_nc_ohc=ZPY5xiFeTUwAQmXmcK3BsRcsycgdqYTYp_nTSuWvjvA14vz35IS5uzEvw&_nc_ht=scontent-cdg2-1.xx&oh=a936751c3a8fecbef668b1b3da082835&oe=5E7CCAA2">
      <br> Baptiste
    </div>
    <div class="dev">
      <img class="icon-facebook"
           src="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/67625401_2616891371668911_3503166736130113536_n.jpg?_nc_cat=108&_nc_ohc=0SsN-FkxBckAQlcKn_-lmQwPPyKvpUc5FED2h3z4bKfprzDw3hakl4RTA&_nc_ht=scontent-cdg2-1.xx&oh=d2a3dad6ca2233dc06f491cfbf270cb2&oe=5E70DD0D">
      <br> Joachim
    </div>
    <div class="dev">
      <img class="icon-facebook"
           src="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/54421981_10157099829174299_989574814484135936_n.jpg?_nc_cat=108&_nc_ohc=9Lm9_eaGkXsAQn72UtMFF6nOTq6v6nxd7gEXDY9gNFcsKvM5IvSezWpMA&_nc_ht=scontent-cdg2-1.xx&oh=0fe65a930571716ed458782964eb4cf5&oe=5E40556A">
      <br> Léni
    </div>
    <div class="dev">
      <img class="icon-facebook"
           src="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/p960x960/49513250_2949101695115256_3655639226189348864_o.jpg?_nc_cat=111&_nc_ohc=T0-WPFzm9LAAQnzNgtmRmfSzviJ-tQ9owa1da6A067v7RS96O2O72_AvQ&_nc_ht=scontent-cdg2-1.xx&oh=c0dc94530f6ad59b5d17a633e7ae85a6&oe=5E6C842D">
      <br> Eva
    </div>
  </div>
  <br>
  <div class="ligne">
    <div class="dev">
      <img class="icon-facebook"
           src="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/p960x960/78548761_10218312572359801_7033558595639705600_o.jpg?_nc_cat=100&_nc_ohc=jUZI_j1YUBgAQmKZL4Ux2fnJi07lo7oaWyhwk9RupoSVEbYiVRfNaYf-g&_nc_ht=scontent-cdg2-1.xx&oh=1d3c8f3ce2eb7c6832ae025cb603e820&oe=5E768997">
      <br> Lucas
    </div>
    <div class="dev">
      <img class="icon-facebook"
           src="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/p960x960/43176040_10215386864657318_8701731151900835840_o.jpg?_nc_cat=103&_nc_ohc=g63NutBQj9UAQndIbSxlwhd-PSSSziCwOz1uTRfa2kD3AIT6THnFY_kEQ&_nc_ht=scontent-cdg2-1.xx&oh=06aed796d1e5170c5193387fa67918cf&oe=5E74828E">
      <br> Maxence
    </div>
    <div class="dev">
      <img class="icon-facebook"
           src="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/s960x960/66502817_2288364704544431_4438472517115445248_o.jpg?_nc_cat=106&_nc_ohc=SXjAWgPUyugAQk27pfwQWe4u_kyvrADWfwk13kOJBUbU-TOdy2OKznO9w&_nc_ht=scontent-cdg2-1.xx&oh=ed064861bc6a830349717611503f7b5b&oe=5E6E8A94">
      <br> Léo
    </div>
  </div>
</div>
