.circle {
  width: 500px;
  height: 500px;
  border-radius: 500px;
  border: 160px solid rgb(0, 37, 51);
  display: inline-block;
}

.center {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 150px;
  bottom: 395px;
}

.top{
  width: 100px;
  height: 135px;
  position: relative;
  bottom: 280px;
  transition: transform .5s ease-in-out;
}

.top:hover{
  transform: scale(1.1);
  transition: transform .5s ease;
  animation: rotation;
}

.left{
  width: 120px;
  height: 145px;
  position: relative;
  right: 170px;
  bottom: 260px;
  transition: transform .5s ease-in-out;
}

.left:hover{
  transform: scale(1.1);
  transition: transform .5s ease;
}

.right{
  width: 140px;
  height: 130px;
  position: relative;
  left: 165px;
  top: 20px;
  transition: transform .5s ease-in-out;
}

.right:hover{
  transform: scale(1.1);
  transition: transform .5s ease;
}

.presentation {
  font-size: 20px;
  margin: 20px;
  text-align: center;
}

.icon-facebook {
  height: 120px;
  width: 120px;
  border-radius: 120px;
  border:  2px solid grey;
  margin: 5px;
}

.equipe-dev {
  text-align: center;
}

.dev {
  float: left;
}

.ligne {
  display: inline-block;
  float: top;
}
