<h1>Sur les campus</h1>

<div class="toolbox fiche__description"><h3>Le Centre de Santé Interuniversitaire</h3>Les étudiants des universités
  grenobloises peuvent bénéficier gratuitement d'accueil et de soins infirmiers, de consultations médicales auprès de
  médecins généralistes ou spécialisés :&nbsp;<br><br>
  <ul>
    <li>Accueil et soins infirmiers</li>
    <li>Médecine Générale</li>
    <li>Médecine du Sport</li>
    <li>Psychologie, psychiatrie</li>
    <li>Centre de Planification : Gynécologie, Sexologie,</li>
    <li>Conseil conjugal et contraception, Interruption Volontaire de Grossesse médicamenteuse, dépistages Infections
      Sexuellement Transmissibles
    </li>
    <li>Diététique, troubles du comportement alimentaire</li>
    <li>Sophrologie, gestion du stress, affirmation de soi</li>
    <li>Sessions de secourisme</li>
    <li>Actions de prévention</li>
  </ul>
  <br>
  <div class="paragraphe__emphase"><strong>Prendre RV </strong>sur place ou par téléphone&nbsp;04 76 82 40 70&nbsp;
  </div>
  <br>
  <div class="paragraphe__fond__colore"><strong>Le Centre de Santé du campus de Saint Martin d'Hères</strong><br>180,
    rue de la Piscine - Domaine Universitaire <br>Tramway ligne B - Station Les Taillées<br>Tramway ligne C - Station
    Hector Berlioz<br>Lundi, mercredi, jeudi et vendredi, de 8h à 17h <br>Mardi de 10h à 17h<br><br><strong>Le Centre de
      Santé du campus de la Presqu'île (Grenoble)<br></strong>10, rue Vassieux en Vercors – Grenoble<br>Tram B station
    CEA - Cambridge<br>Les lundis et jeudis de 8h à 17h<br>Le mardi de 10h45 à 17h
  </div>
  <br class="separateur">
</div>

<h1>Dans l'agglomération</h1>
<div class="toolbox fiche__description"><h3>Centre départemental de santé</h3>
  <p>Le Centre départemental regroupe :<br>&nbsp;</p>
  <ul>
    <li>Le Centre Gratuit d'Information de Dépistage et de Diagnostic : Dépistage gratuit des infections sexuellement
      transmissibles.</li>
    <li>Le Centre de Lutte contre la tuberculose : Dépistage et traitement</li>
    <li>Le Centre de planification et de consultation prénatale : Contraception, consultation gynécologique, suivi de
      grossesse, interruption volontaire de grossesse
    </li>
    <li>Le Service de Vaccination gratuite.</li>
  </ul>
  <p>&nbsp;<br>&nbsp;</p>
  <ul>
    <li><strong>En savoir plus :</strong> <a href="https://www.isere.fr/sante" class="lien_externe">Conseil
      départemental de l'Isère</a></li>
  </ul>
  <p><strong><br></strong></p>
  <div class="paragraphe__fond__colore"><strong>Centre départemental de santé</strong><br>23, rue Albert 1er de Belgique
    - 38000 Grenoble<br>Tram A station Albert 1er de Belgique<br>Tél. : 04 76 87 62 40
  </div>
  <p>&nbsp;</p>
  <h3>Le Planning Familial</h3>
  <p>Lieux d’accueil où chacun peut trouver un soutien, une aide à la réflexion quel que soit son âge.&nbsp;<br><br>Les
    centres sont des lieux d'écoute, d'informations et d'entretiens où des conseillères et des médecins, tenues au
    secret professionnel, formé(e)s aux questions liées à la vie sexuelle et affective, vous accueillent sans jugement.
    <br><br>De nombreux sujets peuvent être abordés : la contraception, la grossesse, l’avortement, les infections
    sexuellement transmissibles (IST), les difficultés conjugales, l’adolescence, les relations parents-enfants,…<br>&nbsp;
  </p>
  <p>Le Planning Familial est aussi un endroit où l’on peut se procurer des moyens de contraception, la pilule du
    lendemain, un test de grossesse, un test de dépistage des IST, des préservatifs, etc.</p>
  <p>L’accueil est organisé avec ou sans rendez-vous, pour répondre aux premières questions.<br>&nbsp;</p>
  <ul>
    <li><strong>En savoir plus :</strong> <a
      href="https://www.planning-familial.org/fr/le-planning-familial-de-lisere-38" class="lien_externe">Planning
      Familial</a></li>
  </ul>
  <p>&nbsp;</p>
  <div class="paragraphe__fond__colore">30 boulevard Gambetta, 38000 GRENOBLE<br>Tél. 04 76 87 94 61<br>Lundi, mercredi:
    9h-19h<br>Jeudi, vendredi: 9h-17h30<br>Mardi: 13h-19h
  </div>
  <br>
  <h3>Hopitaux et cliniques de l'agglo</h3>
  <p>Centre Hospitalier Universitaire Grenoble Alpes : <a href="http://www.chu-grenoble.fr" class="lien_externe">www.chu-grenoble.fr</a><br>Groupe
    mutualiste : <a href="http://www.ghm-grenoble.fr" class="lien_externe">www.ghm-grenoble.fr</a><br>Autres cliniques
    de l’agglo : <a href="https://www.pagesjaunes.fr/annuaire/grenoble-38/cliniques" class="lien_externe">Annuaire</a>
  </p>
  <p>&nbsp;</p>
  <br class="separateur">
</div>
