<div class="clr-row">
    <div class="clr-col-sm-12">
        <div class="card">
            <div class="card-block">
                <div class="card-text">
                    <div class="paragraphe__contenu--0 toolbox">
                        <div class="fiche__resume">Pendant les vacances ou tout au long de l’année, le job étudiant peut
                            constituer un revenu complémentaire non négligeable.</div>
                        <div class="paragraphe__citation">Travailler c'est aussi l’occasion de découvrir le monde du
                            travail et d’acquérir des connaissances et expériences utiles pour sa future vie
                            professionnelle.</div>
                        <p>&nbsp;Retrouvez toutes les informations relatives au job étudiant :</p>
                        <ul>
                            <li>Comment faire sa recherche ?</li>
                            <li>Quels aménagements prévus pour les études ?</li>
                            <li>Quels droits et devoirs s'appliquent aux jobs étudiants ?</li>
                            <li>Quels sont les secteurs qui recrutent ?</li>
                        </ul><br type="_moz">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="article__description" class="toolbox fiche__description">
        <p>La sélection des candidats repose essentiellement sur la <strong>lettre de motivation</strong>, le
            <strong>CV</strong> et la <strong>présentation à l'entretien.<br type="_moz"></strong></p>
        <h3>Le CV (Curriculum Vitae)</h3>Il doit être le plus clair possible dans sa présentation et doit mettre en
        avant <strong>les points forts et compétences</strong>&nbsp;:<ul>
            <li>expériences professionnelles,</li>
            <li>formations,</li>
            <li>centres d'intérêt</li>
        </ul><strong><br>Une page suffit !</strong> <br><br>
        <div class="paragraphe__fond__colore"><strong>Attention : </strong>Il est préférable de <strong>revoir le CV à
                chaque nouvelle candidature</strong>, celui-ci doit être cohérent avec le poste demandé ; les points
            forts à mettre en avant ne seront pas les mêmes d'une offre à l'autre.</div><strong>
            <h3>La lettre de motivation</h3>
        </strong>Elle doit montrer à l'employeur votre&nbsp;connaissance de l'entreprise et du secteur d'activité, en
        quoi le poste est compatible avec vos connaissances et ce que vous pouvez apporter.&nbsp;&nbsp;Celle-ci doit
        également se limiter à une page et sa&nbsp;présentation doit être soignée.<br><br>
        <div class="paragraphe__fond__colore"><strong>Attention : </strong>ne pas oublier de faire <strong>relire
                plusieurs fois votre CV et votre lettre de motivation</strong> pour éviter les fautes d'orthographe, de
            grammaire et de syntaxe !</div>
        <h3>L'entretien</h3>
        <h5>Quels objectifs pour le recruteur ?</h5>
        <ul>
            <li>Être rassuré sur le candidat avec lequel il s’engage</li>
            <li>Vérifier l’adéquation entre le profil du candidat et celui du poste</li>
            <li>Compléter les informations sur le candidat afin de mieux cerner ses expériences, ses capacités, ses
                savoir-faire et ses savoir-être</li>
            <li>Découvrir la personnalité du candidat</li>
            <li>Évaluer la motivation du candidat (intégration dans l’entreprise, qualités…)</li>
        </ul>
        <h5>Quels objectifs pour vous ?</h5>
        <ul>
            <li>
                <p>Vous présenter, vous faire connaître</p>
            </li>
            <li>
                <p>Bien connaître le poste proposé et montrer votre intérêt</p>
            </li>
            <li>
                <p>Convaincre votre interlocuteur de vous embaucher en amenant des exemples concrets</p>
            </li>
            <li>
                <p>Vous assurer que la mission correspond à vos attentes</p>
            </li>
        </ul><br>
        <ul>
            <li><strong>En savoir plus : </strong><a
                    href="https://prose.univ-grenoble-alpes.fr/experiences-stages-emploi/valoriser-ses-experiences-et-ses-competences/cv-lettre-entretien/l-entretien-de-recrutement-480048.kjsp?RH=4836039043588801"
                    class="lien_externe">L'entretien de recrutement</a></li>
        </ul>
        <br class="separateur">
    </div>

    <div id="article__description" class="toolbox fiche__description">
        <h3>Comment trouver un job ?</h3>
        <p>Il faut commencer par déterminer vos disponibilités ainsi que les <a
                href="https://campus.univ-grenoble-alpes.fr/fr/menu-principal/installation/budget/les-jobs-etudiants/les-secteurs-qui-recrutent-811599.htm?RH=1529486492742"
                class="lien_interne">secteurs d'activités</a> pouvant vous intéresser.</p>
        <h3>Solliciter son réseau</h3>Informer son entourage, familles et amis de vos recherches, cela peut
        servir.<strong><br>
            <h3>Envoyer des candidatures spontanées</h3>
        </strong>Pensez aux candidatures spontanées auprès des structures qui vous intéressent. Il est possible
        également de se présenter directement muni de son CV et lettre de motivation. Cette démarche est indispensable
        pour travailler en intérim.<br>
        <h3>Consulter des offres</h3>Pour s'informer et trouver des annonces, consulter les journaux gratuits, la
        presse, internet. Ne pas oublier les relations, les affichettes chez les commerçants et toutes les
        manifestations liées à l'emploi (salons, forums...). <br><br>L'Université Grenoble Alpes est également un
        employeur et propose des contrats adaptés aux étudiants tout au long de l'année sur sa <a
            href="http://emplois-etudiants.univ-grenoble-alpes.fr" class="lien_externe">Plateforme Emploi
            Etudiant</a>&nbsp;(Réservé aux étudiants inscrits à l'UGA).<br><br>On trouve également des offres sur les
        sites web du CROUS et du CRIJ. Ne pas oublier de consulter les offres sur le site de Pôle Emploi.<ul>
            <li><a href="https://www.jobaviz.fr/rechercher-un-job-etudiant/n:39" class="lien_externe">JOBAVIZ</a></li>
            <li><a href="https://isere.info-jeunes.fr/annonces/offres" class="lien_externe">Info-jeunes 38</a></li>
            <li><a href="https://fr-fr.facebook.com/jobgre/" class="lien_externe">Job à Grenoble</a></li>
            <li><a href="http://www.pole-emploi.fr/" class="lien_externe">Pôle Emploi</a></li>
        </ul>
        <p><br>Le <a href="https://univ-grenoble-alpes.jobteaser.com/" class="lien_externe">Career Center de
                l'Université Grenoble Alpes</a> peut parfois proposer des jobs étudiants en lien avec les cursus.</p>
        <h5>Les jobs dans les pays européens</h5>
        <p>Moteur de recherche d'offres de jobs en Europe : le moteur EURES, le portail européen de la mobilité et de
            l'emploi. Ces offres peuvent être consultées sur le site&nbsp;<br><a href="http://ec.europa.eu/eures/"
                class="lien_externe">ec.europa.eu/eures/<br><br></a></p><br>
        <br class="separateur">
    </div>

    <div id="article__description" class="toolbox fiche__description">
        <h3>L'emploi Étudiant au sein des établissements</h3>Les établissements d'enseignement supérieur proposent des
        "<strong>emplois étudiants</strong>" tout au long de l'année.<br><br><strong>Emploi étudiant </strong>est un
        contrat spécifique qui respecte un volume d'heures maximale de 600 heures de septembre à juin et de 300 heures
        en été. Les établissements proposent également des vacations pour des missions courtes.<br><br>Les besoins en
        recrutement sont envoyés via newsletter ou affichés sur l'intranet étudiant.<br><br><strong>Les offres à
            l'université Grenoble Alpes sont répertoriées sur</strong>&nbsp;<a
            href="https://emplois-etudiants.univ-grenoble-alpes.fr/" class="lien_externe">la plateforme emploi
            étudiant</a>&nbsp;(accès avec les identifiants UGA)&nbsp;<br><br><strong>Pour les <a
                href="https://campus.univ-grenoble-alpes.fr/fr/menu-principal/outils/les-composantes-universitaires/les-composantes-des-universites-de-grenoble-791373.htm?RH=1529486492742"
                class="lien_interne">autres établissements</a>,</strong> contacter l'administration.<p>&nbsp;</p>
        <h3>Le statut Étudiant Engagé</h3>Il est possible pour les étudiants de l'UGA justifiant de contrat sur une
        durée supérieure à 3 mois et 10h/Semaine d'obtenir un <strong>aménagement de son cursus au travers du statut
            "Etudiant engagé"</strong>.<br><br>Plus d'informations auprès du <a
            href="https://www.univ-grenoble-alpes.fr/fr/grandes-missions/formation/amenagements-specifiques/etudiant-engage/etudiants-engages-371684.kjsp?RH=1448967697201"
            class="lien_externe">Service des Personnes à Besoins Spécifiques de l'UGA<br type="_moz"></a><br>
        <h3>Le Service Civique</h3>Le Service Civique est un engagement volontaire au service de l'intérêt général,
        <strong>ouvert à tous les jeunes de 16 à 25 ans</strong>.<br><br>Le Service Civique est indemnisé 472,97€ net
        par mois, peut être effectué auprès d'associations, de collectivités territoriales ou d'établissements publics
        (collèges, lycées, musées...), sur une période de 6 à 12 mois en France ou à l'étranger, pour une mission d'au
        moins 24h par semaine.<br><br>
        <ul>
            <li><strong>En savoir plus : </strong><a href="https://www.service-civique.gouv.fr/"
                    class="lien_externe">Service Civique</a></li>
        </ul>
        <br class="separateur">
    </div>

    <div id="article__description" class="toolbox fiche__description">
        <h3>Droit du travail<strong><br type="_moz"></strong></h3>
        <p>Les étudiants sont soumis aux mêmes textes de loi que les autres salariés. En cas de doute sur le contrat,
            les tâches à accomplir ou pour une simple demande de renseignement sur la législation, contacter la
            Direction Départementale du Travail.<br>&nbsp;</p>
        <p><strong>Site de la Direction Départementale du Travail :</strong> <a
                href="http://auvergne-rhone-alpes.direccte.gouv.fr/Isere" class="lien_externe">Direccte
                Auvergne-Rhône-Alpes</a><br>&nbsp;</p><strong>Service de renseignements téléphoniques : Allo Service
            Public</strong>, 39 39 (0.15€/min). Du lundi au vendredi de 8h30 à 18h15.<br><br>
        <h3>Job et impôts</h3><strong>Un étudiant doit déclarer ses revenus !</strong><br><br>
        <ul>
            <li>S'il est <strong>rattaché fiscalement à ses parents</strong> (jusqu'à 25 ans), ce sont eux qui doivent
                déclarer ses revenus (exonération dans une limite de 4441€ annuel)</li>
            <li>S'il est <strong>indépendant fiscalement</strong>, il doit faire sa propre déclaration</li>
        </ul><br>Pour en savoir plus, consultez la rubrique "<a
            href="https://campus.univ-grenoble-alpes.fr/fr/menu-principal/installation/budget/les-taxes-et-impots/le-statut-etudiant-et-l-impot-tout-savoir-sur-les-demarches-a-effectuer-777729.htm?RH=1529486492742"
            class="lien_interne">Les taxes et impôts</a>"<br><br>
        <h3>Prime d'activité</h3>La prime d'activité est accessible aux étudiants salariés et aux apprentis sous
        certaines conditions. Elle est délivrée par la <strong>Caf</strong>, vous devez percevoir durant au moins 3 mois
        un salaire minimum d'environ 900€ net par mois.<br><br>
        <ul>
            <li><strong>Faire une</strong> <a href="https://wwwd.caf.fr/wps/portal/caffr/simulateurpa/"
                    class="lien_externe">simulation</a>.</li>
        </ul>
        <p>&nbsp;</p>
        <h3>Job étudiant et cotisation retraite</h3>Il faut conserver précieusement ses fiches de paie, contrats de
        travail et certificats de travail. Ces emplois sont comptabilisés comme n'importe qu'elle période de travail
        salarié.<br><br>
        <ul>
            <li><strong>En savoir plus :</strong> <a href="https://www.info-retraite.fr/portail-info/home.html"
                    class="lien_externe">Info-retraite</a></li>
        </ul><br>
        <h3>Étudiants internationaux et jobs</h3>Pour les étudiants issus de pays tiers (hors Union Européenne), un
        titre de séjour en cours de validité portant la mention "étudiant" est nécessaire pour pouvoir travailler en
        France. <br><br>Vous pourrez exercer une activité professionnelle à temps partiel pendant vos études et
        travailler jusqu'à 964 heures par an, soit 60% de la durée annuelle légale du travail en France.
        <br><br><strong>Votre carte de séjour temporaire peut vous être retirée par la Préfecture si vous travaillez
            plus que le maximum autorisé.</strong><br><br>Pour plus d’informations, se renseigner auprès de <a
            href="https://campus.univ-grenoble-alpes.fr/fr/menu-principal/international/grenoble-the-place-to-be-755527.htm?RH=1529486492742"
            class="lien_interne">ISSO</a> au sein de iCampus -Welcome Center.
        <br class="separateur">
    </div>

    <div id="article__description" class="toolbox fiche__description">
        <h3>Le CROUS</h3>Le CROUS est un des principaux employeurs étudiants en r<strong>estauration, gardiennage ou
            mission d’accueil</strong>. <br><br><strong>Le + :</strong> <a href="https://www.jobaviz.fr/"
            class="lien_externe">Jobaviz</a><br>
        <h3>L'université</h3>Les établissements d’enseignement supérieur proposent des « <strong>emplois
            étudiants</strong> » tout au long de l’année. <br><br>Les besoins en recrutement sont envoyés via les
        newsletters ou affichés sur l’intranet étudiant <br><br><strong>Le + : &nbsp;</strong><a
            href="https://emplois-etudiants.univ-grenoble-alpes.fr" class="lien_externe">Le portail emploi étudiant de
            l’UGA</a> répertorie toutes les offres&nbsp;<br>
        <h3>Le service accueil handicap</h3>Le <a
            href="https://campus.univ-grenoble-alpes.fr/fr/menu-principal/quotidien/handicap/accueil-conseils-accompagnement-le-service-accueil-handicap-est-la-pour-vous--758220.htm?RH=1529486492742&amp;RF=1529500443507"
            class="lien_interne">Service Accueil Handicap</a> recrute, tout au long de l’année, sur diverses missions
        auprès des étudiants en situation de handicap. <br><br>Vous pouvez vous positionner sur une ou plusieurs des
        missions proposées en fonction de vos disponibilités et de votre profil.<br><br><strong>Le + :&nbsp;</strong>
        adapté à vos disponibilités : <a
            href="https://handicap.univ-grenoble-alpes.fr/fr/nous-recrutons-des-vacataires-794389.htm?RH=19177028837754556"
            class="lien_interne">SAH<br></a>
        <br class="separateur">
    </div>

    <div id="article__description" class="toolbox fiche__description">
        <h3>La fonction publique</h3>Dans la fonction publique, les activités dépendent de l’employeur. <br><br>Par
        exemple, à l’<strong>université </strong>il est possible de travailler dans les <strong>bibliothèques</strong>,
        aux <strong>postes informatiques</strong>, faire de <strong>l’archivage</strong>… <br><br>Dans les
        <strong>mairies</strong>, travailler dans les <strong>accueils périscolaires</strong>, faire du
        <strong>tutorat</strong>, etc. <br><br><strong>Le + :</strong> Postuler tôt dans l’année pour l’année suivante
        !<br>
        <h3>L'animation et le périscolaire</h3>Toute l'année dans les <strong>centres de loisirs</strong>&nbsp;ou dans
        les <strong>accueils périscolaires</strong> des communes, pour les <strong>mercredis </strong>ou pendant les
        <strong>vacances scolaires</strong>, plusieurs emplois sont possibles.<br><br><strong>Le + :
        </strong>Renseignements sur les formations et aides financières pour passer le BAFA (Brevet d’Aptitude aux
        Fonctions d’Animateurs), disponibles à l’ADIIJ.<br>
        <h3>Les services à la personne</h3>Ce secteur très dynamique propose des emplois d’<strong>aide à la vie
            quotidienne</strong> (aide ménager, soutien scolaire), <strong>à la famille</strong> (garde d’enfant,
        baby-sitting) et <strong>aux personnes dépendantes</strong> (personnes âgées, handicapées). <br><br>Les familles
        peuvent aussi recruter directement grâce aux Chèques Emploi Service Universels (CESU).<br><br><strong>Le +
            :</strong> Avec le BAFA, il est possible de mettre en concurrence les agences de service à la personne et
        trouver celle qui convient le mieux.<br><br>Pour le soutien scolaire, un <strong>Bac + 3 minimum</strong> est
        requis.<br>
        <h3>La restauration et l'hôtellerie&nbsp;</h3>Ce secteur propose divers emplois (<strong>vente, plonge, aide
            cuisinier...</strong>) pouvant s’adapter aux plannings des étudiants (<strong>Soirs et Week-ends</strong>).
        <br><br><strong>Le - :</strong> Attention aux horaires des bars (fermetures tardives).<br>
        <h3>Le télémarketing</h3>Une expérience est requise selon l’employeur : <strong>téléconseiller, téléopérateur,
            télévendeur... </strong><br><br><strong>Le + : </strong>Mettre en avant ses compétences en langues
        étrangères.<br>
        <h3>L'événementiel</h3>Secteur très vaste où l’on peut faire des <strong>sondages</strong>, de la
        <strong>distribution de presse ou publicitaire</strong>, faire de la <strong>vente </strong>ou encore être
        <strong>hôte d’accueil</strong>.&nbsp;<br><br><strong>Le + :</strong> Mettre en avant ses compétences en langues
        étrangères, soigner sa présentation.<br>
        <br class="separateur">
    </div>