<h1>Bien s'alimenter</h1>
<div class="paragraphe__contenu--0 toolbox">
  <div class="fiche__resume">Marre du steak-pâte ? iCampus vous propose des alternatives pour bien s'alimenter, idées de
    recettes faciles à préparer, produits locaux et de saison... ne ratez aucun bon plan !
  </div>
  <h3>Se préparer un repas</h3>Il est souvent plus économique et meilleur pour la santé (quand on a un peu de matériel à
  disposition) de préparer son repas. Et pour ceux qui ignorent tout de la cuisine, les étudiants relais santé en lien
  avec le <a
  href="https://campus.univ-grenoble-alpes.fr/fr/menu-principal/services/les-lieux-de-service/crous-grenoble-alpes-313203.htm?RH=1529486674404&amp;RF=1550654942420"
  class="lien_interne">CROUS</a> animent des sessions de cuisine et partagent régulièrement des recettes, trucs, astuces
  et bons plans pour cuisiner facilement sans trop de matériel et avec un petit budget.<br><br>
  <ul>
    <li><strong>En savoir plus : <a
      href="https://campus.univ-grenoble-alpes.fr/fr/menu-principal/quotidien/sante-bien-etre/mon-bien-etre/etudiants-relais-sante/etudiants-relais-sante-786480.htm?RH=1529486674404"
      class="lien_interne">Etudiants Relais Santé</a></strong></li>
  </ul>
  <p>&nbsp;</p>
  <h3>Marchés</h3>
  <p><strong>Penser aux produits locaux et de saison.<br><br></strong></p>
  <p>De nombreux marchés de produits frais se tiennent tous les jours dans toute l’agglomération grenobloise.
    L’agglomération de Grenoble c’est 59 marchés chaque semaine. Le guide des marchés de l’agglo est disponible sur le
    site de la Métro !<br>&nbsp;</p>
  <ul>
    <li><strong>En savoir plus :</strong><strong> <a href="https://www.lametro.fr/37-alimentation.htm"
                                                     class="lien_externe">Grenoble Alpes Métropole</a></strong></li>
  </ul>
  <p>&nbsp;</p>
</div>
