<h1> Logements étudiants CROUS </h1>


<div class="toolbox fiche__description"><h3>CROUS Grenoble Alpes</h3>Le CROUS de Grenoble gère plus de 7000 logements en
  résidences universitaires. Le loyer mensuel pour un logement (chambre, studio, appartement à partager, T1, T2) est
  compris entre 150 € et 520 € (hors déduction aides au logement : APL, ALS).<br><br>Les demandes s'effectuent sur le <a
    href="https://trouverunlogement.lescrous.fr/" class="lien_externe">site du CROUS</a> <strong>toute l'année.</strong><strong><br></strong><br>Les
  étudiants internationaux en programme d'échange bénéficient du traitement de leur dossier par le <a
    href="https://international.univ-grenoble-alpes.fr/" class="lien_interne">Service Accueil International / ISSO</a>.
  Pour les étudiants internationaux venus individuellement, la demande se fait par la constitution d'un <a
    href="http://www.crous-grenoble.fr/demanderunlogement/logement-etudiant-international/" class="lien_externe">Dossier
    Social Etudiant</a> (D.S.E)<br><br>Pour les <a
    href="http://www.crous-grenoble.fr/demanderunlogement/logement-etudiant-international/boursescampusfrance/"
    class="lien_externe">étudiants boursiers gérés par Campus France</a>, votre hébergement doit être réservé par ces
  derniers les coordonnées doivent vous être adressée par mail.<br><br>
  <ul>
    <li><strong>En savoir plus :</strong> <a href="http://www.crous-grenoble.fr/demanderunlogement/"
                                             class="lien_externe">CROUS Grenoble Alpes</a></li>
  </ul>
  <br>
  <div class="videoWrapper">
    <iframe src="https://www.google.com/maps/d/u/1/embed?mid=1z2YeLl6RUJ1aw9Gvi6TPUGQDC98vsc1o" width="640"
            height="480"></iframe>
  </div>
  <br class="separateur">
</div>

<h1> Autres logements étudiants </h1>

<div class="toolbox fiche__description"><h3>En résidence privée et associative</h3>
  <p><strong>Il existe de nombreuses résidences étudiantes dans l'agglomération.&nbsp;</strong><br><br>Les loyers sont
    en général équivalents à un logement dans le secteur privé (entre 360 et 750€). Pour obtenir une place, il faut
    contacter la résidence et remplir un dossier.<br>&nbsp;</p>
  <div class="paragraphe__emphase"><a
    href="https://campus.univ-grenoble-alpes.fr/medias/fichier/2019-11-residences-privees_1574949798403-pdf?ID_FICHE=48609"
    title="Télécharger 'Résidences Privées 2019/2020' [PDF - 1 Mo]" class="lien_interne">Télécharger la liste des
    résidences et foyers de l'Agglomération</a>&nbsp;
  </div>
  <br><br>
  <div class="videoWrapper">
    <iframe src="https://www.google.com/maps/d/u/1/embed?mid=1xiGw8EY5IQB42xvWuTjuEKOqlmMo54TC" width="640"
            height="480"></iframe>
  </div>
  <br>
  <h3>La "Koloc'A Projets Solidaires - KAPS" : une alternative citoyenne<strong><br></strong></h3>L'AFEV avec le
  dispositif "Koloc' A Projets Solidaires ou KAPS" propose aux étudiants des colocations qui permettent l'engagement
  solidaire (accompagnement scolaire, soutien aux associations et structures locales...).<br><br>Les Kaps sont destinées
  aux jeunes qui souhaitent vivre ensemble de manière innovante et solidaire. La motivation et l’envie sont de critères
  essentiels pour pouvoir vivre cette expérience.<br><br>Le montant du loyer est de 295 euros charges comprises
  (environ), Internet est compris dans les charges, seule l’électricité est à la charge des locataires.
  <div><br>
    <ul>
      <li><strong>En savoir plus :&nbsp;<a href="http://rejoins.afev.org/kaps/grenoble/" class="lien_externe"><img
        src="https://campus.univ-grenoble-alpes.fr/medias/photo/iconfinder-hex-2357364_1552381667241-png?ID_FICHE=48609"
        style="width:15px;height:15px;" alt="" title="Site web">&nbsp;</a></strong><a
        href="http://rejoins.afev.org/kaps/grenoble/" class="lien_externe">Kaps -&nbsp;Afev</a> / <a
        href="https://www.facebook.com/afev.grenoble/" class="lien_externe"><img
        src="https://campus.univ-grenoble-alpes.fr/medias/photo/iconfinder-facebook-2155341_1552381651460-png?ID_FICHE=48609"
        style="width:15px;height:15px;" alt="" title="Facebook">&nbsp;Afev Grenoble</a></li>
    </ul>
  </div>
  <br class="separateur">
</div>

<h1> Logements partagés </h1>

<div class="toolbox fiche__description"><h3>Lokaviz</h3>Le CROUS met à disposition des étudiants une plateforme de
  recherche de logement mis en location par des particuliers. La plateforme vous permet de trouver les colocations
  disponibles dans l'Agglo.<br><br>
  <ul>
    <li><strong>En savoir plus :</strong> <a href="https://www.lokaviz.fr/" class="lien_externe">Lokaviz</a></li>
  </ul>
  <h3>Le parc privé</h3>Dans le parc privé, de nombreux sites vous permettent de rechercher un logement en colocation.&nbsp;<br><br>Parmi
  les principaux :&nbsp;<ul>
    <li><a href="https://www.seloger.com/" class="lien_externe">Se loger</a></li>
    <li><a href="https://www.leboncoin.fr/" class="lien_externe">Le bon coin</a></li>
  </ul>
  <h3>La colocation intergénérationnelle</h3><a
    href="https://campus.univ-grenoble-alpes.fr/fr/menu-principal/services/les-partenaires-icampus/digi38-780691.htm?RH=1566810119439"
    class="lien_interne">DiGi 38</a> (Domiciles inter Générations isérois) offre des solutions de cohabitation chez un
  senior.<br><br>La colocation intergénérationnelle permet aux étudiants d’être logés à moindre frais tout en luttant
  contre l'isolement et le sentiment de solitude des personnes âgées.<br><br>
  <ul>
    <li><strong>En savoir plus : </strong><a href="http://digi38.org/" class="lien_externe">Colocation
      intergénérationnelle</a></li>
  </ul>
  <br class="separateur">
</div>

<h1> Parc privé </h1>

<div class="toolbox fiche__description"><h3>Les agences immobilières</h3>
  <div>Interface entre les propriétaires et les locataires, elles connaissent bien les prix du marché. Les loyers
    peuvent être parfois moindres que ceux pratiqués par les particuliers mais ce service comprend des frais exigibles à
    la signature du bail&nbsp; &nbsp;<br><br><strong>La FNAIM de l'Isère</strong> rassemble un important réseau d'agents
    immobiliers, les offres sont consultables dans leurs locaux ou sur leur site web.&nbsp; &nbsp;<br>&nbsp;
  </div>
  <ul>
    <li><strong>En savoir plus :</strong> <a href="http://www.fnaim38.com/513-logement-etudiant-grenoble.htm"
                                             class="lien_externe">FNAIM38</a></li>
  </ul>
  <h3>&nbsp;De particulier à particulier</h3><h5>Lokaviz</h5>Le CROUS met à disposition des étudiants une plateforme de
  recherche de logement mis en location par des particuliers. Du studio au T4, meublé ou non meublé... Trouvez le
  logement qui vous correspond.<br><br>
  <ul>
    <li><strong>En savoir plus :</strong> <a href="https://www.lokaviz.fr/" class="lien_externe">Lokaviz</a></li>
  </ul>
  <h5>ADIIJ</h5>L'<a
    href="https://campus.univ-grenoble-alpes.fr/fr/menu-principal/services/les-partenaires-icampus/info-jeunes-grenoble-780605.htm?RH=1566810168193"
    class="lien_interne">ADIIJ de l'Isère</a> peut vous apporter son aide dans votre recherche de logement et recense de
  nombreuses annonces de location.<br><br>N'hésitez pas à les rencontrer pour demander un accompagnement.<br><br>
  <ul>
    <li><strong>En savoir plus :</strong> <a href="https://isere.info-jeunes.fr/annonces/offres" class="lien_externe">Annonces</a>
    </li>
  </ul>
  <h5>Sites de petites annonces</h5>Dans le parc privé, de nombreux sites vous permettent de rechercher un logement.&nbsp;<br><br>Parmi
  les principaux :&nbsp;<ul>
    <li><a href="https://www.seloger.com/" class="lien_externe">Se loger</a></li>
    <li><a href="https://www.leboncoin.fr/" class="lien_externe">Le bon coin</a></li>
  </ul>
  <br class="separateur">
</div>
