<div class="main-container">
  <h1>Les aides de la Caf</h1>


  <div class="clr-row">

    <div class="paragraphe__contenu--0 toolbox">
      <div class="fiche__resume">Si un problème se pose avec le propriétaire, il existe différentes associations pouvant
        informer et conseiller sur les droits et devoirs du locataire.
      </div>
      <div class="paragraphe__citation">Le conseil : Si votre propriétaire vous fait des misères, il faut quand même
        continuer à payer son loyer&nbsp;au risque de vous mettre à votre tour en défaut face à la loi !
      </div>
      <h3>L'ADIL, partenaire de iCampus</h3>Association Départementale d'Information sur le Logement informe sur le
      droit
      des locataires et vous aiguille vers les bons interlocuteurs. Vous pouvez rechercher votre problématique <a
        href="https://www.adil38.org/votre-projet/" class="lien_externe">directement en ligne</a> en affinant votre
      profil et
      le types d'informations que vous souhaitez recevoir.<br><br>L'ADIL a également en charge le signalement des <a
        href="https://www.adil38.org/fileadmin/Sites/Site_de_l_ADIL_38/Adil_Isere_publications/Guide_logement_decent_2019_CAF38.pdf"
        class="lien_externe">logements non-décents</a> dans l'agglomération.<br><br>
      <ul>
        <li><strong>En savoir plus :</strong> <a href="http://www.adil38.org" class="lien_externe">www.adil38.org</a>
        </li>
      </ul>
      <h3>Besoin d'aide ?</h3>Mauvais comportements du propriétaire, discriminations, logement insalubre ? Des acteurs
      sont
      là pour vous accompagner afin de faire valoir vos droits :<br>
      <ul>
        <li>Confédération Nationale du Logement :<b> <a href="http://www.lacnl.com/"
              class="lien_externe">CNL</a>&nbsp;<br>
          </b></li>
        <li><b> </b>Consommation Logement et Cadre de Vie :<b> <a href="http://www.clcv.org/"
              class="lien_externe">CLCV</a>&nbsp;<br>
          </b></li>
        <li><b> </b>Union Fédérale des Consommateurs Que Choisir : <a href="https://grenoble.ufcquechoisir.fr/"
            class="lien_externe"><strong>UFC</strong></a></li>
        <li>Assistance juridique :&nbsp;<strong><a
              href="http://www.grenoble.fr/thematique/70/659-accompagnement-juridique.htm" class="lien_externe">Ville de
              Grenoble</a></strong></li>
        <li>Le défenseurs des droits :<b>&nbsp;</b><strong><a href="https://www.defenseurdesdroits.fr/"
              class="lien_externe">Défenseur des droits</a></strong></li>
        <li>Service hygiène, salubrité et environnement de la ville de Grenoble&nbsp;: <strong><a
              href="http://www.grenoble.fr/demarche/588/659-intervention-du-service-hygiene-salubrite-environnement.htm"
              class="lien_externe">Ville de Grenoble</a></strong></li>
        <li>Syndicats et associations étudiants<strong> </strong>:<strong> <a
              href="https://eve-grenoble.fr/la-pepiniere" class="lien_externe"><strong>Pépinière
                d'Initiatives EVE</strong></a></strong></li>
      </ul>
    </div>

    <h1>
      Les garanties et cautions locatives
    </h1>
    <div class="toolbox fiche__description">
      <h3>VISALE</h3>
      <p style="text-align: justify;"><strong>Visale est un dispositif de cautionnement gratuit qui permet de garantir
          les
          loyers impayés <br></strong><br>Il s’adresse notamment aux étudiants de moins de 30 ans (jusqu’au 31ème
        anniversaire) entrant dans un logement. Les étudiants internationaux peuvent en bénéficier sous réserve d'un
        titre
        de séjour en cours de validité pour les non-européens. Pour les étudiants de l’Union Européenne, une carte
        d’étudiant et d’un passeport (ou carte d'identité) en cours de validité sera à fournir.&nbsp;<br>&nbsp;</p>
      À&nbsp;noter
      : les <strong>étudiants internationaux</strong> en attente de renouvellement de leur titre de séjour doivent
      fournir
      leur récépissé et la copie du titre de séjour expiré.<br>
      <p>Pour être éligible, l'étudiant doit justifier de son inscription dans un établissement d'enseignement supérieur
        pour l’année en cours. Les revenus de l'étudiant ne doivent pas dépasser 1200€ par mois.</p><br><br>
      <ul>
        <li><strong>En savoir plus : </strong><a href="https://www.visale.fr/#!/"
            class="lien_externe"><strong>VISALE</strong><br> </a></li>
      </ul>
      <br>
      <h3>Loca-Pass</h3>
      <p>Ces aides s'adressent aux étudiants boursiers d'Etat, titulaires d'une convention de stage d'au moins 3 mois ou
        étudiants salariés en CDD.<br><br><strong>L'avance Loca-Pass</strong> permet de financer le dépôt de garantie.
        C'est
        un prêt, accordé par un organisme d'Action Logement, sans intérêt et sans frais de dossier.<br><br><strong>La
          garantie Loca-Pass</strong> est une garantie de paiement de loyers (jusqu'à 9 mensualités) et de charges en
        cas
        d'impayés, elle peut être accordée uniquement pour un logement appartenant à une personne morale (CROUS, HLM...)
        issu du parc social ou du parc privé conventionné, à l'exception des logements appartenant à des SCI familiales.
      </p>
      <br><br>
      <ul>
        <li><strong>En savoir plus :</strong> <a href="https://www.actionlogement.fr/" class="lien_externe">Action
            Logement</a></li>
      </ul>
      <p>&nbsp;</p>
      <h3>Cautions locatives bancaires&nbsp;</h3>Certaines banques et assurances proposent un service de cautionnement,
      il
      faut étudier les offres lors de l'inscription ou à l'ouverture du compte pour connaitre les conditions et les
      coûts de
      ce service. <strong>Généralement, il est demandé de bénéficier d'un certain niveau de ressource pour prétendre à
        ce
        dispositif.</strong><br><br>Certains propriétaires souscrivent une assurance de Garantie des loyers impayés qui
      dispense le locataire de garant mais c'est assez rare.
      <br class="separateur">
    </div>

    <h1>
      Les aides aux frais de logement
    </h1>
    <div class="toolbox fiche__description">
      <h3>Les Tarifs Solidaires de l’Energie</h3>
      <p>Sous certaines conditions de ressources, un étudiant peut bénéficier d’une tarification solidaire de l’énergie.
        <br><br>Il faut :</p>
      <ul>
        <li>être titulaire d’un contrat d’électricité pour la résidence principale : vos nom et prénom doivent
          apparaître
          sur la facture,
        </li>
        <li>être fiscalement indépendant et avoir des ressources inférieures ou égales au plafond permettant de
          bénéficier
          de la&nbsp;<a
            href="https://campus.univ-grenoble-alpes.fr/fr/menu-principal/droits-et-soutien/se-soigner-a-moindre-frais/aides-a-la-complementaire-sante/aides-a-la-complementaire-sante-797465.htm?RH=1529486635089"
            class="lien_interne">Complémentaire Santé Solidaire</a></li>
        <li>ou avoir un revenu fiscal annuel de référence inférieur à <strong>2 175 €/ an</strong>.</li>
      </ul>
      <br><strong>En savoir plus :</strong>&nbsp;&nbsp;<a href="http://www.energie-info.fr"
        class="lien_externe">www.energie-info.fr
        <br></a><br>
      <h3>Le Fonds de Solidarité pour le Logement</h3>Le Fonds de Solidarité pour le Logement (FSL) peut vous aider à
      accéder à un logement ou à le conserver. Il peut aussi vous aider en cas de difficulté à régler les factures liées
      à
      vos charges de logement. <br><br>Le FSL peut : <br>
      <ul>
        <li>Se porter garant pour vous ; il peut aussi vous aider à payer le dépôt de garantie, et d’autres frais liés à
          l’entrée dans votre logement (assurance…).
        </li>
        <li>Vous aider pour payer votre loyer, vos charges, vos factures d’eau, d’électricité…</li>
        <li>Vous accompagner dans vos démarches juridiques, techniques et financières et sociales afin de traiter votre
          situation de mal-logement.
        </li>
        <li>Vous aider à adapter votre logement à la perte d'autonomie.</li>
        <li>Vous mettre en lien avec le bon interlocuteur pour chercher un logement locatif en Isère.</li>
      </ul>
      <br><strong>En savoir plus : </strong><a href="https://www.isere.fr/aides-au-logement" class="lien_externe">FSL
        Isère</a><br><br>
      <br class="separateur">
    </div>
  </div>
</div>